$l:65px;

:host{
  height:100vh;
  width:100vw;
  display:flex;
  flex-flow:row nowrap;
  overflow:hidden;
}
aside{
  width:$l;
  height:100vh;
}
main{
  width:calc(100vw - $l);
  height:100vh;
}
main > * {
  width:calc(100vw - $l);
}
