$l: 60px;
$foot: 150px;
$foot-color: #f22f1d;

:host {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}

aside {
  width: $l;
  height: 100vh;
}

main {
  width: calc(100vw - $l);
  flex-direction: column;
}
main > header {
  width:100%;
  height:$l;
}
main > section{
  width:100%;
  height:calc(100vh - $l);
}
