<section>
    <article>
        <mat-icon fontIcon="close" (click)="closeDialog()"></mat-icon>
    </article>
    <article *ngFor="let informations of events">
        <div *ngIf="selectedId === informations.id">
            <h1>Voici les données de votre enregistrement sur le journal des repas</h1>
            <p id="date">Le {{ informations.start | date: 'dd/MM/yyyy  à HH:mm' }}</p>
            <p>Vous avez mangé le {{ informations.choice }} {{ informations.title }}</p>
            <p>Informations complémentaires :</p>
            <span>
    <!-- Le bloc de couleur - classe dynamique pour du CSS différent suivant la valeur de {{ informations.color }} -->    
                <p class="{{ informations.color }}"></p>
                <p>{{ informations.color }}</p>
            </span>
            <p>{{ informations.observations }}</p>
        </div>
    </article>
</section>
