<header>
<h2>{{ cheri.nom }}</h2>
</header>
<mat-tab-group>
  <mat-tab [label]="l.t.profil['INFOS_SANTE']">
    <section>
      <h3>{{ l.t.profil['INFOS_SANTE'] }}</h3>
    </section>
  </mat-tab>
  <mat-tab [label]="l.t.profil['SYNTHESE']">
    <section>
      <h3>{{ l.t.profil['SYNTHESE'] }}</h3>
    </section>
  </mat-tab>
  <mat-tab [label]="l.t.profil['HISTORIQUE']">
    <section>
      <h3>{{ l.t.profil['HISTORIQUE'] }}</h3>
    </section>
  </mat-tab>
</mat-tab-group>
<footer>
  <h2>{{ l.t.profil['ECOSYSTEME'] }}</h2>
  <section>
    <article>
      <h3>{{ l.t.pages['CORPS_MEDICAL'] }}</h3>
    </article>
    <article>
      <h3>{{ l.t.pages['COMMUNAUTE'] }}</h3>
    </article>
    <article>
      <h3>{{ l.t.pages['ANIMATIONS'] }}</h3>
    </article>
  </section>
</footer>
