<section id="exercices">
  <header>
    <a routerLink="/">Tiaki</a>
    <p>Optométrie ></p>
    <img [src]="avatar" />
    <p>Le parcours de Cheer Émilie</p>
  </header>
  <section class="exercice">
    <article *ngFor="let exercice of exercices">
      <img [src]="exercice.photo" alt="photo-exercice" />
      <h6>{{ exercice.titre }}</h6>
      <p>{{ exercice.description }}</p>
      <div>
        <img [src]="exercice.horloge" alt="horloge" />
        <p>Durée</p>
        <img [src]="exercice.materiel" alt="materiel" />
        <p>Matériels</p>
      </div>
    </article>
  </section>
  <footer>
    <app-bottom-bar-opto></app-bottom-bar-opto>
  </footer>
</section>
