main>footer {
  background-color: #f28705;
}

#exercices>header,
#exercices>header a {
  color: #f28705;
}

#exercices {
  ::-webkit-scrollbar {
    background-color: #f7b757;
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    height: 200px;
    background-color: #f28705;
  }
}