<section>
  <article>
    <a href="https://tiaki-app.org" title="Voir le site de Tiaki" target="_blank"><img
        src="assets/images/logos/tiaki.svg" alt="Logo Tiaki" class="logo"></a>
    <h2>Une application pour les aidants</h2>
    <p>Tiaki est en cours de développement. Les premiers tests seront ouverts à partir du mois de mars prochain. Ce que
      vous découvrirez est fourni à titre d'information pour vous donner une vision approximative de ce à que seront ses
      fonctionnalités.</p>
    <p>Nous travaillons chaque jour à mettre en oeuvre des solutions pour les aidants et les personnes qu'ils aident,
      dépendantes et/ou héndicapées.</p>
    <button routerLink="/intranet" class="bg-admin">Voir le prototype en cours</button>
    <div class="alerte bg-admin">
      L'application Tiaki n'a pas encore de version mobile, elle sera disponible dans quelques semaines. Merci de
      consulter le logiciel sur votre ordinateur.
    </div>
  </article>

  <article>
    <form (submit)="conn.getAuth()">
      <h2>{{ l.t.form['CONNEXION'] }}</h2>
      <mat-form-field appearance="fill">
        <mat-label>{{ l.t.form['ID'] }} *</mat-label>
        <input matInput [(ngModel)]="conn.connexion.id" [placeholder]="l.t.form['ID']" name="id">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ l.t.form['MDP'] }} *</mat-label>
        <input matInput type="password" [(ngModel)]="conn.connexion.mdp" [placeholder]="l.t.form['MDP']" name="mdp">
        <mat-icon matSuffix>key</mat-icon>
      </mat-form-field>
      <fieldset>
      <button type="reset" class="bg-annule">{{ l.t.pages['ANNULER'] }}</button>
      <button class="bg-valide">{{ l.t.form['IDENTIFIER'] }}</button></fieldset>
    </form>
    <button><mat-icon matSuffix>autorenew</mat-icon>{{ l.t.form['MDP'] }}</button>
    <button routerLink="/inscription"><mat-icon matSuffix>person_add</mat-icon>{{ l.t.form['COMPTE_CREE'] }}</button>
    <p>* utilisez cheri / cheri comme identifiant et mot de passe</p>
  </article>
</section>
<footer>
  <h4>Les partenaires du projet,<br>chaleureusement remerciés</h4>
  <a href="https://tiaki-app.org/partenaires" title="Partenaire STEP" target="_blank">
    <img src="assets/images/logos/logo_step.png" alt="Logo de la société STEP"></a>
  <a href="https://tiaki-app.org/partenaires" title="Partenaire Cap Gemini" target="_blank"><img
      src="assets/images/logos/logo_capgemini.jpg" alt="Logo de la société Cap Gemini"></a>
  <a href="https://tiaki-app.org/partenaires" title="Partenaire Région Nouvelle Aquitaine" target="_blank"><img
      src="assets/images/logos/logo-naq.svg" alt="Logo de la région nouvelle-aquitaine"></a>
  <a href="https://tiaki-app.org/partenaires" title="Partenaire Département des Pyrénées-Atlantiques" target="_blank"><img
      src="assets/images/logos/logo_CD64.png" alt="Logo ddu département du 64"></a>
  <a href="https://tiaki-app.org/partenaires" title="Partenaire Danser sous la pluie"
    target="_blank"><img src="assets/images/logos/logo_dansesouslapluie.png"
      alt="Logo de l'association Danser sous la pluie'"></a>
  <a href="https://tiaki-app.org/partenaires" title="Partenaire exlineo" target="_blank"><img
      src="assets/images/logos/logo_exlineo.png" alt="Logo de la société exlineo"></a>
</footer>
