    :host{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    
        app-infos{
            width: 70vw;
            height: 50%;
        }
        form{
            width: 30vw;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
    
            *{
                margin: 5px 10px;
            }
    
            div{
                display: flex;
                flex-flow: row nowrap;
    
                input{
                    width: fit-content;
                    border: none;
                    padding: 8px 16px;
                }
    
            }
            a{
                text-align: center;
            }
        }
    }
