<!-- <app-infos></app-infos> -->
<!-- <form #f="ngForm">
        <input name="id" [(ngModel)]="conn.connexion.id.value" #ctlId="ngModel"  [placeholder]="conn.connexion.id.placeholder" required>
        <span *ngIf="ctlId.invalid"> Vous devez renseigner vôtre identifiant ou un mail </span>
        <input name="mdp"  [(ngModel)]="conn.connexion.mdp.value" #ctlMdp="ngModel" type="password" [placeholder]="conn.connexion.mdp.placeholder">
        <span *ngIf="ctlMdp.invalid"> Mot de passe? </span>
        <div>
            <input type="reset" value="Annuler">
            <input type="submit" value="Se connecter" [disabled]="f.invalid">
        </div>
        <a routerLink='intranet'>Cliquer ici pour accéder à l'application en cours de développement </a>
    </form> -->
<section>
  <!-- <header>
      <a href="https://tiaki-app.org" title="Accéder au site de Tiaki"><img src="assets/images/logos/twinkle.svg" alt="Logo Twinkle Star for 64" class="logo"></a>
  </header> -->
  <article>
    <a href="https://tiaki-app.org" title="Voir le site de Tiaki" target="_blank"><img
        src="assets/images/logos/tiaki.svg" alt="Logo Tiaki" class="logo"></a>
    <!-- <h1>Tiaki</h1> -->
    <h2>Une application pour les aidants</h2>
    <p>L'application en cours de développement apportera des outiles pour les aidants de personnes dépendantes et en
      situation de handicap.</p>
    <p>Elle regroupera des fonctionnalités pour élaborer des plats, suivre des exercices de kinésithérapie et
      d'optométrie quotidien et offrir des outils de gestion de rendez-vous et des soins.</p>
    <button routerLink="/intranet" class="bg-admin">Voir le prototype en cours</button>
    <div class="alerte bg-admin">
      L'application Tiaki n'a pas encore de version mobile, elle sera disponible dans quelques semaines. Merci de consulter le logiciel sur votre ordinateur.
    </div>
  </article>

  <footer>
    <h4>Les partenaires du projet,<br>chaleureusement remerciés</h4>
    <a href="https://step.eo" title="Partenaire STEP" target="_blank"><img src="assets/images/logos/logo_step.png"
        alt="Logo de la société STEP"></a>
    <a href="https://www.capgemini.com/fr-fr/" title="Partenaire Cap Gemini" target="_blank"><img
        src="assets/images/logos/logo_capgemini.jpg" alt="Logo de la société Cap Gemini"></a>
    <a href="https://www.nouvelle-aquitaine.fr/" title="Partenaire Région Nouvelle Aquitaine" target="_blank"><img
        src="assets/images/logos/logo-naq.svg" alt="Logo de la région nouvelle-aquitaine"></a>
    <a href="https://www.helloasso.com/associations/danser-sous-la-pluie" title="Partenaire Danser sous la pluie"
      target="_blank"><img src="assets/images/logos/logo_dansesouslapluie.png"
        alt="Logo de l'association Danser sous la pluie'"></a>
    <a href="https://exlineo.com" title="Partenaire exlineo" target="_blank"><img
        src="assets/images/logos/logo_exlineo.png" alt="Logo de la société exlineo"></a>
  </footer>
</section>
