<section id="exercices">
  <header id="head">
    <a routerLink="/intranet">Tiaki</a>
  </header>
  <section class="exercice">
    <article *ngFor="let recette of recettes.recettes">
      <div class="photo-exo">
        <img [src]="recette.photo" alt="photo-recette">
      </div>
      <div>
        <h6>{{ recette.titre }}</h6>
        <div>
          <img [src]="recette.preparationFig" alt="homme-casque" />
          <p>{{ recette.preparationTxt }}</p>
          <img [src]="recette.ingredientsFig" alt="plus/moins" />
          <p>{{ recette.ingredientsTxt }}</p>
          <img [src]="recette.valeurFig" alt="horloge" />
          <p>{{ recette.valeurTxt }}</p>
          <img [src]="recette.complexiteFig" alt="complexité" />
          <p>{{ recette.complexiteTxt }}</p>
        </div>
      </div>
    </article>
  </section>
</section>
 <app-bottom-bar-nutri></app-bottom-bar-nutri>

