<section id="recettes">
  <article>
    <form class="example-form">
      <input
        id="input-programmes"
        class="example-input"
        type="search"
        name="myProg"
        placeholder="Recherche libre"
        [formControl]="control"
      />
      <mat-option></mat-option>
    </form>
    <!-- <app-input></app-input> -->
    <input
      type="checkbox"
      id="input-ckeckbox"
      name="observations"
      value="observation"
    />
    <label for="input-ckeckbox">Tenir comptes de mes observations</label>
    <input
      type="checkbox"
      id="input-ckeckbox"
      name="jamaisFait"
      value="jamaisFait"
    />
    <label for="jamaisFait">Jamais faites </label>
  </article>
  <section>
    <article *ngFor="let recette of recettes.recettes">
      <div class="photo-recettes">
        <img [src]="recette.photo" alt="photo-recette" />
      </div>
      <div>
        <h6>{{ recette.titre }}</h6>
        <div>
          <div>
            <img [src]="recette.preparationFig" alt="homme-casque" />
            <p>{{ recette.preparationTxt }}</p>
          </div>
          <div>
            <img [src]="recette.ingredientsFig" alt="plus/moins" />
            <p>{{ recette.ingredientsTxt }}</p>
          </div>
          <div>
            <img [src]="recette.valeurFig" alt="horloge" />
            <p>{{ recette.valeurTxt }}</p>
          </div>
          <div>
            <img [src]="recette.complexiteFig" alt="complexité" />
            <p>{{ recette.complexiteTxt }}</p>
          </div>
        </div>
      </div>
    </article>
  </section>
</section>
<!-- Afficher le menu -->
<app-menu [idMenu]="'nutrition'" [classe]="'bg-nutrition'"></app-menu>
