$font-family: "Raleway", sans-serif;
$card-nutri: #d9042b;
$card-kine: #f22f1d;
$card-opto: #f28705;
$aside-color1: #270140;
$aside-color2: #805e96;
$aside-color3: #f0c02e;


#recettes > #head > a ,#recettes > #head > p {
  color: $card-nutri;
}
#recettes{
  ::-webkit-scrollbar {
    background-color: #f09c94;
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    height: 200px;
    background-color: #f22f1d;
  }
}

