$font-family: "Raleway", sans-serif;
$card-nutri: #d9042b;
$card-kine: #f22f1d;
$card-opto: #f28705;
$aside-color1: #270140;
$aside-color2: #805e96;
$aside-color3: #f0c02e;

#exercices>#head>a,
#exercices>#head>p {
  color: #805e96;
}

#exercices {
  ::-webkit-scrollbar {
    background-color: #af6ee4;
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    height: 200px;
    background-color: $aside-color2;
  }
}

#exercices section article>div:nth-child(2)>div>img {
  height: 2vh;
  width: 1vw;
}