$font-family: "Raleway", sans-serif;
$card-nutri: #d9042b;
$card-kine: #f22f1d;
$card-opto: #f28705;
$aside-color1: #270140;
$aside-color2: #805e96;
$aside-color3: #f0c02e;
$historique: #F8E6AF;
$button-color1:#33BB27;

mat-label { // La font-size de tout les input
    font-size: 1vw;
 }
 /* Ci-dessous CSS pour l'input "Rechercher un ingrédients */
#mat-input-3 {
    font-size: 1vw;
 }
#inputSearch {
     font-size: 0.7vw;
 }

 #mainJournal {
    font-family: $font-family;
    height: 100vh;
    display: flex;
    flex-direction: row;    
}    

// Section permettant de voir l'historique des journaux
    section:nth-child(2){
        background-color: $historique;
        width: 13%;
        display: flex;
        flex-direction: column;
        text-align: center;        
            div{
                margin-top: 2vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 18%;
                justify-content: flex-end;
                gap: 1vw;
                img{
                    height: 4vw;
                }
                p{ // La balise <p>Historiques des journaux sur ces activités</p>
                    font-size: 1rem;
                    font-weight: 600;
                    margin: 4px;
                    width: 100%;
                    @media screen and (max-width: 1200px) { 
                        font-size: 0.9rem;                       
                    }
                }
            }
            ul{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                height: 30%;
                li{
                    text-align: center;
                    font-size: 1rem;
                    @media only screen and (max-width: 1280px) {
                        font-size: 0.8rem;
                    }                    
                }
            }            
        }
            
// Section qui comporte le formulaire d'enregistrement du journal
    section:nth-child(3){        
        width: 61%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4vw;
        overflow-y: auto;        

    // Article du titre avec la ligne de dashed
        article:nth-child(1){
            width: 80%;
            height: 10%;
            border-bottom: 1px dashed black;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            h3{ // La balise <h3>Ajouter un journal</h3>
                align-self:flex-start ;
                font-size: 1.5rem;
                font-weight: 600;
            }
        }
    //Article comportant le formulaire
        article:nth-child(2){
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            form{
                width: 80%;
                //height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                
                mat-form-field:nth-child(1) { // L'input avec le label "Objet"
                    width: 80%;                                                        
                }
                              
                // Ci-dessous le CSS pour les 3 boutons (Partager Annuler Enregistrer)
                .spanBouton {
                    display: flex;
                    justify-content: space-between;
                    button {

                        font-size: 0.8vw;
                        width: 7vw;
                    }
                    //align-content: stretch;
                    .mat-mdc-raised-button:not(:disabled) { // Le bouton orange Partager
                        background-color: $card-opto;
                        color: #ffffff;
                        }
                    div { // La div qui contient les 2 boutons
                        display: flex;
                        width: fit-content;
                        gap: 2vw; // L'écart entre les 2 boutons
                        //height: 10%;
                        .mat-mdc-raised-button:not(:disabled):nth-child(1) { // Le bouton jaune Annuler
                            background-color: $aside-color3;
                            color: #ffffff;
                        }
                        .mat-mdc-raised-button:disabled:nth-child(2) { // Le bouton vert Enregistrer désactivé
                            background-color: $button-color1;
                            color: #ffffff;
                            opacity: 50%;
                        }
                        .mat-mdc-raised-button:not(:disabled):nth-child(2) { // Le bouton vert Enregistrer activé
                            background-color: $button-color1;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    //Section Concerner permettant de choisir les activités éffectué sur l'application 
    .concerner{
        background-color: $historique;
        width: 13%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 0.5vw;
        
        h4{ // La balise <h4>Concerne</h4>
            font-size: 1.5rem;
            font-weight: 600;
        }        
        h5{
            font-size: 1rem;
            font-weight: 600;
            margin: 0;
        }
        p{
            font-size: 1rem;
            margin: 0;            
        }

        .buttonPlats{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 10px;

            button{
                background-color: $card-nutri;
                border: 1px solid #999;
                text-align: center;
                font-size: 0.7vw;
                color: #ffffff;
                border-radius: 8px;
                width: 5vw;
                height: 1.5vw;

            }
        }
        .mat-mdc-form-field {
            width: 95%;             
        }
        /* input{
            background-color: transparent;
            align-self: center;
            width: 70%;
            border-radius: 8px ;
            height: 1vw;
            border-color: #ffffff;
        } */

        .buttonKine{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 10px;

            button{
                background-color: $card-kine;
                border: 1px solid #999;
                font-size: 0.7vw;
                color: #ffffff;
                border-radius: 8px;
                width: 5vw;
                height: 1.5vw;
            }
        }
        .buttonOpto{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 10px;

            button{
                background-color: $card-opto;
                border: 1px solid #999;
                text-align: center;
                font-size: 0.7vw;
                color: #ffffff;
                border-radius: 8px;
                width: 5vw;
                height: 1.5vw;
            }
        }
        .buttonMedecin{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 10px;

            button{
                background-color: transparent;
                border: 1px solid #ffffff;
                text-align: center;
                font-size: 0.7vw;
                border-radius: 8px;
                width: 5.3vw;
                height: 1.5vw;
            }
        }
        .buttonOrg{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 10px;

            button{
                background-color: transparent;
                border: 1px solid #ffffff;
                text-align: center;
                font-size: 0.7vw;
                border-radius: 8px;
                width: 5.3vw;
                height: 1.5vw;
            }
        }
    }

 
 
 
 
 
 
 
 
 
 
 
    /* $card-opto-hover: #cf7507;
    $aside-color3-hover: #c29d2e;
    $button-color1-hover: #2b9b1c;
  */
    // Button de PrieNg Css personnalisé
 /* :host::ng-deep { //:host::ngdeep pour préciser les modifications CSS des composants PrimeNg
    .partager { //Le bouton orange Partager et son hover
        background-color: $card-opto;
        border-color: $card-opto;
        font-size: 0.7vw;
        border-radius: 0px;

        :hover{
            background-color: $card-opto-hover;
            border-color: $card-opto-hover;
        }
    }

    .annuler { //Le bouton vert Annuler et son hover
        background-color: $button-color1;
        border-color: $button-color1;
        font-size: 0.7vw;
        border-radius: 0px;
       

        :hover{
            background-color: $button-color1-hover;
            border-color: $button-color1-hover;
        }
    }

    .p-button.enregistrer{ //Le bouton jaune Enregistrer - avec une opacity gérer dans le html via [disabled]
        background-color: $aside-color3;
        border-color: $aside-color3;
        border-radius: 0px;
        font-size: 0.7vw;
       

    }

    .p-button.enregistrer:hover{ //Le hover du bouton jaune Enregistrer - ne fonctionne pas en imbrication SCSS - à cause de [disabled] ?
    background-color: $aside-color3-hover;
    border-color: $aside-color3-hover;
    }
    .p-confirm-dialog-accept{
        background-color: $button-color1;
        border-color: $button-color1;
    }
    .p-confirm-dialog-accept:hover{
        background-color: $button-color1-hover;
        color: #ffffff;
        border-color: $button-color1-hover;
    }

    .p-confirm-dialog-reject{
        background-color: $aside-color3;
        border-color: $aside-color3;
        color: #ffffff;
    }
    .p-confirm-dialog-reject:not([disabled]):hover{
        background-color: $aside-color3-hover;
        border-color: $aside-color3-hover;
        color: #ffffff;
    }
} */


/* span:nth-child(1){
                    width: 100%;
                    height: 2vw ;
                    
                    input{
                        width: 80%;
                        height: 100%;
                    }
                    label{
                        font-size: 1vw;
                    }
                } */
                /* span:nth-child(2){
                    width: 100%;
                    height: 10vw;
                    
                    textarea{
                        width: 100%;
                        height: 100%;
                    }
                    label{
                        font-size: 1vw;
                    }
                } */
                /* span:nth-child(3){
                    height: 20%;
                    width: 100%;

                    textarea{
                        height: 100%;
                        width: 100%;
                    }
                    label{
                        font-size: 1vw;
                    }
                } */
                /* span:nth-child(4){
                    
                    width: 80%;
                    .ui-dropdown {
                    width: 100%;
                    }
                } */