main {
  font-family: "Raleway", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

main section:nth-child(1) {
  background-color: #f0c02e;
  width: 13%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  align-items: center;
  gap: 1vw;
}

main section:nth-child(1) article:nth-child(1) a {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  text-decoration: none;
  width: 100%;
  color: #ffffff;
  font-size: 3vw;
  font-weight: 100;
}

main section:nth-child(1) article:nth-child(1) a div {
  border-bottom: dashed 1px rgb(255, 255, 255);
  width: 3vw;
  margin-bottom: 10px;
}

main section:nth-child(1) article:nth-child(1) a span {
  font-weight: 100;
}

main section:nth-child(1) article:nth-child(2) {
  border-bottom: 1px white dashed;
}

main section:nth-child(1) article:nth-child(2) h2 {
  margin: 0;
  font-size: 1.4vw;
  font-weight: 700;
  width: 60%;
}

main section:nth-child(1) .medecin {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
  height: 30%;
  width: 100%;
}

main section:nth-child(1) .medecin div {
  display: flex;
  align-items: flex-end;
  gap: 9px;
  justify-content: flex-start;
}

main section:nth-child(1) .medecin div img {
  width: 3vw;
}

main section:nth-child(1) .medecin div h4 {
  margin: 0;
  font-size: 1.2vw;
}

main section:nth-child(1) .medecin span {
  margin: 4px;
  font-size: 0.8vw;
  margin-left: 2vw;
}

main section:nth-child(1) .realisation {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 30%;
  justify-content: space-evenly;
  width: 100%;
}

main section:nth-child(1) .realisation div {
  display: flex;
  align-items: flex-end;
  gap: 9px;
  justify-content: flex-start;
}

main section:nth-child(1) .realisation div img {
  width: 3vw;
}

main section:nth-child(1) .realisation div h4 {
  margin: 0;
  font-size: 1.2vw;
}

main section:nth-child(1) .realisation span {
  margin: 4px;
  font-size: 0.8vw;
  margin-left: 2vw;
}

section:nth-child(2) {
  background-color: #F8E6AF;
  width: 13%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

section:nth-child(2) div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 18%;
  justify-content: flex-end;
  gap: 1vw;
}

section:nth-child(2) div img {
  height: 4vw;
}

section:nth-child(2) div p {
  font-size: 1vw;
  font-weight: 600;
  margin: 4px;
  width: 100%;
}

section:nth-child(2) ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 30%;
}

section:nth-child(2) ul li {
  text-align: center;
  font-size: 0.8vw;
  font-family: "Courier New", Courier, monospace;
}

section:nth-child(3) {
  width: 61%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vw;
}

section:nth-child(3) article:nth-child(1) {
  width: 80%;
  height: 10%;
  border-bottom: 1px dashed black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

section:nth-child(3) article:nth-child(1) h3 {
  align-self: flex-start;
  font-size: 1.5vw;
}

section:nth-child(3) article:nth-child(2) {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

section:nth-child(3) article:nth-child(2) form {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section:nth-child(3) article:nth-child(2) form span:nth-child(1) {
  width: 100%;
  height: 2vw;
}

section:nth-child(3) article:nth-child(2) form span:nth-child(1) input {
  width: 80%;
  height: 100%;
}

section:nth-child(3) article:nth-child(2) form span:nth-child(1) label {
  font-size: 1vw;
}

section:nth-child(3) article:nth-child(2) form span:nth-child(2) {
  width: 100%;
  height: 10vw;
}

section:nth-child(3) article:nth-child(2) form span:nth-child(2) textarea {
  width: 100%;
  height: 100%;
}

section:nth-child(3) article:nth-child(2) form span:nth-child(2) label {
  font-size: 1vw;
}

section:nth-child(3) article:nth-child(2) form span:nth-child(3) {
  height: 20%;
  width: 100%;
}

section:nth-child(3) article:nth-child(2) form span:nth-child(3) textarea {
  height: 100%;
  width: 100%;
}

section:nth-child(3) article:nth-child(2) form span:nth-child(3) label {
  font-size: 1vw;
}

section:nth-child(3) article:nth-child(2) form span:nth-child(4) {
  width: 80%;
}

section:nth-child(3) article:nth-child(2) form span:nth-child(4) .ui-dropdown {
  width: 100%;
}

section:nth-child(3) article:nth-child(2) form div {
  display: flex;
  justify-content: space-between;
}

section:nth-child(3) article:nth-child(2) form div div:nth-child(3) {
  display: flex;
  width: 30%;
  height: 10%;
}

.concerner {
  background-color: #F8E6AF;
  width: 13%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.concerner h3 {
  font-size: 1.3vw;
}

.concerner article {
  margin: 1vw;
}

.concerner h5 {
  font-size: 0.8vw;
  margin: 0;
}

.concerner .buttonPlats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.concerner .buttonPlats button {
  background-color: #d9042b;
  border: 1px solid #999;
  text-align: center;
  font-size: 0.6vw;
  color: #ffffff;
  border-radius: 8px;
  width: 5vw;
  height: 1.5vw;
}

.concerner input {
  background-color: transparent;
  align-self: center;
  width: 70%;
  border-radius: 8px;
  height: 1vw;
  border-color: #ffffff;
}

.concerner .buttonKine {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.concerner .buttonKine button {
  background-color: #f22f1d;
  border: 1px solid #999;
  font-size: 0.6vw;
  color: #ffffff;
  border-radius: 8px;
  width: 5vw;
  height: 1.5vw;
}

.concerner .buttonOpto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.concerner .buttonOpto button {
  background-color: #f28705;
  border: 1px solid #999;
  text-align: center;
  font-size: 0.6vw;
  color: #ffffff;
  border-radius: 8px;
  width: 5vw;
  height: 1.5vw;
}

.concerner .buttonMedecin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.concerner .buttonMedecin button {
  background-color: transparent;
  border: 1px solid #ffffff;
  text-align: center;
  font-size: 0.6vw;
  border-radius: 8px;
  width: 5vw;
  height: 1.2vw;
}

.concerner .buttonOrg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.concerner .buttonOrg button {
  background-color: transparent;
  border: 1px solid #ffffff;
  text-align: center;
  font-size: 0.6vw;
  border-radius: 8px;
  width: 5vw;
  height: 1.5vw;
}

:host::ng-deep .partager {
  background-color: #f28705;
  border-color: #f28705;
  font-size: 0.7vw;
  border-radius: 0px;
}

:host::ng-deep .partager :hover {
  background-color: #cf7507;
  border-color: #cf7507;
}

:host::ng-deep .annuler {
  background-color: #33BB27;
  border-color: #33BB27;
  font-size: 0.7vw;
  border-radius: 0px;
}

:host::ng-deep .annuler :hover {
  background-color: #2b9b1c;
  border-color: #2b9b1c;
}

:host::ng-deep .p-button.enregistrer {
  background-color: #f0c02e;
  border-color: #f0c02e;
  border-radius: 0px;
  font-size: 0.7vw;
}

:host::ng-deep .p-button.enregistrer:hover {
  background-color: #c29d2e;
  border-color: #c29d2e;
}

:host::ng-deep .p-confirm-dialog-accept {
  background-color: #33BB27;
  border-color: #33BB27;
}

:host::ng-deep .p-confirm-dialog-accept:hover {
  background-color: #2b9b1c;
  color: #ffffff;
  border-color: #2b9b1c;
}

:host::ng-deep .p-confirm-dialog-reject {
  background-color: #f0c02e;
  border-color: #f0c02e;
  color: #ffffff;
}

:host::ng-deep .p-confirm-dialog-reject:not([disabled]):hover {
  background-color: #c29d2e;
  border-color: #c29d2e;
  color: #ffffff;
}

/*# sourceMappingURL=journal.component.css.map */