
<section id="mainJournal">
  <!-- Section avec le logo, les médecins et les réalisations -->
  <section>
    <article>
      <a routerLink="/">        
        <span>Tiaki</span>        
      </a>
    </article>
    <article>
      <h1>Journaux de suivi</h1>
    </article>
    <article class="medecin">
      <div>
        <img [src]="[medecinImg]" alt="logo medecin" />
        <h2>Médecins</h2>
      </div>
      <ul>
        <li *ngFor="let medecin of medecins"> {{ medecin.nom }} </li>
      </ul>
    </article>
    <article class="realisation">
      <div>
        <img [src]="[realisationImg]" alt="logo realisation" />
        <h2>Réalisations</h2>
      </div>
      <ul>
        <li *ngFor="let realisation of realisations">
          {{ realisation.nom }}
        </li>
      </ul>
    </article>
  </section>
  <!-- Section comportant l'historique des journaux -->
  <section>
      <div>
        <img [src]="[pacman]" alt="" />
        <p>Historiques des journaux sur ces activités</p>
      </div>
      <ul>
        <li>15-06-22</li>
        <li>14-06-22</li>
        <li>14-06-22</li>
        <li>11-09-22</li>
        <li>14-06-22</li>
        <li>14-06-22</li>
        <li>14-06-22</li>
      </ul>
  </section>
  <!-- Section Ajouter un journal avec le formulaire -->
  <section>
    <article>
      <h3>Ajouter un journal</h3>
    </article>
    <article>
      <form [formGroup]="formJournal">        
        <mat-form-field appearance="outline">
          <mat-label>Objet</mat-label>
          <input matInput formControlName="objet">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Note</mat-label>
          <textarea matInput rows="8" formControlName="note"></textarea>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-label>Commentaire</mat-label>
          <textarea matInput rows="4" formControlName="commentaire"></textarea>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-label>Relier un journal précédent</mat-label>
          <mat-select formControlName="relier">
            <!-- Ci-dessous je fais un *ngFor sur l'interface reliers qui contient tout les journaux existant -->
            <mat-option *ngFor="let rel of reliers" [value]="rel">{{ rel.nom }}</mat-option>           
          </mat-select>
        </mat-form-field>
        
        <span class="spanBouton">
          <button mat-raised-button color="warn">Partager</button>
          <div>            
            <button mat-raised-button (click)="onCancel()">Annuler</button>
            
            <!-- <p-button (click)="onCancel()" label="Annuler" class="annuler" styleClass="annuler" ></p-button> -->
            <!-- <p-messages [value]="msgs"></p-messages> -->
            <button mat-raised-button type="submit" (click)="onSubmitForm()" [disabled]="formJournal.invalid">Enregistrer</button>
            <!-- Le bouton Enregistrer est disabled si les champs avec Validators.required ne sont pas remplis -->            
          </div>
        </span>
      </form>
    </article>
  </section>
  <!-- Section Concerner permettant de choisir les activités éffectué sur l'application -->
  <section class="concerner">
    <h4>Concerne</h4>
    <h5>Nutrition</h5>
    <p>Plats</p>
    <article class="buttonPlats">
      <button>Salade</button>
      <button>Thon</button>
      <button>Kiwi</button>
      <button>Lasagne</button>
    </article>
    <p>Ingrédients</p>
    <mat-form-field class="example-full-width">
      <mat-label id="inputSearch" >Rechercher un ingrédient</mat-label>
      <input type="search" matInput placeholder="Ex. Courgette">
    </mat-form-field>
      <h5>Kiné</h5>
    <article class="buttonKine">
      <button>Exo 1</button>
      <button>Exo 2</button>
      <button>Exo 3</button>
      <button>Exo 4</button>
    </article>
    <h5>Optométrie</h5>
    <article class="buttonOpto">
      <button>Exo 1</button>
      <button>Exo 2</button>
      <button>Exo 3</button>
      <button>Exo 4</button>
    </article>
    <h5>Médecins concernés</h5>
    <article class="buttonMedecin">
      <button>Dr Genoise</button>
      <button>Dr Lagourge</button>
      <button>Dr Poiton</button>
    </article>
    <h5>Organisme concernés</h5>
    <article class="buttonOrg">
      <button>Clinique</button>
      <button>Association</button>
      <button>Hôpital</button>
    </article>
  </section>
</section>







<!-- <span class="p-float-label">
          <input type="text" formControlName="objet" pInputText />
          <label for="float-input">Objet</label>
        </span> -->

<!-- <span class="p-float-label">
          <textarea
            id="float-input"
            rows="5"
            cols="30"
            formControlName="note"
            pInputTextarea
                      ></textarea>
          <label for="float-input">Note</label>
        </span> -->

<!-- <span class="p-float-label">
          <textarea
            id="float-input"
            rows="5"
            cols="30"
            formControlName="commentaire"
            pInputTextarea
          ></textarea>
          <label for="float-input">Commentaire</label>
        </span> -->

<!-- <span>
    <p-dropdown class="relier" [options]="reliers" placeholder="Relier un journal précédent" optionLabel="nom" [showClear]="true" formControlName="relier"></p-dropdown>
  </span> -->

<!-- <p-button label="Partager" styleClass="partager" class="partager"  [ngStyle]="{'text-align':'center'}" ></p-button> -->
<!-- Ci-dessous le code primeNg pour un bouton annuler et sa confirmation -https://www.primefaces.org/primeng/confirmdialog -->
<!-- <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text" acceptLabel="oui" rejectLabel="non"></p-confirmDialog> -->

<!-- <p-button type="submit" (click)="onSubmitForm()" [disabled]="formJournal.invalid" label="Enregistrer" class="enregistrer" styleClass="enregistrer"></p-button> -->