<section class="outils">
  <!-- Section avec le logo, les médecins et les réalisations - Visible en Desktop -->
  <section>
    <!-- Visible en Desktop -->
    <header>
      <h1>Journaux</h1>
      <h1>de suivi</h1>
    </header>
    <article>
      <div>
        <img src="assets/images/pictos/medecin.svg" alt="logo thérapeutes" />
        <h2>Médecins</h2>
      </div>
      <ul>
        <li *ngFor="let medecin of get.therapeutes">{{ medecin.nom }}</li>
      </ul>
    </article>
    <article>
      <div>
        <img src="assets/images/pictos/whitePacman.svg" alt="logo realisation" />
        <h2>Réalisations</h2>
      </div>
      <ul>
        <li *ngFor="let realisation of realisations">
          {{ realisation.nom }}
        </li>
      </ul>
    </article>
  </section>
  <!-- Section comportant l'historique des journaux -->
  <section>
    <header>
      <img src="assets/images/pictos/medecin.svg" alt="pacman" />
      <!-- Visible en Desktop -->
      <h1>Journaux de suivi</h1>
      <!-- Visible en Tablette -->
      <p>Historiques des journaux sur ces activités</p>
    </header>
    <ul>
      <li *ngFor="let relier of reliers">
        Journal du {{ relier.date | formatDate }} <br />
        {{ relier.objet }}
      </li>
    </ul>
  </section>
  <!-- Section Ajouter un journal avec le formulaire -->
  <section>
    <app-ariane></app-ariane>
    <article>
      <h3>Ajouter un journal</h3>
    </article>
    <article>
      <form [formGroup]="formJournal">
        <mat-form-field appearance="outline">
          <mat-label>Objet</mat-label>
          <input matInput formControlName="objet" />
        </mat-form-field>
        <mat-form-field appearance="outline" id="textarea">
          <mat-label>Description</mat-label>
          <textarea matInput rows="8" formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" id="textarea">
          <mat-label>Commentaire</mat-label>
          <textarea matInput rows="4" formControlName="commentaire"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Relier un journal précédent</mat-label>
          <mat-select formControlName="relier">
            <!-- Ci-dessous je fais un *ngFor sur l'interface reliers qui contient tout les journaux existant -->
            <mat-option *ngFor="let rel of reliers" [value]="rel">{{ (rel.date | formatDate) + " - " + rel.objet }}</mat-option>
          </mat-select>
        </mat-form-field>
        <span class="spanBouton">
          <button mat-raised-button color="warn">Partager</button>
          <div>
            <button mat-raised-button (click)="onCancel()">Annuler</button>
            <button
              mat-raised-button
              type="submit"
              (click)="onSubmitForm()"
              [disabled]="formJournal.invalid"
            >
              Enregistrer
            </button>
            <!-- Le bouton Enregistrer est disabled si les champs avec Validators.required ne sont pas remplis -->
          </div>
        </span>
      </form>
    </article>
  </section>
  <!-- Section Concerner permettant de choisir les activités éffectué sur l'application - Visible en Desktop -->
  <section>
    <h4>Concerne</h4>
    <h5>Nutrition</h5>
    <p>Plats</p>
    <article class="nutrition">
      <button>Salade</button>
      <button>Thon</button>
      <button>Kiwi</button>
      <button>Lasagne</button>
    </article>
    <p>Ingrédients</p>
    <mat-form-field class="nutrition">
      <mat-label id="inputSearch">Rechercher un ingrédient</mat-label>
      <input type="search" matInput placeholder="Ex. Courgette" />
    </mat-form-field>
    <h5>Kiné</h5>
    <article class="kine">
      <button>Exo 1</button>
      <button>Exo 2</button>
      <button>Exo 3</button>
      <button>Exo 4</button>
    </article>
    <h5>Optométrie</h5>
    <article class="opto">
      <button>Exo 1</button>
      <button>Exo 2</button>
      <button>Exo 3</button>
      <button>Exo 4</button>
    </article>
    <h5>Médecins concernés</h5>
    <article class="buttonMedecin">
      <button>Dr Genoise</button>
      <button>Dr Lagourge</button>
      <button>Dr Poiton</button>
    </article>
    <h5>Organisme concernés</h5>
    <article class="buttonOrg">
      <button>Clinique</button>
      <button>Association</button>
      <button>Hôpital</button>
    </article>
  </section>
</section>
