
<main>
  <!-- Section avec le logo, les médecins et les réalisations -->
  <section>
    <article>
      <a routerLink="/">
        <div></div>
        <span>Tiaki</span>
        <div></div>
      </a>
    </article>
    <article>
      <h2>Journaux de suivi</h2>
    </article>
    <article class="medecin">
      <div>
        <img [src]="[medecinImg]" alt="logo medecin" />
        <h4>Médecins</h4>
      </div>
      <span *ngFor="let medecin of medecins"> .{{ medecin.nom }} </span>
    </article>
    <article class="realisation">
      <div>
        <img [src]="[realisationImg]" alt="logo realisation" />
        <h4>Réalisations</h4>
      </div>
      <span *ngFor="let realisation of realisations">
        .{{ realisation.nom }}
      </span>
    </article>
  </section>
  <!-- Section comportant l'historique des journaux -->
  <section>
      <div>
        <img [src]="[pacman]" alt="" />
        <p>Historiques des journaux sur ces activités</p>
      </div>
      <ul>
        <li>15-06-22 : Lorem</li>
        <li>14-06-22 : Ipsum</li>
        <li>14-06-22 : Ipsum</li>
        <li>11-09-22 : lorem</li>
        <li>14-06-22 : lorem</li>
        <li>14-06-22 : Lorem</li>
        <li>14-06-22 : Ipsum</li>
      </ul>
  </section>
  <!-- Section Ajouter un journal avec le formulaire -->
  <section>
    <article>
      <h3>Ajouter un journal</h3>
    </article>
    <article>
      <form >
        <span class="p-float-label">
          <input type="text" formControlName="objet" pInputText />
          <label for="float-input">Objet</label>
        </span>
        <span class="p-float-label">
          <textarea
            id="float-input"
            rows="5"
            cols="30"
            formControlName="note"
            pInputTextarea
                      ></textarea>
          <label for="float-input">Note</label>
        </span>
        <span class="p-float-label">
          <textarea
            id="float-input"
            rows="5"
            cols="30"
            formControlName="commentaire"
            pInputTextarea
          ></textarea>
          <label for="float-input">Commentaire</label>
        </span>
      
      </form>
    </article>
  </section>
  <!-- Section Concerner permettant de choisir les activités éffectué sur l'application -->
  <section class="concerner">
    <h3>Concerne</h3>
    <h5>Nutrition</h5>
    <h5>Plats</h5>
    <article class="buttonPlats">
      <button>Plat truc</button>
      <button>Plat machin</button>
      <button>Plat muche</button>
      <button>Plat truc </button>
    </article>
    <h5>Ingrédients</h5>
    <input type="search" />
    <h5>Kiné</h5>
    <article class="buttonKine">
      <button>Exo 1</button>
      <button>Exo 2</button>
      <button>Exo 3</button>
      <button>Exo 4</button>
    </article>
    <h5>Optométrie</h5>
    <article class="buttonOpto">
      <button>Exo 1</button>
      <button>Exo 2</button>
      <button>Exo 3</button>
      <button>Exo 4</button>
    </article>
    <h5>Médecins concernés</h5>
    <article class="buttonMedecin">
      <button>Doc Truc</button>
      <button>Lambda</button>
      <button>Doc Beta</button>
    </article>
    <h5>Organisme concernés</h5>
    <article class="buttonOrg">
      <button>Org lambda</button>
      <button>Org Beta</button>
      <button>Org Alpha</button>
    </article>
  </section>
</main>
