<app-aside-bar></app-aside-bar>
<main>
    <section>
        <a routerLink="/"><span>Tiaki</span><div></div></a> 
        <article>
          <input type="search">
          <input type="checkbox" id="allergie" name="allergie" value="allergie">
          <label for="allergie">Tenir compte de mes allergies </label>
          <input type="checkbox" id="jamaisFait" name="jamaisFait" value="jamaisFait">
          <label for="jamaisFait">Jamais faites </label>
        </article>   
    </section>
    <app-bottom-bar-kine></app-bottom-bar-kine>
  </main>
