:host {
  background: url('../../../assets/images/bg/connexion.jpg') 50% no-repeat;
  background-size: cover;
  display:flex;
  height:100%;
  width: 100%;
  flex-flow: column nowrap;
}
section{
  flex-flow: row nowrap;
  width:100%;
  height:calc(100% - 80px);
}
article {
  margin: auto;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 25px;
  background-color: white;
  width: 75%;
}
fieldset{
  justify-content: center;
}
.alerte{
  padding:15px;
  margin:25px 20px;
  display: none;
}
footer {
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  padding: 20px;
  width: fit-content;
  align-self: flex-end;
  height:80px;
}

footer>* {
  margin: 0 10px;
}

footer img {
  max-height: 50px;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

form * {
  margin: 5px 10px;
}

form div {
  display: flex;
  flex-flow: row nowrap;
  width:100%;
  justify-content: center;
}

form div input {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  padding: 8px 16px;
}

app-infos {
  width: 70vw;
  height: 100%;
}

@media screen and (max-width: 980px) {
  article {
    margin: auto 15%;
    max-width: 100%;
  }
  article button{
    display:none;
  }
  .alerte{
    display: flex;
  }
}
