<a class="carousel-prev" (click)="prevSlide()"></a>
<div class="carousel">
  <div class="carousel-container" #carouselContainer>
    <div
      class="carousel-slide"
      *ngFor="let item of items; let i = index"
      [ngClass]="{ active: i === currentSlide }"
      (click)="onCarouselItemClick(item)"
    >
      <img [src]="item.photo" alt="Image" />
      <p>{{ item.titre }}</p>
    </div>
  </div>
  <!-- <a class="carousel-prev" (click)="prevSlide()"></a>
  <a class="carousel-next" (click)="nextSlide()"></a> -->
</div>
<a class="carousel-next" (click)="nextSlide()"></a>
