<!-- <a class="carousel-prev" (click)="prevSlide()"></a> -->
<mat-icon aria-hidden="false" aria-label="" fontIcon="arrow_back_ios" class="opto mat-icone" (click)="prevSlide()"></mat-icon>
<div class="carousel">
  <div class="carousel-container" #carouselContainer>
    <div
      class="carousel-slide"
      *ngFor="let item of items; let i = index"
      [ngClass]="{ active: i === currentSlide }"
      (click)="onCarouselItemClick(item)"
    >
      <img [src]="item.media!.url" alt="Image" />
      <p>{{ item.titre }}</p>
    </div>
  </div>
  <!-- <a class="carousel-prev" (click)="prevSlide()"></a>
  <a class="carousel-next" (click)="nextSlide()"></a> -->
</div>
<!-- <a class="carousel-next" (click)="nextSlide()"></a> -->
<mat-icon aria-hidden="false" aria-label="" fontIcon="arrow_forward_ios" class="opto mat-icone" (click)="nextSlide()"></mat-icon>
