<section id="main">
  <header id="head">
    <a routerLink="/">Tiaki</a>
    <p>Ingrédients et valeurs</p>    
  </header>
<section id="nutrition">
  <div>
    <h1>Ingrédients</h1>
    <!-- Ci-dessous dans [(ngModel)] je récupére la variable filtre déclaré dans ingrédients.component.ts -->
    <input name="filtrer" placeholder="Recherche" [(ngModel)]="filtre">
    <!-- j'appelle le pipe aliments auquel j'applique la variable filtre appellé dans [(ngModel)]  -->
    <!-- Grâce au pipe et au filtre je peux effectuer une recherche d'ingrédients -->
    <article *ngFor="let ingredient of composition.ciqual | aliments:filtre let i=index">
      <!-- Dans h4 tout les noms des ingrédients sont afficher via *ngFor qui récupére l'interface CiqualI -->
      <!-- Sur ces ingrédients j'applique la méthode onSelect via un clic -->
      <h2 (click)="onSelect(ingredient)" (click)="onMesPlats(ingredient)" style="cursor: pointer">{{ (debut + i) + ' - ' + ingredient.alim_nom_fr | uppercase }}</h2>
    </article>
  </div>
  <div>
    <!-- *ngIf selectedIngredient appeler avec la méthode onSelect - declaré ligne 17 dans ingredients.component.ts -->
    <!-- selectedIngredient à pour valeur l'ingrédient sur lequel j'ai cliqué -->
    <article *ngIf="selectedIngredient">
      <span>
        <h3>{{ selectedIngredient.alim_nom_fr}}</h3>
        <p>Cet ingrédient est mal supporté <input type="checkbox" name="allergie" id="allergie"></p>
      </span>
      <span>
        <h4>Valeurs et compositions</h4>
        <p> <img src="assets/photoNutri/compl.svg" alt="icône composition">
          Composition : Protéines : {{ selectedIngredient['Protéines, N x 6.25 (g\/100 g)'] }} Gr -
          Glucides : {{ selectedIngredient['Glucides (g\/100 g)'] }} Gr -
          Lipide : {{ selectedIngredient['Lipides (g\/100 g)'] }} Gr -
          Sucre : {{ selectedIngredient['Sucres (g/100 g)'] }} Gr
        </p>
        <p> <img src="assets/photoNutri/vitamine.svg" alt="icône vitamine">
          Vitamines : C : {{ selectedIngredient["Vitamine C (mg\/100 g)"] }} Mg -
          B1 : {{ selectedIngredient["Vitamine B1 ou Thiamine (mg\/100 g)"] }} Mg -
          B2 : {{ selectedIngredient["Vitamine B2 ou Riboflavine (mg\/100 g)"] }} Mg -
          B3 : {{ selectedIngredient["Vitamine B3 ou PP ou Niacine (mg\/100 g)"] }} Mg -
          B5 : {{ selectedIngredient["Vitamine B5 ou Acide pantothénique (mg\/100 g)"] }}
        </p>
        <p> <img src="assets/photoNutri/vitamine.svg" alt="icône minéraux">
          Minéraux et oligo-éléments : Magnésium : {{ selectedIngredient["Magnésium (mg\/100 g)"] }} Mg -
          Potassium : {{ selectedIngredient["Potassium (mg\/100 g)"] }} Mg -
          Cuivre : {{ selectedIngredient["Cuivre (mg\/100 g)"] }} Mg -
          Manganése: {{ selectedIngredient["Manganèse (mg\/100 g)"] }} Mg
        </p>
      </span>
      <!-- *ngFor sur l'interface MesPlatsI qui s'éxécute dans le le *ngFor de CiqualI (ligne 19)-->
      <!-- J'applique le pipe plats avec le filtre alimCodeFiltre - ligne 15 dans ingredients.component.ts -->
      <span *ngIf="selectedPlat">
        <h5>Plats contenant cet ingrédient</h5>
        <div class="mesPlats" *ngFor="let mesPlats of composition.plat | plats:alimCodeFiltre">
          <p *ngIf="selectedPlat.alim_code !== alimCodeFiltre">coucou</p>
          <p *ngIf="selectedPlat.alim_code == alimCodeFiltre">{{ mesPlats.nom }}</p>
        </div>
        <h6>Réactions constatées</h6>
        <div class="mesObservations" *ngFor="let mesPlats of composition.plat | plats:alimCodeFiltre">
          <p>{{ mesPlats.reaction }} </p>
          <img src="assets/photoNutri/vitamine.svg" alt="icône vitamine">
        </div>
      </span>
    </article>
  </div>
</section>
</section>


<!-- <p>Note du dev : Travail en cours sur la base de donnée</p>
<img src="https://cdn.pixabay.com/photo/2017/08/07/16/36/cat-2605502_960_720.jpg" alt="miaou"> -->
