$font-family: "Raleway", sans-serif;
$card-nutri: #d9042b;
$card-kine: #f22f1d;
$card-opto: #f28705;
$aside-color1: #270140;
$aside-color2: #805e96;
$aside-color3: #f0c02e;

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $font-family;
  
  section:nth-child(1) { //La première section contenant le logo et le titre de la page
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    article {
      display: flex;
      align-items: baseline;
      color: #f22f1d;
      height: 8vh;
      a{
        color: #f22f1d;
        text-decoration: none;
        display: flex;
        justify-content: space-around;
        width: 10vw;
        span{
          font-weight: 100;
          font-size: 2.5vw;
        }
        div{
          border-bottom: dashed 1px black;
          width: 3vw;
          margin-bottom: 10px;
        }        
      }
      p{
        font-size: 1.5vw;
        font-weight: 100;
        margin-left: 2%;
      }
      div{
        border-bottom: dashed 1px #f22f1d;
        width: 3vw;
        margin-left: 10px;
      }
    }
  }

  section:nth-child(2){ //La seconde section contenant le menu de recherche à gauche et la composition des aliments à droite
    display: flex;
    flex-direction: row;
    width: 100%;
    div:nth-child(1){ //La div contenant le menu de recherche
      width: 25%;
      height: 70vh;
      padding-left: 2%;
      overflow-y: scroll ;
      scrollbar-color: red;
      scrollbar-width: thin;
      h1{
        margin: 0 0 1vh 0;
        padding: 1vh;
        width: 70%;
        font-size: 1.5vw;
        font-weight: 100;
        color: #f22f1d;
        border-bottom: dashed 1px #f22f1d;
      }
      input{
        width: 80%;
        height: 5%;
        font-size: 1em;
      }      
    }
    div:nth-child(2){ //La seconde div qui contient la description de l'ingrédient sélectionné
      width: 75%;      
      display: flex;
      justify-content: center;
      article{
        margin-top: 5vh;
        width: 92%;
        display: flex;
        flex-direction: column;
          span:nth-child(1){ //La première balise span contient le nom de l'ingrédient afficher comme un titre et l'input avec la checkbox
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: baseline;
          border-bottom: dashed 1px #f22f1d;          
          h1{
            font-size: 1.5vw;
            font-weight: 100;
            color: #f22f1d;
            margin: 0 0 1vh 0;
          }
          p{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0 0 1vh 0;
            input{ 
              margin-left: 0.5vw;
              height: 1.5vw;
              width: 1.5vw;
              
            }
          }
        }// <------ Fin de la première balise span
        span:nth-child(2){
          margin-left: 4vw;
          h3{
            font-weight: 100;
            color: #f22f1d;
            border-bottom: dashed 1px #f22f1d;
            padding: 1vh;
            width: 40%;
          }
          p{
            img{ // Les petits logo
              width: 1vw;
              margin-right: 0.8vw;
            }
          }
        }// <------ Fin de la seconde balise span
        span:nth-child(3){
          margin-left: 4vw;
          h3{
            font-weight: 100;
            color: #f22f1d;
            border-bottom: dashed 1px #f22f1d;
            padding: 1vh;
            width: 40%;
          }
          img{
            width: 20%;
          }
        }

      }// <------ Fin de article dans la seconde div
    }// <------ Fin de la seconde div
  }// <------ Fin de la seconde section
}// <------- Fin de la balise MAIN