<section id="nutrition">
  <section>
    <!-- .slice(currentPage * itemsPerPage, (currentPage + 1) * itemsPerPage) -->
    <header>
      <h1>Ingrédients</h1>
      <mat-form-field>
        <mat-label>Filtrer</mat-label>
        <input matInput name="filtrer" placeholder="Recherche" [(ngModel)]="filtre" (input)="onFilterChange()">
      </mat-form-field>
    </header>
    <article>
      <ul>
        <li
          *ngFor="let ingredient of nutri.ciqual | aliments:filtre | slice:(currentPage * itemsPerPage): (currentPage + 1) * itemsPerPage"
          (click)="selectIngredient(ingredient)">
          {{ ingredient.alim_nom_fr | uppercase }}
        </li>
      </ul>
    </article>
    <footer class="pagination">
      <mat-paginator [length]="nutri.ciqual.length" [pageSize]="itemsPerPage" aria-label="Pagination"
        [showFirstLastButtons]="true" (page)="currentPage = $event.pageIndex" [pageIndex]="currentPage">
      </mat-paginator>
    </footer>

  </section>
  <section>
    <app-ariane></app-ariane>
    <article *ngIf="!selectedIngredient">
      <h2>Données sur les ingrédients</h2>
      <p>La table de composition nutritionnelle des aliments (Ciqual) est mise à disposition par le Ministère de la Santé sur la plateforme <a href="https://www.data.gouv.fr/fr/datasets/table-de-composition-nutritionnelle-des-aliments-ciqual/" title="Accéder à la table Ciqual" taget="_blank">data.gouv.fr</a></p>
      <p>C'est grâce à ces données que nous pouvons vous aider à mieux comprendre la composition des aliments et les origines d'allergies ou de troubles alimentaires que vous constatez chez les personnes que vous aidez.</p>
      <p>Notre IA s'appuie sur vos commentaires pour identifier les ingrédients qui seraient susceptibles de créer un problème pour vous aider au quotidien.</p>
      <p>Choisissez sur la gauche les ingrédients dont vous souhaitez connaître la composition.</p>
    </article>
    <article *ngIf="selectedIngredient">
      <header>
        <h2>{{ selectedIngredient.alim_nom_fr}}</h2>
        <p>Cet ingrédient est mal supporté <input type="checkbox" name="allergie" id="allergie"></p>
      </header>
        <h3>Valeurs et compositions</h3>
      <ul>
        <li> <img src="assets/images/pictos/nutri/compl.svg" alt="icône composition">
          Composition : Protéines : {{ selectedIngredient['Protéines, N x 6.25 (g\/100 g)'] }} Gr -
          Glucides : {{ selectedIngredient['Glucides (g\/100 g)'] }} Gr -
          Lipide : {{ selectedIngredient['Lipides (g\/100 g)'] }} Gr -
          Sucre : {{ selectedIngredient['Sucres (g/100 g)'] }} Gr
        </li>
        <li> <img src="assets/images/pictos/nutri/vitamine.svg" alt="icône vitamine">
          Vitamines : C : {{ selectedIngredient["Vitamine C (mg\/100 g)"] }} Mg -
          B1 : {{ selectedIngredient["Vitamine B1 ou Thiamine (mg\/100 g)"] }} Mg -
          B2 : {{ selectedIngredient["Vitamine B2 ou Riboflavine (mg\/100 g)"] }} Mg -
          B3 : {{ selectedIngredient["Vitamine B3 ou PP ou Niacine (mg\/100 g)"] }} Mg -
          B5 : {{ selectedIngredient["Vitamine B5 ou Acide pantothénique (mg\/100 g)"] }} Mg
        </li>
        <li> <img src="assets/images/pictos/nutri/vitamine.svg" alt="icône minéraux">
          Minéraux et oligo-éléments : Magnésium : {{ selectedIngredient["Magnésium (mg\/100 g)"] }} Mg -
          Potassium : {{ selectedIngredient["Potassium (mg\/100 g)"] }} Mg -
          Cuivre : {{ selectedIngredient["Cuivre (mg\/100 g)"] }} Mg -
          Manganése: {{ selectedIngredient["Manganèse (mg\/100 g)"] }} Mg
        </li>
      </ul>
      <!-- J'applique le pipe plats avec le filtre selectedIngredient.alim_code - ligne 15 dans ingredients.component.ts -->
      <article *ngIf="selectedPlat">
        <h5>Plats contenant cet ingrédient</h5>
        <ul>
          <li class="mesPlats" *ngFor="let mesPlats of nutri.listePlats | plats : selectedIngredient.alim_code">
            <p>{{ mesPlats.nom }}</p>
          <!-- <p *ngIf="mesPlats.alim_code == selectedIngredient.alim_code">coucou</p> -->
          <p *ngIf="mesPlats.nom.length <= 0">coucou</p>
        </li>
        </ul>
        <h6>Réactions constatées</h6>
        <!-- Ci-dessous j'utilise la variable locale Angular "first" afin d'afficher uniquement la premiére iteration de la balise img https://angular.io/api/common/NgFor#description -->
        <div class="mesObservations" *ngFor="
              let mesPlats of nutri.listePlats | plats : selectedIngredient.alim_code;
              let first = first
            ">
          <p>{{ mesPlats.reaction }}</p>
          <ng-container *ngIf="first">
            <img src="assets/images/pictos/nutri/vitamine.svg" alt="icône vitamine" />
          </ng-container>
        </div>
      </article>
    </article>
  <app-note [id]="selectedIngredient!.alim_code" [table]="'ciqual'" *ngIf="selectedIngredient"></app-note>
  </section>
</section>
<!-- Afficher le menu -->
<app-menu [idMenu]="'nutrition'" [classe]="'bg-nutrition'"></app-menu>
