<section id="modalExercices" *ngIf="exerciceModal">
  <article (click)="openModal(exerciceModal)">
    <mat-icon fontIcon="close" (click)="closeDialog()"></mat-icon>
  </article>
  <article>
    <div class="photo-exo">
      <img
        src="{{ sanity.urlFor(exerciceModal.photo).url() }}"
        alt="photo-exercice" *ngIf="exerciceModal.photo"
      />
    </div>
    <div>
      <h1>{{ exerciceModal.titre }}</h1>
      <p>{{ exerciceModal.description }}</p>
      <div>
        <div>
          <img src="assets/iconeKineOpto/horloge.svg" alt="horloge" />
          <p>{{exerciceModal.duree}}</p>
        </div>
        <div>
          <img src="assets/iconeKineOpto/materiel.svg" alt="materiel" />
          <ul>
            <li *ngFor="let mat of exerciceModal.materiels">{{ mat }}</li>
          </ul>
        </div>
      </div>
      <button>Commencer</button>
    </div>
  </article>
</section>
