<header id="head-accueil" class="ariane">
  <h1><a routerLink="/intranet">Tiaki</a></h1>
  <h2>Application numérique pour les aidants familiaux</h2>
</header>
<section>
  <article *ngFor="let card of imageAccueil">
    <h2>{{ card.title }}</h2>
    <p>{{ card.text }}</p>
    <a [routerLink]="[card.url]">
      <button>{{ card.button }}</button>
    </a>
    <figure>
      <div [style.background-image]="'url(' + sanity.urlFor(card.image).url() + ')'" alt="Image d'illustration"></div>
    </figure>
    <!-- <img src={{sanity.urlFor(card.image).url()}} alt="photo" /> -->
  </article>
</section>
