<header class="entete">
  <h1><a routerLink="/intranet">Tiaki</a></h1>
  <h2>Application numérique pour les aidants familiaux</h2>
</header>
<section class="accueil">
  <article *ngFor="let card of get.accueilModule" class="cartel">
    <div>
      <h2>{{ card.titre }}</h2>
      <p>{{ card.description }}</p>
      <a [routerLink]="[card.url]">
        <button>{{ card.bouton }}</button>
      </a>
    </div>
    <figure>
      <div [style.background-image]="'url(' + card.image + ')'" alt="Image d'illustration">
      </div>
    </figure>
  </article>
</section>
