<form class="example-form" >
    <input class="example-input" type="search" name="myProg" placeholder="Recherche" [formControl]="control" 
      [matAutocomplete]="auto" (keyup)="filtrerProgrammes()" (click)="allProgrammes()" />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
      <mat-option *ngFor="let programme of programmesFiltres" [value]="programme"
        (mouseover)="hoverSelectedProgramme(programme)">
        {{ programme.titre }}
      </mat-option>
    </mat-autocomplete>
  </form>
