$font-family: 'Raleway', sans-serif;
$card-nutri: #D9042B;
$card-kine: #805e96;
$card-opto: #F28705;
$aside-color1: #270140;
$aside-color2: #805E96;
$aside-color3: #F0C02E;

$clair: white;
$sombre: black;

$head: 60px; // Hauteur de l'entête des pages
$foot: 150px; // Hauteur des menus du bas
$l: 65px; // Largeur du menu de droite qui permet de calculer la largeur des éléments de la page


// Scrollbar
::-webkit-scrollbar {
    background-color: $aside-color2;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    height: 200px;
    background-color: $aside-color2;
}

#head {
    color: $aside-color2;
}

#head>h1 {
    font-weight: 400;
}

#head>h1:after {
    content: '   ......';
    font-size: 50%;
}

// Section comportant les deux premier articles du haut de la page
.reussite {
    height: 50%;
    scrollbar-color: $aside-color2 $aside-color1;
    scrollbar-width: auto;
    overflow-y: auto;

    @media screen and (max-width: 715px) {
        flex-direction: column;
        height: 45%;
        scrollbar-color: $aside-color2 $aside-color1;
        scrollbar-width: auto;
        overflow-y: auto;
    }

    ::-webkit-scrollbar {
        background-color: $aside-color2;
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        height: 200px;
        background-color: $aside-color2;
    }

    #head>a:nth-child(1) {
        color: $aside-color1;
    }

    article:nth-child(2) {
        border-right: none;

        @media screen and (max-width: 715px) {
            border-bottom: none;
        }
    }

    article {
        flex-direction: column;
        justify-content: center;
        width: 50%;
        height: 100%;
        align-items: center;
        border-right: dashed 1px black;

        @media screen and (max-width: 715px) {
            border-bottom: dashed 1px black;
            border-right: none;
            width: 100%;
        }

        div:nth-child(1) {
            margin-right: 30%;
        }

        div {
            display: flex;

            img {
                width: 5vw;
                height: 5vh;
            }

            h2 {
                font-size: 1.3rem;
                font-weight: 400;

                @media screen and (max-width: 777px) {
                    font-size: 1.1rem;
                }
            }

            ul {
                li {
                    font-size: 0.9rem;

                    @media screen and (max-width: 777px) {
                        font-size: 0.8rem;
                    }
                }
            }
        }

        img {
            height: 2vh;
            width: 2vw;
        }
    }
}

// section avec la barre du milieu avec les trois titres 

// Section comportant les trois articles et leurs contenus
.column {
    height: 50%;
    justify-content: space-between;


    @media screen and (max-width: 715px) {
        flex-direction: column;
        height: auto;
        scrollbar-color: $aside-color2 $aside-color1;
        scrollbar-width: auto;
        overflow-y: auto;
    }

    h3 {
        min-height: 8vh;
        font-weight: 400;
        font-size: 1.3rem;
        background-color: $aside-color2;
        color: $clair;
        margin: 0;
        padding-left: 30px;
        padding-top: 10px;

        @media screen and (max-width: 999px) {
            font-size: 1.1rem;
        }

        @media screen and (max-width: 777px) {
            font-size: 0.9rem;
        }

        @media screen and (max-width:715px) {}
    }

    article:nth-child(3) {
        border-right: none;
    }

    .infoColumn {
        flex-direction: column;
        width: 50%;
        height: 100%;
        border-right: dashed 1px black;
        overflow-y: auto;

        @media screen and (max-width: 715px) {
           display: none;
            width: 100%;
            border-right: none;
            height: 33%;
        }

        .hidden {
            display: none;
        }

        h4 {
            font-weight: 500;
            font-size: 1.2rem;
            margin: 0;
            padding-left: 15px;

            @media screen and (max-width: 999px) {
                font-size: 1rem;
            }

            @media screen and (max-width: 777px) {
                font-size: 0.9rem;
            }

            @media screen and (min-width: 716px) {

                display: block;
            }

            @media screen and (max-width: 715px) {
                display: none;
            }
        }

        ul {
            display: block;

            @media screen and (max-width: 715px) {
                display: none;
            }

            li {
                font-weight: 400;
                font-size: 0.9rem;

                @media screen and (max-width: 777px) {
                    font-size: 0.7rem;
                }

                @media screen and (max-width: 715px) {}
            }
        }

        @media screen and (max-width:715px) {
            &.active {
                h3 {
                    cursor: pointer;
                }

                .accordion-content {
                    display: block;
                }

                ul {
                    display: block;
                }
            }
        }
        @media screen and (max-width:481px) {
            width: calc(100% + $l);
          }
    }
}

// Accordion exemple
.accordion {
    display: none;
    height: calc(100% + $foot);

    @media screen and (max-width:715px) {
        display: flex;
        justify-content: center;
        width: calc(100vw - $l);
        height: calc(100% + $foot);

        align-items: center;
        overflow-y: auto;

        .example-accordion {
            display: block;
            width: 80%;
        }
        
        .example-accordion-item {
            display: block;
            background-color: $aside-color2;
            border: solid 1px #ccc;
            color: $clair;
        }
        
        .example-accordion-item+.example-accordion-item {
            border-top: none;
        }
        
        .example-accordion-item-header {
            display: flex;
            align-content: center;
            justify-content: space-between;
        }
        
        .example-accordion-item-description {
            font-size: 0.85em;
            color: #c7c7c7;
        }
        
        .example-accordion-item-header,
        .example-accordion-item-body {
            padding: 16px;
        }
        
        .example-accordion-item-header:hover {
            cursor: pointer;
            background-color: $aside-color2;
        }
        
        .example-accordion-item:first-child {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        
        .example-accordion-item:last-child {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
}


// footer
footer {
    justify-content: space-around;
    background-color: $aside-color1;
    color: $clair;
    height: $foot;

    @media screen and (max-width: 715px) {
        display: none;
    }

    article:nth-child(3) {
        border-right: none;
    }

    article {
        flex-direction: column;
        width: 33%;
        border-right: dashed 1px $clair;
        margin-left: 15px;

        @media screen and (max-width: 715px) {
            width: 100%;
            height: 100%;
        }

        h5 {
            font-weight: 400;
            font-size: 1rem;
            margin: 0;
            margin-top: 20px;

            @media screen and (max-width: 777px) {
                font-size: 0.9rem;
            }
        }

        ul {
            li {
                font-size: 0.8rem;

                @media screen and (max-width: 777px) {
                    font-size: 0.6rem;
                }
            }
        }
    }
}