<section id="nutrition">
  <section>
    <header>
      <button (click)="openDialog()" class="bg-valide align-self-center"><mat-icon>add_box</mat-icon>{{
        l.t.nutrition['MENU_CREE'] }}</button>
      <h1>{{ l.t.nutrition['MENUS_DISPO'] }}</h1>
    </header>
    <article>
      <ul>
        <li *ngFor="let menu of nutri.listeMenus" [class.actif]="menu.id == selectedMenu!.id" (click)="setPlat(menu)">
          <h2>{{ menu.titre }}</h2>
          <p>{{ menu.description }}</p>
          <app-eval [id]="selectedMenu.id!" [table]="'menus'" [classe]="'nutrition'"></app-eval>
        </li>
      </ul>
    </article>
  </section>
  <section>
    <app-ariane></app-ariane>
    <header>
      <form>
        <mat-form-field>
          <mat-label>{{ l.t.nutrition['FILTRE_NOMS'] }}</mat-label>
          <input matInput [(ngModel)]="filtre" name="libre">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ l.t.nutrition['FILTRE_EVALS'] }}</mat-label>
          <mat-select [(ngModel)]="filtreEval" name="filtreEval">
            <mat-option value=2>{{ l.t.nutrition['MENUS_TOUS'] }}</mat-option>
            <mat-option value=1>{{ l.t.nutrition['MENUS_EVAL'] }}</mat-option>
            <mat-option value=0>{{ l.t.nutrition['MENUS_EVAL_PROBLEME'] }}</mat-option>
            <mat-option value=-1>{{ l.t.nutrition['MENUS_EVAL_NON'] }}</mat-option>
          </mat-select>
        </mat-form-field>
        <fieldset>
          <mat-checkbox>{{ l.t.nutrition['COMMUNAUTE'] }}</mat-checkbox>
          <mat-checkbox>{{ l.t.nutrition['MENUS_PERSO'] }}</mat-checkbox>
          <mat-checkbox>{{ l.t.nutrition['ALLERGENES_SANS'] }}</mat-checkbox>
        </fieldset>
      </form>
    </header>
    <article *ngIf="selectedMenu.id != -1">
      <h2>{{ selectedMenu.titre }}
        <button class="bg-valide"><mat-icon>date_range</mat-icon>{{ l.t.nutrition['MENU_AGENDA'] }}</button>
      </h2>
      <h3>{{ l.t.pages['DESCR'] }}</h3>
      <p>{{ selectedMenu.description }}</p>
      <mat-tab-group>
        <mat-tab [label]="l.t.nutrition['PTIT_DEJ']">
          <table>
            <thead>
              <tr>
                <th>{{ l.t.nutrition['PLAT'] }}<mat-icon class="valide">add_box</mat-icon>
                </th>
                <th>{{ l.t.nutrition['PARTS'] }}</th>
                <th>{{ l.t.nutrition['VALEURS_NUTRI'] }}</th>
                <th>{{ l.t.nutrition['ALLERGENES'] }}</th>
                <th>{{ l.t.nutrition['COMMUNAUTE_EVALS'] }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ptitdej of selectedMenu.ptitDejs" class="over">
                <td>{{ ptitdej.titre }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td><app-eval [id]="ptitdej.id!" [table]="'plats'" [classe]="'nutrition'"></app-eval></td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
        <mat-tab [label]="l.t.nutrition['ENCAS']">
          <table>
            <thead>
              <tr>
                <th>{{ l.t.nutrition['PLAT'] }}<mat-icon class="valide">add_box</mat-icon>
                </th>
                <th>{{ l.t.nutrition['PARTS'] }}</th>
                <th>{{ l.t.nutrition['VALEURS_NUTRI'] }}</th>
                <th>{{ l.t.nutrition['ALLERGENES'] }}</th>
                <th>{{ l.t.nutrition['COMMUNAUTE_EVALS'] }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let encas of selectedMenu.encas" class="over">
                <td>{{ encas.titre }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td><app-eval [id]="encas.id!" [table]="'plats'" [classe]="'nutrition'"></app-eval></td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
        <mat-tab [label]="l.t.nutrition['DEJ']">
          <table>
            <thead>
              <tr>
                <th>{{ l.t.nutrition['PLAT'] }}<mat-icon class="valide">add_box</mat-icon>
                </th>
                <th>{{ l.t.nutrition['PARTS'] }}</th>
                <th>{{ l.t.nutrition['VALEURS_NUTRI'] }}</th>
                <th>{{ l.t.nutrition['ALLERGENES'] }}</th>
                <th>{{ l.t.nutrition['COMMUNAUTE_EVALS'] }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dej of selectedMenu.dejs" class="over">
                <td>{{ dej.titre }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td><app-eval [id]="dej.id!" [table]="'plats'" [classe]="'nutrition'"></app-eval></td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
        <mat-tab [label]="l.t.nutrition['GOUTER']">
          <table>
            <thead>
              <tr>
                <th>{{ l.t.nutrition['PLAT'] }}<mat-icon class="valide">add_box</mat-icon>
                </th>
                <th>{{ l.t.nutrition['PARTS'] }}</th>
                <th>{{ l.t.nutrition['VALEURS_NUTRI'] }}</th>
                <th>{{ l.t.nutrition['ALLERGENES'] }}</th>
                <th>{{ l.t.nutrition['COMMUNAUTE_EVALS'] }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let gouter of selectedMenu.gouters" class="over">
                <td>{{ gouter.titre }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td><app-eval [id]="gouter.id!" [table]="'plats'" [classe]="'nutrition'"></app-eval></td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
        <mat-tab [label]="l.t.nutrition['DINER']">
          <table>
            <thead>
              <tr>
                <th>{{ l.t.nutrition['PLAT'] }}<mat-icon class="valide">add_box</mat-icon>
                </th>
                <th>{{ l.t.nutrition['PARTS'] }}</th>
                <th>{{ l.t.nutrition['VALEURS_NUTRI'] }}</th>
                <th>{{ l.t.nutrition['ALLERGENES'] }}</th>
                <th>{{ l.t.nutrition['COMMUNAUTE_EVALS'] }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let diner of selectedMenu.diners" class="over">
                <td>{{ diner.titre }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td><app-eval [id]="diner.id!" [table]="'plats'" [classe]="'nutrition'"></app-eval></td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
      </mat-tab-group>
    </article>
    <article *ngIf="selectedMenu.id == -1">
      <h2>Sélectionnez un menu</h2>
      <p>Sélectionnez des menus pour connaître leurs compositions, en créer un nouveau, l'ajouter à un menu ou à votre
        planning</p>
    </article>
  </section>
</section>
<!-- Afficher le menu -->
<app-menu [idMenu]="'nutrition'" [classe]="'bg-nutrition'"></app-menu>
