<section class="outils">
  <!-- Section avec le logo, les médecins et les réalisations -->
  <section> <!-- Visible en Desktop -->
    <h1>Historique</h1>
    <article>
      <h3><img src="assets/images/pictos/medecin.svg" alt="logo thérapeutes" /> Médecins</h3>
      <ul>
        <li *ngFor="let medecin of get.therapeutes">{{ medecin.nom }}</li>
      </ul>
    </article>
    <article>
      <h3><img src="assets/images/pictos/whitePacman.svg" alt="logo realisation" /> Réalisations</h3>
      <ul>
        <li *ngFor="let realisation of realisations">
          {{ realisation.nom }}
        </li>
      </ul>
    </article>
  </section>
  <!-- Section comportant l'historique des journaux - Non visible en Mobile-->
  <section>
    <h3><img src="assets/images/pictos/whitePacman.svg" alt="logo realisation" /> Réalisations</h3>
    <h4>Historiques des journaux sur ces activités</h4>
    <!-- Pour utiliser [(ngModel)] je dois importer dans le module FormsModule !!!! -->
    <input matInput name="filtrer" placeholder="Recherche" [(ngModel)]="filtre">
    <ul>
      <li *ngFor="let historique of historiques | journal:filtre" (click)="changeSelectedJournal(historique.id)">Journal
        du {{ historique.date | formatDate }} <br> {{ historique.objet }}</li>
    </ul>
  </section>
  <!-- Section Ajouter un journal avec le formulaire -->
  <section>
    <app-ariane></app-ariane>
    <article *ngIf="!selectedHistorique">Sélectionnez un journal à afficher dans le menu de gauche</article>
    <article *ngIf="selectedHistorique">
      <h3>Journal du {{ selectedHistorique.date | formatDate }}</h3>
    </article>
    <article *ngIf="selectedHistorique">
      <h4>Activité concernée</h4>
      <h4>Objet</h4>
      <p>Objet : {{ selectedHistorique.objet }}</p>
      <p>Activité : {{ selectedHistorique.description }}</p>
      <h4>Notes</h4>
      <ul>
        <li *ngFor="let n of selectedHistorique.notes">
          {{ n }}
        </li>
      </ul>
      <h4>Journaux en rapport</h4>
      <ul *ngFor="let linkedJournal of selectedHistorique.linkedJournals">
        <li>
          <span (click)="changeSelectedJournal(linkedJournal.id)">
            {{ (linkedJournal.date | formatDate) + " - " + linkedJournal.objet}}
          </span>
        </li>
      </ul>
      <div class="align-right">
        <button (click)="deleteJournal(selectedHistorique.id)" class="bg-delete">Supprimer</button>
        <button [routerLink]="['./modifier/', selectedHistorique.id]" class="bg-annule">Modifier</button>
      </div>
    </article>
  </section>
  <!-- <section id="default" *ngIf="!selectedHistorique">
    <p>Veuillez choisir un journal archivé afin de voir ce qu'il contient</p>
  </section> -->
</section>
