$font-family: "Raleway", sans-serif;
$card-nutri: #d9042b;
$card-kine: #f22f1d;
$card-opto: #f28705;
$aside-color1: #270140;
$aside-color2: #805e96;
$aside-color3: #f0c02e;
$historique: #F8E6AF;

// CSS pour la scrollbar
::-webkit-scrollbar {
  background-color: #fddd4c;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  height: 200px;
  background-color: #f5d20a;
}

#mainJournal {
  font-family: $font-family;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

// Section permettant de voir l'historique des journaux
section:nth-child(2) {
  background-color: $historique;
  width: 13%;
  display: flex;
  flex-direction: column;
  text-align: center;
  @media screen and (max-width: 1280px) {
    width: 25%;    
  }

  div:nth-child(1) {// Div visible en Tablette & Mobile
    display: none;
    @media screen and (max-width: 1280px) {
        display: flex;
        a { // La balise avec le router
            display: flex;
            flex-direction: row;
            align-items: baseline;
            text-decoration: none;
            width: 100%;
            color: black;
            font-size: 3rem;             

            // Le gros logo Tiaki
            span {
              font-weight: 100;
              margin: 0;
              padding: 0; 
              width: 100%;                 
            }
          }
          span:before {
            content: '........';
            font-size: 50%;
          }          
          span:after {
            content: '........';
            font-size: 50%;
          }
      }
  }

  div:nth-child(2) { // Div avec le logo - la balise <p> et un input
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 18%;
    justify-content: flex-end;
    gap: 1vw;
    @media screen and (max-width: 1280px) {
      margin: 2vh 1vw 0 1vw;
      height: auto;
      align-items: normal;
    }

    img { // Le logo Pacman
      height: 4vw;
    }

    p {
      // La balise <p>Historiques des journaux sur ces activités</p>
      font-size: 1rem;
      font-weight: 600;
      margin: 4px;
      width: 100%;
      @media screen and (max-width: 1280px) {                
        text-align: start;
      }
      @media screen and (max-width: 1200px) {
        font-size: 0.9rem;
      }
    }

    input {
      width: 80%;      
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    //height: 30%;              
    li {
      cursor: pointer;
      text-align: start;
      font-size: 1rem;
      margin-top: 2vh;
      @media only screen and (max-width: 1280px) {
        font-size: 0.8rem;
      }
      @media only screen and (max-width: 1280px) {
        font-size: 0.8rem;
      }
      @media screen and (max-width: 834px) {
        font-size: 0.7rem;
      }
    }
  }
}

// ------------ La section ou s'affiche le journal choisi -------------------
section:nth-child(3) {
  width: 74%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  @media screen and (max-width: 1280px) {
    width: 75%;
  }

  // Article du titre avec la ligne de dashed
  article:nth-child(1) {
    margin-top: 8vh;
    width: 80%;
    height: 10%;
    border-bottom: 1px dashed black;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;

    h3 {
      // La balise <h3>Journal du 21-03-2023</h3>              
      //align-self:flex-start;
      font-size: 1.5rem;
      font-weight: 600;
      @media screen and (max-width: 834px) {
        font-size: 1.1rem;
      }
    }

    div {
      display: flex;
      gap: 1vw;

      button {// Le bouton orange Supprimer
        width: 7vw;
        font-size: 0.8vw;
        background-color: #f28705;
        border-color: #f28705;
        color: white;
        @media screen and (max-width: 834px) {
          width: 11vw;
          font-size: 0.7rem;
        }        
      }

      button:nth-child(2) { // le bouton jaune Modifier
        background-color: $aside-color3;
      }

    }
  }

  article:nth-child(2) {
    width: 70%;
    margin-top: 4vh;
    display: flex;
    flex-direction: column;

    h4 {
      font-size: 1.2rem;
      font-weight: 600;
      @media screen and (max-width: 834px) {
        font-size: 1rem;
      }
    }

    p {
      margin: 0;
      @media screen and (max-width: 834px) {
        font-size: 0.9rem;
      }
    }
  }
}

#default { // La section affiché par défaut si aucun journal choisi
  justify-content: center;
  overflow-y: auto;
  @media screen and (max-width: 1280px) {
    width: 75%;
  }
  p { // La balise <p>Veuillez choisir un journal archivés afin de voir ce qu'il contient</p>
    font-size: 1.5rem;
    @media screen and (max-width: 834px) {
      font-size: 1.1rem;
    }
  }
}