$font-family: "Raleway", sans-serif;
$card-nutri: #d9042b;
$card-kine: #f22f1d;
$card-opto: #f28705;
$aside-color1: #270140;
$aside-color2: #805e96;
$aside-color3: #f0c02e;
$historique: #F8E6AF;

mat-label {
    // La font-size de tout les input
    font-size: 1vw;
    @media screen and (max-width: 834px) {
        font-size: 0.8rem;
    }
}

// CSS pour la scrollbar
::-webkit-scrollbar {
    background-color: #fddd4c;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    height: 200px;
    background-color: #f5d20a;
}

#mainMessagerie {
    font-family: $font-family;
    height: 100vh;
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 480px) {
        width: calc(100% + 68px); // Pour l'aside bar
    }
}

// Section permettant de voir l'historique des messages - Invisible en Mobile
section:nth-child(2) {
    background-color: $historique;
    width: 13%;
    display: flex;
    flex-direction: column;
    text-align: center;
    @media screen and (max-width: 1280px) {
        width: 20%;
    }
    @media screen and (max-width: 834px) {
        width: 25%;
    }
    @media screen and (max-width: 480px) {
        display: none;
    }

    article { // Article pour le Responsive - invisible en Desktop
        display: none;
        @media screen and (max-width: 1280px) {
            height: 15vh;
            display: flex;
            flex-direction: column;
            font-size: 3rem;
            gap: 4vh;
          }
        div:nth-child(1) {            
            a {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                text-decoration: none;
                width: 100%;
                color: black;
                font-size: 4rem;
                font-weight: 100;                
                justify-content: center;

                // Le gros logo Tiaki
                span {
                  font-weight: 100;
                  margin: 0;
                  padding: 0;
          
                  @media screen and (max-width: 1280px) {
                    font-size: 3rem;
                  }
                }
              }
          
              span:before {
                content: '........';
                font-size: 50%;
              }
          
              span:after {
                content: '........';
                font-size: 50%;
              }
        }
        div:nth-child(2) {
            border-bottom: black 1px dashed;
            margin-left: 1vw;
            h1 { // La balise <h1>Messages</h1>
                margin: 0 0 1vh 0;
                font-size: 1.5rem;
                font-weight: 600;
                width: 100%;
                @media only screen and (max-width: 1280px) {
                    font-size: 1.4rem;
                    text-align: left;                    
                }
                @media screen and (max-width: 834px) {
                    font-size: 1rem;
                }
            }
        }
    }

    #allUi { // La Div avec le logo médecin et la balise <p>
        margin-top: 2vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 18vh;
        justify-content: flex-end;
        gap: 1vw;
        @media screen and (max-width: 1280px) {
            height: 15vh;               
        }
        @media screen and (max-width: 480px) {
            height: 8vh;               
        }

        img {
            // L'image de médecin noir
            height: 4vw;
        }

        p {
            // La balise <p>Historiques des messages</p>
            font-size: 1rem;
            font-weight: 600;
            margin: 4px;
            width: 100%;
            @media screen and (max-width: 1280px) {
                font-size: 0.9rem;                
            }
            @media screen and (max-width: 834px) {
                font-size: 0.8rem;
            }
        }
        
    }

    ul { // Balise ul avec tout les messages
        display: flex;
        flex-direction: column;        
        align-items: flex-start;        
        gap: 2vh;
        height: 82vh;
        overflow-y: auto;
        //height: 30%;
        //justify-content: space-around;
        @media screen and (max-width: 1280px) {
            height: 70vh;
        }
        @media screen and (max-width: 480px) {
            height: 77vh;
        }
        li {
            text-align: center;
            font-size: 1rem;
            @media only screen and (max-width: 1280px) {
                font-size: 0.8rem;
            }
            @media screen and (max-width: 834px) {
                font-size: 0.7rem;
            }
        }
    }
}

// Section avec le formulaire d'envoi de message
section:nth-child(3) {
    width: 74%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    a{
        display: none;
    }

    @media screen and (max-width: 1280px) {
        width: 80%;
    }
    @media screen and (max-width: 834px) {
        width: 75%;
    }
    @media screen and (max-width: 480px) {
        width: 100%; // Pour l'aside bar
        article:nth-child(1) { // Article pour le responsive Mobile
            // Contient le logo Tiaki qui fait office de router
            a {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                text-decoration: none;
                width: 100%;
                color: #a78112;
                font-size: 2rem;             
    
                // Le gros logo Tiaki
                span {
                  //font-weight: 100;
                  margin: 0;
                  padding: 0; 
                  width: 100%;                 
                }
              }
              span:before {
                content: '........';
                font-size: 50%;
              }          
              span:after {
                content: '........';
                font-size: 50%;
              }
        }
    }


    h3 {
        // La balise <h3>Envoyer un message</h3>
        align-self: flex-start;
        font-size: 2rem;
        font-weight: 400;
        //color: $aside-color3;
        color: #a78112;
        margin-left: 50px;

        &::after {
            content: "  ......";
        }
        @media screen and (max-width: 1280px) {
            font-size: 1.5rem;
        }
    }

    article:nth-child(3) {
        // La balise article contenant les input
        margin-top: 5vh;
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 2vh;        
        @media screen and (max-width: 480px) {
            width: 80%
        }
        form {
            width: 100%;            
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            mat-form-field:nth-child(1) {
                // L'input avec le label "Sélectionnez un médecin"
                width: 80%;
            }
        }

        /* input {
            // CSS pour tout les input
            height: 4vh;
            font-size: 1vw;
            font-family: $font-family;
        }

        input:nth-child(1) {
            // Le premier input "Selectionner un médecin"
            width: 45%;
        }

        textarea {
            font-size: 1vw;
            font-family: $font-family;
            min-height: 8vh;
        } */
    }

    #divButton {
        // La div contenant les 2 boutons (Annuler & Envoyer) 
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1vw;
        margin-top: 5vh;
        margin-bottom: 2vh;
        button {
            font-size: 0.8vw;
            width: 7vw;
            @media screen and (max-width: 834px) {
                width: 11vw;
                font-size: 0.7rem;
            }
            @media screen and (max-width: 480px) {
                width: 20vw;
                font-size: 0.6rem;
            }
        }

        button:nth-child(1) {
            // Le bouton jaune Annuler
            //width: 6vw;
            //height: 3.5vh;
            background-color: #f0c02e;
            border-color: #f0c02e;
            color: white;
        }

        button:nth-child(2) {
            // Le bouton vert Envoyer
            //width: 6vw;
            //height: 3.5vh;
            background-color: #33BB27;
            border-color: #33BB27;
            color: white;
        }

    }
}