<section id="mainMessagerie">
  <!-- Section avec le logo, les médecins et les réalisations -->
  <section id="menuJournalMessage">
    <article>
      <a routerLink="/">        
        <span>Tiaki</span>        
      </a>
    </article>
    <article>
      <h1>Messages</h1>
    </article>
    <article class="medecin">
      <div>
        <img [src]="[medecinImg]" alt="logo medecin" />
        <h2>Médecins</h2>
      </div>
      <ul>
        <li *ngFor="let medecin of medecins"> {{ medecin.nom }} </li>
      </ul>
    </article>
    <article class="realisation">
      <div>
        <img src="assets/iconeBottom/echange.svg" alt="logo organisme" />
        <h2>Organismes</h2>
      </div>
      <ul>
        <li *ngFor="let organisme of echanges.nomOrga">
          {{ organisme.nomOrganisme }}
        </li>
      </ul>
    </article>
  </section>
  <!-- Section comportant l'historique des messages -->
  <section>
    <div>
      <img [src]="[blackMedecinImg]" alt="" />
      <p>Historiques des messages avec le Dr Genoise</p>
    </div>
    <ul>
      <li>15-06-22</li>
      <li>14-06-22</li>
      <li>14-06-22</li>
      <li>11-09-22</li>
      <li>14-06-22</li>
      <li>14-06-22</li>
      <li>14-06-22</li>
    </ul>
  </section>
  <section>
    <h3>Envoyer un message</h3>
    <span>
      <input type="text" placeholder="Selectionner un médecin">
      <input type="text" placeholder="Activité concernée">
      <input type="text" placeholder="Objet">
      <textarea name="" id="" cols="30" rows="20" placeholder="Message"></textarea>
      <input type="text" placeholder="Copier un message de l’historique">
    </span>
    <div>
      <button>Annuler</button>
      <button>Envoyer</button>
    </div>
  </section>
</section>