$font-family: "Raleway", sans-serif;
$card-nutri: #d9042b;
$card-kine: #f22f1d;
$card-opto: #f28705;
$aside-color1: #270140;
$aside-color2: #805e96;
$aside-color3: #f0c02e;
$historique: #F8E6AF;
$button-color1:#33BB27;

.ng-tns-c97-5{ // Taille de la police dans la balise label pour rechercher un ingrédient
    font-size: 0.8rem;
 }

#mainJournal {
    font-family: $font-family;
    height: 100vh;
    display: flex;
    flex-direction: row;        

 // Section permettant de voir les medecins et les réalisations
    section:nth-child(1){
        background-color: $aside-color3;
        width: 13%;
        height: 100%;
        display: flex;
        flex-direction: column;
        color: #ffffff;
        align-items: center;
        gap: 1vw;
        
        article:nth-child(1){
            a{
                display: flex;
                flex-direction: row;
                align-items: baseline;
                text-decoration: none;
                width: 100%;
                color: #ffffff;
                font-size: 4rem;
                font-weight: 100;

                span{
                    font-weight: 100;
                    margin: 0;
                    padding: 0;
                }
            }
            span:before{
                content: '........';
                font-size:50%;
            }
            span:after{
                content: '........';
                font-size:50%;
            }
        }
        article:nth-child(2){
            border-bottom: 1px white dashed;
            margin-left: 0.5vw;
            h1{ // La balise <h1>Journaux de suivi</h1>
                margin: 0;
                font-size: 1.8rem;
                font-weight: 700;
                width: 60%;
            }
        }
        .medecin{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin: 0;
            height: 30%;
            width: 100%;
            margin-left: 1vw;

            div{
                display: flex;
                align-items: flex-end;
                gap: 9px;
                justify-content: flex-start;                
                img{
                    width: 3vw;
                }
                h2{ // La balise <h2>Médecins</h2>
                    margin: 0;
                    font-size: 1.4rem;
                }
            }
            ul{
                li{
                    margin-left: 0.5vw;
                    margin-bottom: 15px;
                }
            }
        }
        .realisation{
            display: flex;
            flex-direction: column;
            margin: 0;
            height: 30%;
            justify-content: space-evenly;
            width: 100%;
            margin-left: 1vw;

            div{
                display: flex;
                align-items: flex-end;
                gap: 9px;
                justify-content: flex-start;
                img{
                    width: 3vw;
                }
                h2{ // La balise <h2>Réalisations</h2>
                    margin: 0;
                    font-size: 1.4rem;                    
                }
            }
            ul{
                li{
                    margin-left: 0.5vw;
                    margin-bottom: 15px;
                }
            }
        }
    }
    #exercices{
        
    }
}    