<section id="mainJournal">
  <section id="menuJournalMessage">
    <article>
      <a routerLink="/intranet">
        <span>Tiaki</span>
      </a>
    </article>
    <article>
      <h1>Échanges</h1>
    </article>
    <article class="medecin">
      <div>
        <img [src]="[medecinImg]" alt="logo medecin" />
        <h2>Médecins</h2>
      </div>
      <ul>
        @for (medecin of medecins; track medecin) {
          <li>{{ medecin.nom }}</li>
        }
      </ul>
    </article>
    <article class="realisation">
      <div>
        <img src="assets/iconeBottom/echange.svg" alt="logo organisme" />
        <h2>Organismes</h2>
      </div>
      <ul>
        @for (organisme of echanges.nomOrga; track organisme) {
          <li>
            {{ organisme.nomOrganisme }}
          </li>
        }
      </ul>
    </article>
  </section>
  <section class="principale">
    <article> <!-- Article pour le Responsive - invisible en Desktop -->
      <div>
        <a routerLink="/intranet">
          <span>Tiaki</span>
        </a>
      </div>
      <div>
        <h3>Historique des derniers échanges</h3>
      </div>
    </article>
    <!-- <h3>Historique des échanges</h3> -->
    <section class="contenuEchange">
      <section class="echangeMedecin">
        @for (message of echanges.echangeMedecin; track message) {
          <article>
            <h4>{{ message.nom }}</h4>
            <p>{{ message.message }}</p>
            <img src="assets/imgEchange/modif.svg" />
          </article>
        }
      </section>
      <section class="echangeMedecin2">
        @for (message of echanges.echangeOrga; track message) {
          <article>
            <h4>{{ message.nom }}</h4>
            <p>{{ message.message }}</p>
            <img src="assets/imgEchange/modif.svg" />
          </article>
        }
      </section>
    </section>
  </section>
</section>
