<section class="outils">
  <section>
    <h1>{{ l.t.pages['PARAMS'] }}</h1>
    <article class="medecin">
      <h2></h2>
      <ul>
        <li *ngFor="let p of params.app; let i=index" (click)="setParam(p)">{{ p.titre }}</li>
      </ul>
    </article>
  </section>
  <section>
    <h3>{{ l.t.pages['COMMENT'] }}</h3>
    <article>
      {{ param.description }}
    </article>
    <!-- <h3>Historique des échanges</h3> -->
</section>
<section>
  <h3>{{ param.titre }}</h3>
  <article>
    {{ param.description }}
  </article>
</section>
