$font-family: "Raleway", sans-serif;
$card-nutri: #d9042b;
$card-kine: #f22f1d;
$card-opto: #f28705;
$aside-color1: #270140;
$aside-color2: #805e96;
$aside-color3: #f0c02e;
$historique: #F8E6AF;
$button-color1: #33BB27;

.ng-tns-c97-5 {
    // Taille de la police dans la balise label pour rechercher un ingrédient
    font-size: 0.8rem;
}

::-webkit-scrollbar {
    background-color: #fddd4c;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    height: 200px;
    background-color: #f5d20a;
}

#mainJournal {
    font-family: $font-family;
    height: 100vh;
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 480px) {
        width: calc(100% + 68px); // Pour l'aside bar
    }

    .principale {
        flex-direction: column;
        overflow-y: auto;
        scrollbar-color: $card-nutri #e7adb7;
        scrollbar-width: auto;
        article {
            flex-direction: column;
            div:nth-child(1) {
                display: none;
                @media screen and (max-width: 1280px) {
                    display: flex;
                }                
                a {
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    text-decoration: none;
                    width: 100%;
                    color: #a78112;
                    font-size: 2rem;
                    //font-weight: 100;                
                    justify-content: center;
    
                    // Le gros logo Tiaki
                    span {                      
                      margin: 0;
                      padding: 0;                     
                    }
                  }
              
                  span:before {
                    content: '........';
                    font-size: 50%;
                  }
              
                  span:after {
                    content: '........';
                    font-size: 50%;
                  }
            }
        }

        h3 {
            font-size: 2rem;
            font-weight: 400;
            color: #a78112;
            margin-left: 50px;

            &::after {
                content: "  ......";
            }
            @media screen and (max-width: 1280px) {
                font-size: 1.5rem;
            }
        }

        .contenuEchange {
            @media screen and (max-width: 834px) {
                display: flex;
                flex-direction: column;
            }           
        }

        .echangeMedecin {
            flex-direction: column;
            align-items: center;
            border-right: dashed 1px black;
            width: 50%;
            @media screen and (max-width: 834px) {
                width: 100%;
                border-right: none;
            }

            article {
                flex-direction: column;
                width: 50%;
                line-height: 25px;
                @media screen and (max-width: 834px) {
                    width: 80%;
                }

                h4 {
                    font-size: 1.3rem;
                    font-weight: 400;
                    @media screen and (max-width: 1280px) {
                        font-size: 1.1rem;
                    }
                }

                p {
                    @media screen and (max-width: 1280px) {
                        font-size: 0.8rem;
                    }
                }

                img {
                    width: 2vw;
                    align-self: flex-end;
                    @media screen and (max-width: 480px) {
                        width: 5vw;
                    }
                }
            }
        }

        .echangeMedecin2 {
            flex-direction: column;
            align-items: center;
            width: 50%;
            @media screen and (max-width: 834px) {
                width: 100%;
            }

            article {
                flex-direction: column;
                width: 50%;
                line-height: 25px;
                @media screen and (max-width: 834px) {
                    width: 80%;
                }

                h4 {
                    font-size: 1.3rem;
                    font-weight: 400;
                    @media screen and (max-width: 1280px) {
                        font-size: 1.1rem;
                    }
                }

                p {
                    @media screen and (max-width: 1280px) {
                        font-size: 0.8rem;
                    }
                }

                img {
                    width: 2vw;
                    align-self: flex-end;
                    margin-bottom: 2vh;
                    @media screen and (max-width: 480px) {
                        width: 5vw;
                    }
                }
            }
        }
    }
}