<main>
  <!-- section contenant la barre de recherche et les checkbox -->
  <section>
    <a routerLink="/">
      <span>Tiaki</span>
      <div></div>
    </a>
    <mat-form-field>
      <mat-label>Choisir un programme</mat-label>
      <mat-select [(ngModel)]="filtre">
        <mat-option *ngFor="let programme of programmeOpto.programme" [value]="programme" (click)="onSelectProgramme(programme)">
          <p>{{ programme.titre }}</p>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <article class="dashed"></article>
  </section>
  <!-- section contenant la photo ou image principale et le titre la description le carroussel -->
  <section *ngIf="selectedProgrammeOpto">
    <div>
      <article>
        <img src= "{{ selectedProgrammeOpto.photo }}" alt="imageOpto" />
        <h2>{{selectedProgrammeOpto.titre}}</h2>
        <p>{{selectedProgrammeOpto.description}}</p>
      </article>
    </div>
  </section>
  <app-bottom-bar-opto></app-bottom-bar-opto>
</main>
