$font-family: "Raleway", sans-serif;
$card-nutri: #d9042b;
$card-kine: #f22f1d;
$card-opto: #f28705;
$aside-color1: #270140;
$aside-color2: #805e96;
$aside-color3: #f0c02e;

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // Section contenant le logo et la barre de recherche des programmes
    section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-family: $font-family;
      align-items: center;
      

      a {
        color: $card-opto;
        text-decoration: none;
        display: flex;
        justify-content: space-around;
        width: 10vw;
        align-items: flex-end;
        align-self: baseline;

        div{
          border-bottom: dashed 1px black;
          margin-bottom: 10px;
          width: 3vw;
        }
        span {
          font-weight: 100;
          font-size: 2.5vw;
        }

        .dashed {
          border-bottom: dashed 1px black;
          width: 3vw;
          margin-bottom: 10px;
        }
      }
      .mat-mdc-form-field{
        width: 20vw;
        height: 8vh;
      }
      .mat-form-field-outline {
        background-color: white;
        color: black;
        height: 2vh;
        width: 6vw;

        .mat-form-field-label {
          color: #000000;
        }
        
      }

      // partie dahsed 
      article{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5vw;
        height: 5vh;
        width: 100%;
      }
      .dashed{
        width: 90%;
        height: 1vh;
        border-bottom: dashed 1px black;
      }
    }
    // section contenant l'image ou video et titre, description, duree, materiel et plus tard le caroussel
    section:nth-child(2){
      display: flex;
      flex-direction: column;
      height: 70vh;
      width: 100%;
      
      
        article:nth-child(1){
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         height: 90%;
         width: 100%;
  
          img{
            height: 80%;
            width: 55%;
          }
          article{
            display: flex;
            height: 20vh;
            width: 55vw;
  
            .div:nth-child(1){
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              
              
              h2{
                font-size: 0.8vw;
              }
              p{
                font-size: 0.6vw;
                
              }
            }
            // duree et materiel exercice
            .bottomContainer{
               display: flex;
               flex-direction: column;
               height: 8vw;
               justify-content: space-around;
  
              .horlMatBox{
                display: flex;
                align-items: center;
                gap: 1vw;
                width: 15vw;
                img{
                  height: 2vh;
                  width: 2vw;
                }
                p{
                  margin: 0;
                }
              }   
           }
          } 
  
      }
  }
}
