$font-family: "Raleway", sans-serif;
$card-nutri: #d9042b;
$card-kine: #f22f1d;
$card-opto: #f28705;
$aside-color1: #270140;
$aside-color2: #805e96;
$aside-color3: #f0c02e;

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // Section contenant le logo et la barre de recherche des programmes
    section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-family: $font-family;
      align-items: center;
      width: 100%;

      a {
        color: $card-opto;
        text-decoration: none;
        display: flex;
        justify-content: space-around;
        width: 10vw;
        align-items: flex-end;
        align-self: baseline;

        div{
          border-bottom: dashed 1px black;
          height: 1vh;
          width: 3vw;
        }
        span {
          font-weight: 100;
          font-size: 2.5vw;
        }

        .dashed {
          border-bottom: dashed 1px black;
          width: 3vw;
          margin-bottom: 10px;
        }
      }
      article{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5vw;
        height: 5vh;
        width: 100%;
      }
      .dashed{
        width: 90%;
        height: 1vh;
        border-bottom: dashed 1px black;
      }
    }
    
  }

