<header class="entete">
  <h1><a routerLink="/intranet">Tiaki</a></h1>
  <h2>Optométrie</h2>
</header>
<section class="accueil">
  <article *ngFor="let card of get.accueilModule" class="cartel">
    <div>
      <h2>{{ card.titre }}</h2>
      <p>{{ card.description }}</p>
      <!-- <a> -->
        <button [routerLink]="[card.url]">{{ card.bouton }}</button>
      <!-- </a> -->
    </div>
    <figure [style.background-image]="'url(' + card.image + ')'"></figure>
  </article>
</section>
<!-- <app-bottom-bar-opto></app-bottom-bar-opto> -->
