<header class="entete">
  <h1><a routerLink="/intranet">Tiaki</a></h1>
  <h2>Optométrie</h2>
</header>
<section class="accueil">
  <article *ngFor="let card of accueilOpto" class="cartel">
    <div>
      <h2>{{ card.title }}</h2>
      <p>{{ card.text }}</p>
      <a [routerLink]="[card.url]">
        <button>{{ card.button }}</button>
      </a>
    </div>
    <figure>
      <div [style.background-image]="'url(' + sanity.urlFor(card.image).url() + ')'" alt="Image d'illustration">
      </div>
    </figure>
  </article>
</section>
<!-- <app-bottom-bar-opto></app-bottom-bar-opto> -->
