<div class="custom-accordion">
  @for (item of items; track item; let index = $index) {
    <div class="custom-accordion-item">
      <div class="custom-accordion-item-header" (click)="toggleAccordion(index)">
        {{ item.header }}
        <span class="custom-accordion-item-description">
          Click to {{ expandedIndex === index ? 'close' : 'open' }}
        </span>
      </div>
      <div class="custom-accordion-item-body" [hidden]="expandedIndex !== index">
        <div  [innerHTML]="sanitizeHTML(item.content)">
          {{ item.content }}
        </div>
      </div>
    </div>
  }
</div>