section {
    background: url("/assets/imgAsidebar/BgVector2.svg") rgba(242, 183, 5, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;

    article:nth-child(1) {
        display: flex;
        justify-content: end;
    }

    article:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .photo-exo {

            img {
                height: 500px;
                width: 600px;
            }
        }

        div:nth-child(2) {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1{
                font-size: 1.3rem;
            }
            p {
                margin: 25px;
                text-align: justify;
                font-size: 20px;
            }

            div {
                display: flex;
                align-items: center;

                img{
                    height: 30px;
                }
                p{
                    font-size: 20px ;
                }
            }
        }
    }

}