<section id="modalExercices" *ngIf="exerciceModal">
    <article (click)="openModal(exerciceModal)">
      <!-- <mat-icon fontIcon="close" (click)="closeDialog()"></mat-icon> -->
    </article>
    <article>
      <div class="photo-exo">
        <img [src]="exerciceModal.media!.url" *ngIf="exerciceModal.media" alt="photo-exercice"/>
      </div>
      <div>
        <h1>{{ exerciceModal.titre }}</h1>
        <p>{{ exerciceModal.description }}</p>
        <div>
          <img src="assets/images/pictos/horlogeOpto.svg" alt="horloge" />
          <p>{{exerciceModal.duree}}</p>
          <img src="assets/images/pictos/materielOpto.svg" alt="materiel" />
          <ul>
            <li *ngFor="let mat of exerciceModal.materiels">{{ mat }}</li>
          </ul>
        </div>
        <button>Commencer</button>
      </div>
    </article>
  </section>
