section:nth-child(3) > article > header{
  width:100%;
  flex-flow:row wrap;
  justify-content: space-around;
  align-items: center;
  height:100px;
}
section:nth-child(2){
  display:none;
}
article > ul{
  width:100%;
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
}
section:nth-child(3) article > ul > li{
  list-style: none;
  margin:auto 20px;
}
