$card-nutri: #d9042b;
$card-kine: #f22f1d;
$card-opto: #f28705;
$aside-color1: #270140;
$aside-color2: #805e96;
$aside-color3: #f0c02e;

$clair: white;
$sombre: black;

$head: 60px; // Hauteur de l'entête des pages
$foot: 150px; // Hauteur des menus du bas  


section {
  flex-flow: column nowrap;
  height: calc(100vh - $foot);

  #head {
    flex-flow: column nowrap;
  }

  #head>p {
    color: $card-kine;
    font-size: 3rem;
    font-weight: 300;
  }

  #head>a:nth-child(1) {
    color: $card-kine;
  }
}

#accueil>section:nth-child(2) {
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  height: 100%;
}

#accueil>section:nth-child(2)>article {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #ffffff;
  transition: transform 250ms;
  height: 70%;
  width: 22%;
  background-color: $card-nutri ;

  &:hover {
    transform: translateY(-3vw);
  }

  button {
    color: $card-nutri;
    border-color: $card-nutri;
  }
}
@media screen and (max-width: 1024px) {
  #accueil>article>p {
    font-size: 1.9rem;
  }

  #accueil>section:nth-child(2)>article {
    height: 75%;
    justify-content: space-between;
    h2 {
      font-size: 1.2rem;
      font-weight: 500;
    }

    p {
      font-size: 0.8rem;
      font-weight: 400;
      margin: 15px;
    }
    a{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
}

// Media query pour les écrans de taille moyenne
@media screen and (max-width: 768px) {
  #accueil {
    justify-content: space-between;
  }

  #accueil>article {
    height:30%;
    align-items: center;
    justify-content: center;
  }
  #accueil>article>div>h1 {
    font-size: 1.8rem;
  }
  #accueil>article>p {
    font-size: 1.6rem;
  }

  #accueil>section:nth-child(2) {
    height: 70%;
  }

  #accueil>section:nth-child(2)>article {
    transition: transform 250ms;
    height: 80%;
    width: 25%;

    &:hover {
      transform: translateY(-3vw);
    }

    &:nth-child(1) {
      background-color: $card-opto ;

      button {
        color: $card-opto;
        border-color: $card-opto;
      }
    }

    &:nth-child(2) {
      background-color: $card-nutri ;

      button {
        color: $card-nutri;
        border-color: $card-nutri;
      }
    }

    &:nth-child(3) {
      background-color: $card-kine ;

      button {
        color: $card-kine;
        border-color: $card-kine ;
      }
    }

    &:nth-child(4) {
      background-color: $aside-color3 ;

      button {
        color: $aside-color3;
        border-color: $aside-color3 ;
      }
    }

    h2 {
      font-size: 1.2rem;
      font-weight: 500;
    }

    p {
      font-size: 0.6rem;
      font-weight: 400;
      margin: 15px;
    }

    a {
      button {
        background-color: #ffffff;
        width: 10vw;
        height: 6vh;
        margin-bottom: 1vw;
        font-weight: bolder;
        font-size: 0.9vw;
        cursor: pointer;
      }

      &:nth-child(2) {
        color: $card-nutri;
      }
    }

    img {
      width: 100%;
    }
  }

}

// Media query pour les écrans plus petits
@media screen and (max-width: 480px) {
  #accueil {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    overflow: auto;
    margin-left: 80px;
  }

  #accueil>article{
    margin: 25px;
    height: 20%;
  }

  #accueil>article>div>h1{
    font-size: 2rem;
  }
  #accueil>article>p {
    font-size: 1rem;
  }

  #accueil>section:nth-child(2) {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%; 
    overflow-y: auto;
    scrollbar-color: $card-opto #be861e;
    scrollbar-width: auto;
    gap: 10vw;
  }

  #accueil>section:nth-child(2)>article {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #ffffff;
    height: 35vh;
    width: 100%;
    gap: 2vw;
    cursor: pointer;
 
    h2 {
      font-size: 1.2rem;
      font-weight: 500;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
      margin: 15px;
    }

    a {
      button {
        display:none
      }
      img {
        height: 80%;
        width: 90%;
      }
    }
  }
}