<section>
  <article>
    <h1>Page d'accueil de la partie Nutrition</h1>
  </article>
</section>
<footer>
  <nav *ngFor="let bottom of bottoms">
    <a [routerLink]="[bottom.url]" (click)="onNavItemClick(bottom)">
      <section [ngStyle]="{'filter': bottom.active ? 'none' : 'contrast(50%)'}">
        <img [src]="bottom.image" alt="image d'exercice" />
        <article>
          <h4>{{ bottom.titre}}</h4>
          <p>{{ bottom.info }}</p>
        </article>
      </section>
    </a>
  </nav>
</footer>
