<section id="accueil">
  <header id="head">
    <a routerLink="/intranet">Tiaki</a>
    <p>Accueil Nutrition</p>
  </header>
  <section>
    <article *ngFor="let card of accueilNutrition">
      <h2>{{ card.title }}</h2>
      <p>{{ card.text }}</p>
      <a [routerLink]="[card.url]">
        <button>{{ card.button }}</button>
        <img src={{sanity.urlFor(card.image).url()}} alt="photo" />
      </a>
      <!-- L'image viens de Sanity -->
    </article>
  </section>
  <!-- <app-footer></app-footer> -->
</section>
<app-bottom-bar-nutri></app-bottom-bar-nutri>
