$card-nutri: #d9042b;
$card-kine: #f22f1d;
$card-opto: #f28705;
$aside-color1: #270140;
$aside-color2: #805e96;
$aside-color3: #f0c02e;

:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  section {
    display: flex;
    flex-flow: column nowrap;
    header, a{
      color: $card-nutri;
    }
    article:nth-child(1){
      height: 8vh;
    }
    article:nth-child(2) {
      display: flex;
    }
    img:nth-child(1){
      width: 80%;
      height: 65%;
    }
    img{
      width: 40%;
      height: 65%;
    }
  }
}
