<!-- 
<form #f="ngForm">
  
  <input name="id" [(ngModel)]="con.connexion.id.value" #ctlId="ngModel" (input)="ditMoiQuoiDansObjetConnection()"
      [placeholder]="con.connexion.id.placeholder" required>
      <span *ngIf="ctlId.invalid">Vous devez renseigner votre identifiant ou un email</span>
  
      <input name="mdp" [(ngModel)]="con.connexion.mdp.value" #ctlMdp="ngModel" type="password"
      [placeholder]="con.connexion.mdp.placeholder" required>
      <span *ngIf="ctlMdp.invalid">Heuu... Garçon... t'as pas un mot de passe ?</span>
  <div>
      <input type="reset" value="J'ai changé d'avis">
      <input type="submit" value="Se connecter" [disabled]="f.invalid">
  </div>
</form> -->