$font-family: "Raleway", sans-serif;
$card-nutri: #d9042b;
$card-kine: #f22f1d;
$card-opto: #f28705;
$aside-color1: #270140;
$aside-color2: #805e96;
$aside-color3: #f0c02e;
$clair: white;

$head: 60px; // Hauteur de l'entête des pages
$foot: 150px; // Hauteur des menus du bas

// Ci-dessous le CSS de la scrollBar pour chrome et autres navigateurs sauf firefox
::-webkit-scrollbar {
  background-color: #fddd4c;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  height: 200px;
  background-color: #f5d20a;
}

// Le header avec le logo Tiaki et le nom de la page
#head>p {
  color: $aside-color1;
}

#head>p:after {
  content: '   ......';
  font-size: 50%;
}

#head>a:nth-child(1) {
  color: $card-kine;
}

.modifier {
  // Le bouton mauve Modifier
  background-color: #805E96;
  border-color: #805E96;
  color: $clair;
  width: 6vw;
  height: 3vh;
  font-size: 0.8vw;
}

.sauvegarder {
  // Le bouton jaune Sauvegarder
  background-color: #F0C02E;
  border-color: #F0C02E;
  color: $clair;
  width: 6vw;
  height: 3vh;
  font-size: 0.8vw;
}

/* Section Main remplace la balise Main - Ci-dessous CSS de toute la page */
#main {
  flex-flow: column nowrap;
  height: calc(100vh - 150px);
  // Ci-dessous le CSS de la scrollBar pour firefox
  overflow-y: auto;
  scrollbar-color: $card-nutri #e7adb7;
  scrollbar-width: auto;

  section {
    justify-content: center;

    /* ---------- La balise article de toute la partie gauche ------------- */
    article:nth-child(1) {
      width: 45%;
      border-right: dashed black 1px;
      flex-flow: column nowrap;

      h1 {
        font-size: 1.2rem;
        color: #4A4A4A;
      }

      span:nth-child(2) {
        // La premiére balise span qui contient les 5 premiers input avec des tailles réduites
        display: flex;
        flex-direction: column;
        gap: 2vh;
        margin-left: 4vw;

        input:nth-child(-n + 5) {
          // Les 5 premiers input avec des tailles réduites
          width: 14vw;
          height: 3.5vh;
          font-size: 0.9vw;
        }
      }

      span {
        // Les balises span suivantes qui contiennent les input de taille standard
        display: flex;
        flex-direction: column;
        gap: 2vh;
        margin-left: 4vw;

        input {
          // Les input de taille standard
          width: 21vw;
          height: 3.5vh;
          font-size: 0.9vw;
        }
      }

      div {
        // La div contenant les 2 boutons (Modifier & Sauvegarder)
        width: 75%;
        margin: 2vh 0 2vh 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1vw;
      }
    }

    /* ---------- La balise article de toute la partie droite ------------- */
    article:nth-child(2) {
      width: 45%;
      flex-flow: column nowrap;
      margin-left: 2vw;

      h1 {
        font-size: 1.2rem;
        color: #4A4A4A;
      }

      span:nth-child(2) {
        // La premiére balise span qui contient les 5 premiers input avec des tailles réduites
        display: flex;
        flex-direction: column;
        gap: 2vh;
        margin-left: 4vw;

        input:nth-child(-n + 5) {
          // Les 5 premiers input avec des tailles réduites
          width: 14vw;
          height: 3.5vh;
          font-size: 0.9vw;
        }

        input:nth-child(n + 6) {
          // Les 3 input  suivant de taille standard
          width: 21vw;
          height: 3.5vh;
          font-size: 0.9vw;
        }
      }

      span {
        // Les balises span suivantes qui contiennent les input de taille standard
        display: flex;
        flex-direction: column;
        gap: 2vh;
        margin-left: 4vw;

        input {
          // Les input de taille standard
          width: 21vw;
          height: 3.5vh;
          font-size: 0.9vw;
        }
      }

      div {
        // La div contenant les 2 boutons (Modifier & Sauvegarder)
        width: 75%;
        margin: 2vh 0 2vh 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1vw;
      }
    }
  }
}

// footer
footer {
  justify-content: space-around;
  background-color: #F0C02E;
  color: $clair;
  height: 150px;

  article {
    flex-direction: column;
    width: 33%;
    border-right: dashed 1px $clair;
    margin-left: 50px;

    h5 {
      font-weight: 400;
      font-size: 1rem;
      margin: 0;
      margin-top: 20px;
    }

    ul {
      li {
        font-size: 1vw;
      }
    }
  }
}