:host {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  overflow-y: auto;
}
header{
  height:65px;
}
mat-tab-group {
  height: calc(100vh - 250px);
}
mat-form-field{
  margin:10px;
}
mat-progress-spinner{
  max-width: 50px;
}
section {
  flex-flow: column nowrap;
  padding:10px 20px;
  width:50%;
}
li{
  display: flex;
  flex-flow:row wrap;
}
article{
  flex-flow:column nowrap;
  margin:0 10px;
}
h2{
  padding:0 20px;
}
h3{
  width:100%;
}
footer {
  height: 250px;
  justify-content: space-around;
  background-color: #270140;
  flex-flow: column nowrap;
}
footer > section {
  color:white;
  flex-flow: row nowrap;
  justify-content: space-around;
  height:100%;
}
footer > h2 {
  margin-top:-35px;
}
footer article {
  width:30%;
  height:100%;
}
