<section id="main">
  <header id="head">
    <a routerLink="/intranet">Tiaki</a>
    <p>Profil d'Émilie</p>    
  </header>
  <section>
    <!-- Premiére balise article - Partie gauche -->
    <article>
        <h1>Profil de l’aidant ou du parent</h1>
      <span>
        <input type="text" placeholder="Nom">
        <input type="text" placeholder="Prénom">
        <input type="text" placeholder="Age">
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Téléphone">
      </span>
      <div>
        <button class="modifier">Modifier</button>
        <button class="sauvegarder">Sauvegarder</button>
      </div>
        <h1>Gestation</h1>
      <span>
        <input type="search" placeholder="Age de la maman pendant la gestation">
        <input type="search" placeholder="Problème pathologique de la maman/gestant">
        <input type="search" placeholder="Allergies alimentaires de la maman/intolérance">
        <input type="search" placeholder="Fécondation naturelle ou artificielle">
        <input type="search" placeholder="Condition de la gestation">
        <input type="search" placeholder="Alimentation pendant la gestation">
        <input type="search" placeholder="Examens pendant la gestation">
      </span>
        <h1>Accouchement</h1>
      <span>
        <input type="search" placeholder="Semaine de gestation">
        <input type="search" placeholder="Epidural">
        <input type="search" placeholder="Induit">
        <input type="search" placeholder="Matériel d’extraction">
        <input type="search" placeholder="Urgences médicales">
      </span>
        <h1>Naissance</h1>
      <span>
        <input type="search" placeholder="Poids de l’enfant">
        <input type="search" placeholder="Taille de l’enfant">
        <input type="search" placeholder="Périmètre crânien">
        <input type="search" placeholder="Contact direct avec la maman">
        <input type="search" placeholder="Assistance respiratoire">
        <input type="search" placeholder="Couveuse">
        <input type="search" placeholder="Jaunisse">
        <input type="search" placeholder="Allaitement">
      </span>
        <h1>Premier temps de vie</h1>
      <span>
        <input type="search" placeholder="Intolérance au lait">
        <input type="search" placeholder="Collique ou irritabilité">
        <input type="search" placeholder="Date de péridode d’intoroduction des aliments">
      </span>  
      <div>
        <button class="modifier">Modifier</button>
        <button class="sauvegarder">Sauvegarder</button>
      </div>
    </article>
    <!-- Seconde balise article - Partie droite -->
    <article>
        <h1>Profil de la/des personne(s) à charge et questionnaire infantile.</h1>
      <span>
        <input type="search" placeholder="Nom">
        <input type="search" placeholder="Prénom">
        <input type="search" placeholder="Date de naissance">
        <input type="search" placeholder="Pathologie">
        <input type="search" placeholder="Allergie">
        <input type="search" placeholder="Date apparition première allergie">
        <input type="search" placeholder="Problèmes respiratoires">
        <input type="search" placeholder="Problèmes digestifs">
      </span>
      <div>
        <button class="modifier">Modifier</button>
        <button class="sauvegarder">Sauvegarder</button>
      </div>
        <h1>Condition générale</h1>
      <span>
        <input type="search" placeholder="Diagnostique de handicap">
        <input type="search" placeholder="Date diagnostique">
        <input type="search" placeholder="Age apparition premier symptômes">
        <input type="search" placeholder="Explication des premiers symptômes">
        <input type="search" placeholder="Épilepsie">
      </span>
        <h1>Suivi médical</h1>
      <span>
        <input type="search" placeholder="Fréquence maladie">
        <input type="search" placeholder="Allergies ou intolérances alimentaires">
        <input type="search" placeholder="Allergies ou intolérances chimiques">
        <input type="search" placeholder="Problèmes cardiaques">
        <input type="search" placeholder="Déglutition">
        <input type="search" placeholder="Mastication">
        <input type="search" placeholder="Reflux">
        <input type="search" placeholder="Bruxisme">
        <input type="search" placeholder="Bavage">
        <input type="search" placeholder="Problèmes urogénital">
        <input type="search" placeholder="Problèmes circulatoire">
        <input type="search" placeholder="Problèmes d’eczémas">
        <input type="search" placeholder="Problèmes de vision">
      </span>
        <h1>Examens complémentaire/opérations</h1>
      <span>
        <input type="search" placeholder="Opérations">
        <input type="search" placeholder="Radiographie">
        <input type="search" placeholder="Scanner">
      </span>
      <div>
        <button class="modifier">Modifier</button>
        <button class="sauvegarder">Sauvegarder</button>
      </div>
    </article>
  </section>  
</section>
<footer>
  <article *ngFor="let liste of profil.bottomBarTableau">
      <h5>{{liste.titre}}</h5>
      <ul>
          <li>{{liste.firstInfo}}</li>
          <li>{{liste.secondInfo}}</li>
      </ul>
  </article>
</footer>