<section id="programmes">
  <header id="head">
    <a routerLink="/">Tiaki</a>
    <p>Kinésithérapie ></p>
    <p>Programmes</p>
  </header>
  <article>
    <form class="example-form">
      <input class="example-input" type="text" name="myProg" placeholder="Recherche" [formControl]="control"
        [matAutocomplete]="auto" (keyup)="filtrerProgrammes()" />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
        <mat-option *ngFor="let programme of programmesFiltres" [value]="programme"
          (mouseover)="hoverSelectedProgramme(programme)">
          {{ programme.titre }}
        </mat-option>
      </mat-autocomplete>
    </form>
    <input type="checkbox" id="allergie" name="allergie" value="allergie" />
    <label for="allergie">Tenir compte de mes allergies </label>
    <input type="checkbox" id="jamaisFait" name="jamaisFait" value="jamaisFait" />
    <label for="jamaisFait">Jamais faites </label>
  </article>
  <div class="dashed"></div>
  <article *ngIf="selectedProgrammeKine; selectedProgramme">
    <img src="{{ selectedProgrammeKine.photo }}" alt="imageOpto" />
    <article>
      <div>
        <h2>{{ selectedProgrammeKine.titre }}</h2>
        <p>{{ selectedProgrammeKine.description }}</p>
      </div>
      <div class="bottomContainer">
        <div class="horlMatBox">
          <img src="assets/iconeKineOpto/horlogeOpto.svg" alt="horloge" />
          <p>{{ selectedProgrammeKine.duree }}</p>
        </div>
        <div class="horlMatBox">
          <img src="assets/iconeKineOpto/materielOpto.svg" alt="materiel" />
          <p>{{ selectedProgrammeKine.materiel }}</p>
        </div>
      </div>
    </article>
  </article>
</section>