<app-ariane></app-ariane>
<section id="module" class="progression">
  <header>
    <form>
      <mat-form-field>
        <mat-label>{{ l.t.pages['PROGRAMMES'] }}</mat-label>
        <mat-select name="programmes" [(ngModel)]="programme" (change)="setProgramme(ctlListe.value)"
          #ctlListe="ngModel">
          <mat-form-field>
            <mat-label> {{ l.t.pages['FILTRER']+ '...' }}</mat-label>
            <input matInput #filterPlc>
          </mat-form-field>
          <div *ngFor="let p of kine.listeProgrammes">
            <mat-option [value]="p" *ngIf="p.titre.toLowerCase().indexOf(filterPlc.value.toLowerCase()) !== -1">
              {{ p.titre }}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
      <mat-checkbox name="allergies" [(ngModel)]="fAllergies"> <span>{{ l.t.pages['ALLERGIES-FILTRE']
          }}</span></mat-checkbox>
      <mat-checkbox type="checkbox" name="faits" [(ngModel)]="fFait"><span>{{ l.t.pages['PAS-FAITS']
          }}</span></mat-checkbox>
      <button (click)="initFiltres()" class="bg-annule">{{ l.t.pages['ANNULER'] }}</button>
    </form>
  </header>
  <section class="programme">
    <article>
      <figure [style.background-image]="'url(' + programme.photo + ')'" *ngIf="programme.photo">
        <h1>{{ programme.titre }}</h1>
      </figure>
      <div>
        <p>{{ programme.description }}</p>
        <div>
          <div *ngIf="programme.duree">
            <img src="assets/images/pictos/horloge.svg" alt="horloge" />
            <p>{{ programme.duree }}</p>
          </div>
          <div *ngIf="programme.materiels">
            <img src="assets/images/pictos/materiel.svg" alt="materiel" />
            <p>{{ programme.materiels.toString() }}</p>
          </div>
        </div>
        <app-carrousel [items]="programme.exercices" (carouselItemClick)="onCarouselItemClick($event)"></app-carrousel>
      </div>
    </article>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon aria-hidden="false" aria-label="" fontIcon="diversity_1" class="opto mat-icone"></mat-icon>
          {{ l.t.pages['COMMENTAIRES-TITRE'] }}
        </mat-panel-title>
        <mat-panel-description>
          {{ l.t.pages['COMMENTAIRES-DESCR'] }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ul>
        <li>Commentaires de la communauté</li>
      </ul>
    </mat-expansion-panel>
  </section>
  <!-- Afficher le menu -->
  <app-menu [idMenu]="'kine'" [classe]="'bg-kine'"></app-menu>
</section>
