main>footer {
  background-color: #f28705;
}

#exercices>#head,
#exercices>#head a {
  color: #f28705;
}

// Couleur scrollbar
#exercices {
  ::-webkit-scrollbar {
    background-color: #f7b757;
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    height: 200px;
    background-color: #f28705;
  }
}
#exercices header article {
  background: none;
  width: 40vw;
  align-items: end;
}