<header class="entete">
  <!-- <app-ariane></app-ariane> -->
  <h1><a routerLink="/intranet">Tiaki</a></h1>
  <h2>Kinésithérapie</h2>
</header>
<section class="accueil">
  <article *ngFor="let card of get.accueilModule" class="cartel">
    <div>
      <h2>{{ card.titre }}</h2>
      <p>{{ card.description }}</p>
      <a [routerLink]="[card.url]">
        <button>{{ card.bouton }}</button>
      </a>
    </div>
    <figure [style.background-image]="'url(' + card.image + ')'" >
    </figure>
  </article>
</section>
