<section>
  <header id="head">
    <a routerLink="/intranet">Tiaki</a>
    <p>Journal des Repas</p>
  </header>
  <article>
    <img src="assets/Calendar_section.svg" alt="calendrier" />
    <img src="assets/jourRepas.svg" alt="repas" />
  </article>
  <article id="mobile">
    <div>
      <img src="assets/calendriermobile.png" alt="calendrierMobile">
    </div>
    <div>
      <span>
        <p></p>
        <p>Rien à signaler</p>
      </span>
      <span>
        <p></p>
        <p>À surveiller</p>
      </span>
      <span>
        <p></p>
        <p>Réaction allergique</p>
      </span>
      <span>
        <p></p>
        <p>Aucune donnée</p>
      </span>
    </div>
    <div>
      <img src="assets/jourRepas.svg" alt="">
    </div>
  </article>
  <!-- <app-footer></app-footer> -->
</section>
<app-bottom-bar-nutri></app-bottom-bar-nutri>
