$card-nutri: #d9042b;
$card-kine: #f22f1d;
$card-opto: #f28705;
$aside-color1: #270140;
$aside-color2: #805e96;
$aside-color3: #f0c02e;
$font-family: "Raleway", sans-serif;

$clair: white;
$sombre: black;

$head: 60px; // Hauteur de l'entête des pages
$foot: 150px; // Hauteur des menus du bas  

/* section {
  flex-flow: column nowrap;
  height: calc(100vh - $foot);
  @media screen and (max-width: 834px) {
    height: calc(100vh - 100px);
  }
  @media screen and (max-width: 480px) {
    width: calc(100% + 68px); // Pour l'aside Bar
    overflow: auto;
  }

  #head>p {
    color: $card-nutri;
  }

  #head>p:after {
    content: '   ......';
    font-size: 50%;
  }

  #head>a:nth-child(1) {
    color: $card-nutri;
  }

  article:nth-child(2) { // La balise article version Desktop
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    @media (max-width: 834px) and (min-height: 1024px) { // Max et Min pour cohabiter
      flex-direction: column;
      align-items: center;
    }    

    img:nth-child(1) {
      width: 75%;
      height: 80%;
      @media only screen and (max-width: 1000px) {
        width: 70%;
        height: 75%;
      }
      @media only screen and (max-width: 834px) { // Responsive Tablette
        width: 65%;
        height: 70%;
      }
    }

    img:nth-child(2) {
      width: 40%;
      height: 80%;
      margin-top: 40px;
      @media only screen and (max-width: 1000px) {
        width: 30%;
        height: 70%;
      }
      @media only screen and (max-width: 834px) { // Responsive Tablette
        width: 30%;
        height: 70%;
      }
      @media (max-width: 834px) and (min-height: 1024px) { // Max et Min pour cohabiter
        margin-top: 0;
      }
    }
    @media only screen and (max-width: 480px) {
      display: none;
    }
  }

  article:nth-child(3) { // La balise article version Mobile
    display: none;
    @media only screen and (max-width: 480px) {
      display: flex;
      flex-direction: column;      
      div:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 80%;
          height: 90%;
        }
      }
      div:nth-child(2) {
        display: flex;
        flex-direction: column;
        margin-left: 5vw;
        span {
          display: flex;
          flex-direction: row;
          gap: 1vw;
        }
        span:nth-child(1) {          
          p:nth-child(1) {
            height: 15px;
            width: 15px;
            background-color: #805E96;
          }
        }
        span:nth-child(2) {
          p:nth-child(1) {
            height: 15px;
            width: 15px;
            background-color: #F0C02E;
          }
        }
        span:nth-child(3) {
          p:nth-child(1) {
            height: 15px;
            width: 15px;
            background-color: #D9042B;
          }
        }
        span:nth-child(4) {
          p:nth-child(1) {
            height: 15px;
            width: 15px;
            background-color: #D1D1D1;
          }
        }
      }
      div:nth-child(3) {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 80%;
          height: 90%;
        }
      }
    }
  }
} */

// Ci-dessous le CSS de la scrollBar pour chrome et autres navigateurs sauf firefox
::-webkit-scrollbar {
  background-color: #e7adb7;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  height: 200px;
  background-color: $card-nutri;
}

// CSS pour tout les boutons
button {
  font-family: $font-family;
    font-size: 0.8vw;
    width: 7vw;
    @media screen and (max-width: 834px) {
        width: 11vw;
        font-size: 0.7rem;
    }
    @media screen and (max-width: 480px) {
        width: 20vw;
        font-size: 0.6rem;
    }
  }
// CSS pour les boutons cliqués - J'utilise [class.selected] dans le Html
  .selected {
    background-color: #805E96!important;
    color: white!important;
  }

section {
  flex-flow: column nowrap;
  height: calc(100vh - $foot);
  @media screen and (max-width: 834px) {
    height: calc(100vh - 100px);
  }
  @media screen and (max-width: 480px) {
    width: calc(100% + 68px); // Pour l'aside Bar
    overflow: auto;
  }

  #head>p {
    color: $card-nutri;
  }

  #head>p:after {
    content: '   ......';
    font-size: 50%;
  }

  #head>a:nth-child(1) {
    color: $card-nutri;
  }

// La div principale qui englobe les 2 articles
  #divMain {
    //height: calc(100vh - $foot);
    display: flex;
    flex-direction: row;
    gap: 5vw;
    #calendrier { // L'article contenant le calendrier et ces boutons
      display: flex;
      flex-direction: column;
      height: calc(100vh - $foot); 
      width: 60vw;      
      div:nth-child(1) { // La div avec tout les boutons et la date dans une balise <p>
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 10vh;
        span:nth-child(1) {
          button {
            
          }
        }
        p { // La date en texte
          font-size: 1.5rem;
        }
        span:nth-child(2) {
          button {
            
          }
        }
      }  
  
      div:nth-child(2) { // La div contenant le calendrier
        overflow-y: auto;
        scrollbar-color: red;
        height: 60vh; 
        margin-left: 1vw;     
      }   
      
      div:nth-child(3) { // La div avec le lexique des couleurs
        display: flex;
        flex-direction: row;
        margin-left: 1vw; 
        gap: 0.5vw;
        justify-content: center;
        #blocPositif {
          background-color: #33BB27;
          height: 2vh;
          width: 3vw;
          border-radius: 10%;
        }
        #blocObservations {
          background-color: #F0C02E;
          height: 2vh;
          width: 3vw;
          border-radius: 10%;
        }
        #blocAllergies {
          background-color: #D9042B;
          height: 2vh;
          width: 3vw;
          border-radius: 10%;
        }
        #blocNeutre {
          background-color: #D1D1D1;
          height: 2vh;
          width: 3vw;
          border-radius: 10%;
        }
      }
    } //<------- Fin du premier article

    #interface { // L'article contenant l'interface d'ajout
      height: 60vh;
      width: 25vw;
      margin-top: 7vh;
      display: flex;
      flex-direction: column;
      //background-color: #ffffff;
      h1 { // La balise <h1> Renseigner votre journal des repas
        font-weight: 500;
        font-size: 1.3rem;
      }
      form {
        display: flex;
        flex-direction: column;
      }
      span {
        display: flex;
        flex-direction: row;
        justify-content: flex-end; 
        align-items: center;
        gap: 0.5vw;
        p:nth-child(1) {
          font-size: 2.5rem;
          margin: 0;
        }       
        button {
          background-color: #33bb27;
          color: #ffffff;
        }
        button:disabled {
          background-color: #33bb27;
          color: #444141;
        }

      }
      
    }

  }

}