$card-nutri: #d9042b;
$card-kine: #f22f1d;
$card-opto: #f28705;
$aside-color1: #270140;
$aside-color2: #805e96;
$aside-color3: #f0c02e;

$clair: white;
$sombre: black;

$head: 60px; // Hauteur de l'entête des pages
$foot: 150px; // Hauteur des menus du bas  

section {
  flex-flow: column nowrap;
  height: calc(100vh - $foot);

  #head > p{
    color: $card-nutri;
  }
  #head > p:after {
    content:'   ......';
    font-size:50%;
  }  
  #head > a:nth-child(1) {
    color: $card-nutri;
  }
  article{
    width: 100%;
    height: 100%;
    display: flex;

    img:nth-child(1){
      width:75%;
      height: 80%;
    }
    img:nth-child(2){
      width: 40%;
      height: 80%;
      margin-top: 40px;
    }

  }
}

