$font-family: "Raleway", sans-serif;
$card-nutri: #d9042b;
$card-kine: #f22f1d;
$card-opto: #f28705;
$aside-color1: #270140;
$aside-color2: #805e96;
$aside-color3: #f0c02e;

footer {
  background-color: $aside-color2;
  display: flex;
  justify-content: space-evenly;
  font-family: $font-family;
  height: 150px;
  width: 100%;

  a {
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    width: 25%;
    height: 100%;
    justify-content: space-evenly;

    section:nth-child(1) {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      justify-content: center;
      gap: 1vw;
      align-items: center;

      img {
        width: 3vw;
        margin-bottom: 15px;
      }

      article {
        color: #ffffff;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 70%;


        h1 {
          margin: 0;
          font-size: 1.5rem;
        }

        p {
          font-size: 1rem;
          margin-top: 5px;

        }
      }
    }
  }
}