$font-family: "Raleway", sans-serif;
$card-nutri: #d9042b;
$card-kine: #f22f1d;
$card-opto: #f28705;
$aside-color1: #270140;
$aside-color2: #805e96;
$aside-color3: #f0c02e;

footer {
  background-color: $card-opto;
  display: flex;
  justify-content: space-evenly;
  font-family: $font-family;
  height: 15vh;
  width: 100%;

  nav {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-evenly;

    a {
      text-decoration: none;
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      
      .active {
        filter: contrast(90%);
      }
      section {
        display: flex;
        width: 100%;
        justify-content: space-evenly;

        img {
          width: 3vw;
          height: 4vw;
        }
        article {
          color: #ffffff;
          display: flex;
          flex-direction: column;
          width: 70%;

          h4 {
            margin: 0;
            font-size: 1.2vw;
          }
          p {
            font-size: 0.8vw;
          }
        }
      }
    }
  }
}
