<section id="nutrition">
  <section>
    <header>
      <button (click)="openDialog()" class="bg-valide align-self-center"><mat-icon>add_box</mat-icon>{{
        l.t.nutrition['PLAT_CREE'] }}</button>
      <h1>{{ l.t.nutrition['PLATS_DISPO'] }}</h1>
    </header>
    <article>
      <ul>
        <li *ngFor="let plat of nutri.listePlats" [class.actif]="plat.id == selectedPlat!.id" (click)="setPlat(plat)">
          <h2>{{ plat.titre }}</h2>
          <p>{{ plat.description }}</p>
          <app-eval [id]="selectedPlat.id!" [table]="'plats'" [classe]="'nutrition'"></app-eval>
        </li>
      </ul>
    </article>
  </section>
  <section>
    <app-ariane></app-ariane>
    <header>
      <form>
        <mat-form-field>
          <mat-label>{{ l.t.nutrition['FILTRE_NOMS'] }}</mat-label>
          <input matInput [(ngModel)]="filtre" name="libre">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ l.t.nutrition['FILTRE_EVALS'] }}</mat-label>
          <mat-select [(ngModel)]="filtreEval">
            <mat-option value=2>{{ l.t.nutrition['PLATS_TOUS'] }}</mat-option>
            <mat-option value=1>{{ l.t.nutrition['PLATS_EVAL'] }}</mat-option>
            <mat-option value=0>{{ l.t.nutrition['PLATS_EVAL_PROBLEME'] }}</mat-option>
            <mat-option value=-1>{{ l.t.nutrition['PLATS_EVAL_NON'] }}</mat-option>
          </mat-select>
        </mat-form-field>
        <fieldset>
          <mat-checkbox>{{ l.t.nutrition['COMMUNAUTE'] }}</mat-checkbox>
          <mat-checkbox>{{ l.t.nutrition['PLTS_PERSO'] }}</mat-checkbox>
          <mat-checkbox>{{ l.t.nutrition['ALLERGENES_SANS'] }}</mat-checkbox>
        </fieldset>
      </form>
    </header>
    <article *ngIf="selectedPlat.id != -1">
      <h2>{{ selectedPlat.titre }} <button class="bg-valide"><mat-icon>date_range</mat-icon>{{
          l.t.nutrition['PLAT_AGENDA'] }}</button></h2>
      <h3>{{ l.t.pages['DESCR'] }}</h3>
      <p>{{ selectedPlat.description }}</p>
      <table>
        <thead>
          <tr>
            <th>{{ l.t.nutrition['INGREDIENTS'] }}<mat-icon class="valide">add_box</mat-icon>
            </th>
            <th>{{ l.t.nutrition['QTS'] }}</th>
            <th>{{ l.t.nutrition['VALEURS_NUTRI'] }}</th>
            <th>{{ l.t.nutrition['ALLERGENES'] }}</th>
            <th>{{ l.t.nutrition['COMMUNAUTE_EVALS'] }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ingr of selectedIngredients" class="over">
            <td>{{ ingr.alim_nom_fr }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <app-eval [id]="selectedPlat.id!" [table]="'plats'" [classe]="'nutrition'"></app-eval>
            </td>
          </tr>
        </tfoot>
      </table>
    </article>
    <article *ngIf="selectedPlat.id == -1">
      <h2>Sélectionnez un plat</h2>
      <p>Sélectionnez des plats pour connaître leurs compositions, en créer un nouveau, l'ajouter à un menu ou à votre
        planning</p>
    </article>
  </section>
</section>
<!-- Afficher le menu -->
<app-menu [idMenu]="'nutrition'" [classe]="'bg-nutrition'"></app-menu>
