/** Variables SCSS */
$font-family: 'Raleway', sans-serif;
$card-nutri: #D9042B;
$card-kine: #F22F1D;
$card-opto: #F28705;
$aside-color1: #270140;
$aside-color2: #805E96;
$aside-color3: #F0C02E;
$vert:rgb(23, 173, 43);

$clair: white;
$sombre: black;

$head: 20vh; // Hauteur de l'entête des pages d'accueil
$breadcrumb:60px; // Hauteur du fil d'ariane
$foot: 150px; // Hauteur des menus du bas
$l: 65px; // Largeur du menu de droite qui permet de calculer la largeur des éléments de la page

/** BALISES GENERIQUES HTML */
html,
body {
  height: 100%;
  width:100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background: url('./assets/images/bg/bg.svg') no-repeat center center fixed;
  background-size: cover;
  font-family: $font-family;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

main,
section,
article,
header,
form,
footer {
  display: flex;
}
main{
  width:100vw;
  height:100vh;
}
h1 {
  color: $card-nutri;
  font-weight: 100;
  font-size: 62px;
  margin:20px 0 10px;
}
h1:before, h1:after{
  content:'......'
}
h1 a,
h1 a:hover {
  color: $card-nutri;
}
h2{

}
a {
  text-decoration: none;
  color: $aside-color1;
  transition:all .3s ease;
}
a:hover{
  font-weight: 600;
  color: $aside-color2;
}
figure{
  background: 50% 50% no-repeat;
  background-size: 100%;
  transition: all .3s ease;
  overflow: hidden;
  display:flex;
}
button{
  padding:15px 20px;
  border:none;
  transition:all .3s ease;
  cursor: pointer;
  font-weight:600;
  width: fit-content;
  background-color:$clair;
  color:$aside-color1;
  font-size: 16px;
}
button:hover{
  background-color: $aside-color3;
  color: $aside-color1;
  transform: scale(1.1);
}
/** CLASSES GENERIQUES */
.logo{
  width:150px;
}
.entete{
  display:flex;
  flex-flow: column nowrap;
  width:100%;
  text-align:center;
  justify-content: flex-end;
  height:$head;
  margin:0;
}
.ariane{
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
  color: $aside-color2;
  height:$breadcrumb;
}
.ariane h1, .ariane h2{
  font-weight: 100;
  font-size:24px;
  margin:0 0 0 20px;
}
.ariane h2:before{
  content:'...... '
}
.ariane h2:after{
  content:' ......'
}
#menus-themes{
  display: flex;
  justify-content: space-around;
  height: 150px;
  width: 100%;
  padding:15px;
}
#menus-themes > a {
  flex-flow: row nowrap;
  justify-content: center;
  padding:15px;
  align-items: center;
  height:100%;
  cursor: pointer;
}
#menus-themes > a section {
  height:100%;
  align-items: center;
}
#menus-themes > a section > img {
  width: 50px;
  height:50px;
  margin-right:15px;
  transition: all .3s ease;
}
#menus-themes > a section > article {
  color: #ffffff;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
}
#menus-themes > a section > article * {
  margin:0;
}
#menus-themes > a:hover {
  transform: scale(1.05);
}
#menus-themes > a:hover img{
  width:4vw;
  margin-right:20px;
}

/** CLASSES POUR LES COULEURS DE LA CHARTE GRAPHIQUE */
.icone{
  width:30px;
  cursor: pointer;
}
.bg-nutrition{
  color:$clair;
  background-color: $card-nutri;
}
.bg-opto{
  color:$clair;
  background-color: $card-opto;
}
.bg-kine{
  color:$clair;
  background-color: $card-kine;
}
.bg-admin{
  color:$clair;
  background-color: $aside-color1;
}
.bg-valide{
  color:$clair;
  background-color: $vert;
}
.bg-annule{
  color:$clair;
  background-color: $aside-color3;
}
.nutrition{
  color: $card-nutri;
}
.nutrition svg path{
  fill:$card-nutri;
}
.opto{
  color:$card-nutri;
}
.opto svg path{
  fill:$card-opto;
}
.kine{
  color:$card-kine;
}
.kine svg path{
  fill:$card-kine;
}
/** COMPOSANTS */
.cal-event-title { // Le texte dans le calendrier
  color: $clair;
}

// L'affichage des events dans la vue calendrier mois (dans la barre grise après un clic sur le jour)
mwl-calendar-open-day-events {
  div {
    div {
      display: flex;
      flex-direction: row;
      //align-items: center;
      gap: 1vw;
    }
  }
}

// Le label 'Éléments par page :' de mat-paginator
.mat-mdc-paginator-page-size {
    display: none!important;
}
// Le label 'x sur x' de mat-paginator
.mat-mdc-paginator-range-label {
  margin: 0!important;
  font-family: $font-family;
  @media screen and (max-width: 1310px) {
    display: none;
  }
}
// La couleurs des fléches dans la pagination
.mat-mdc-paginator-icon {
  fill: red;
}

.mat-mdc-option {
  // Pour les options de choix dans tout les menus déroulants
  @media screen and (max-width: 834px) {
    font-size: 0.6rem;
  }
}

// Pour le label dans les 3 balises (Vos menus - les menus de la communauté - allergie d'émilie et toutes les balises mat-select suivantes)
.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  @media screen and (max-width: 480px) {
    top: 50%; // Pour positionner le label au milieu du select
  }
}

// Pour le label dans le textarea de la modal save-data dans la page plats (Lors d'un ajout de plat) - Aussi pour les textarea de Journal
#textarea {
  .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    @media screen and (max-width: 480px) {
      top: 28px; // Pour positionner le label à sa valeur initial (Pas 50% comme au dessus)
    }
  }
}

/** ------------------------------------------------------
// COMPOSANT ACCUEIL DE L'INTRANET
*/
app-accueil {
  height: 100vh;
  flex-direction: column;
}

// Les 3 Cartes
section.accueil {
  flex-direction: row;
  height: calc(100vh - $head);
}

article.cartel {
  margin: auto 2% 0;
  flex-direction: column;
  text-align: center;
  color: $clair;
  transition: all .3s ease;
  height: 85%;
  flex: 1 1 0px;
  overflow: hidden;
  justify-content: space-between;

  h2 {
    font-size: 2rem;
  }
  p {
    padding: 15px;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &:nth-child(1) {
    background-color: $card-opto ;

    button {
      color: $card-opto;
    }
  }

  &:nth-child(2) {
    background-color: $card-nutri ;

    button {
      color: $card-nutri;
    }
  }

  &:nth-child(3) {
    background-color: $card-kine ;

    button {
      color: $card-kine;
    }
  }

  &:nth-child(4) {
    background-color: $aside-color3 ;

    button {
      color: $aside-color3;
    }
  }
  & > div{
    height:60%;
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding:20px;
    transition:all .3s ease;
  }
  & > div > *{
    margin:0 auto;
  }
  figure{
    margin:0 -20px -20px;
    padding:0;
    border-top-left-radius:70%;
    border-top-right-radius: 50%;
    height:40%;
  }
  figure > div{
    width:100%;
    height:100%;
    margin:0 -20px -20px;
    // background-position:0 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    img {
      width: 100%;
    }
    button:hover{
      background-color: $clair;
    }
    &:nth-child(2) {
      color: $card-nutri;
    }
  }
  // Animation sur le hover
  &:hover {
    padding:30px 50px 0;
    transform: scale(1.1);
  }
  &:hover > div {
    height:50%;
    padding-bottom:40px;
  }
  &:hover > figure {
    margin:0 -70px 0;
    border-radius: 0;
    height:50%;
  }

}

@media screen and (max-width: 960px) {
  section.accueil {
    flex-direction: column;
  }
  article.cartel {
    flex-direction: row;
    margin:0;

    &:hover {
      padding:0;
      transform: scale(1);
    }
    &:hover > div {
      height:100%;
      padding-bottom:0;
    }
    &:hover > figure {
      margin:0 -70px 0;
      border-radius: 0;
      height:100%;
    }
  }
  article.cartel div{
    width:55%;
    height:100%;
  }
  article.cartel figure{
    width:45%;
    height:100%;
    border-top-right-radius: 0;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
  }

}

// Navbar icone burger
#burger-icon {
  color: $card-kine;
}

// -------------------------------------------------
// Fil d'ariane
app-ariane article{
  display:flex;
  flex-flow: row nowrap;
  height: $breadcrumb;
  padding: 5px;
  margin: 0;
  align-items: center;
  font-size: 18px;
  font-weight: 100;
}
app-ariane article a{
  margin-right:5px;
}
app-ariane article a:after{
  transition: padding .3s ease;
  padding-left:5px;
  content : ' » '
}
app-ariane article a:hover:after{
  padding-left:10px;
  padding-right:10px;
}
app-ariane img {
  width:30px;
}
// Loupe de recherche à gauche de la search  bar
header > form{
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
  margin:0 auto;
}
header > form > * {
  margin:10px;
}
header > form div.mat-mdc-form-field-infix {
  min-width:300px;
}
//section exercice
#module{
  width:calc(100vw - $breadcrumb);
  height:calc(100vh - $breadcrumb);
  flex-flow: column nowrap;
  overflow: hidden;
}
#module > header {
  height:$breadcrumb;
}
#module > section {
  height:calc(100% - $breadcrumb - $foot);
  flex-flow: row wrap;
  justify-content: space-evenly;
  overflow-y:auto;
  overflow-x:hidden;
  align-items: flex-start;
  align-content: flex-start;
}
#module.progression > section {
  height:calc(100% - $foot);
}
#module > app-menu {
  height:$foot;
}
// articles générés avec le ngFor avec la photo ou video et le titre la description
#module > section > article {
  flex-flow: column nowrap;
  flex:1;
  // flex-basis:1;
  // max-width:17%;
  // gap:3vw;
  background: $clair;
  margin:10px;
  justify-content: space-between;
  cursor: pointer;
  position:relative;
  transition: all .3s ease;
  border: 1px solid rgba(0,0,0,.1);
}
#module > section > article:hover {
  transform: scale(1.05);
  box-shadow: 0 0 4px $aside-color1;
}
#module > section > article:hover>figure {
  background-size: 120%;
  filter: grayscale(100%);
}
#module > section > article>ul{
  display: flex;
  flex-flow: row nowrap;
  align-self: flex-end;
  align-items: center;
  margin:0 0 10px 0;
}
#module > section > article >ul li{
  list-style: none;
  display: flex;
  align-items: center;
  margin-right:10px;
  cursor: pointer;
  transition: all .3s ease;
}
#module > section > article > ul li:hover{
  transform: scale(1.05);
}
#module > section > article > ul li > *{
  margin-right: 10px;
}
#module > section > article > figure {
  width: 100%;
  height:175px;
  margin:0;
  position:relative;
  align-items: flex-end;
  background-position: 50% 0%;
}
#module > section > article > nav {
  background-color:$clair;
  width:40%;
  height:34px;
  margin-top:-34px;
  justify-content: space-around;
  align-self: flex-end;
  z-index: 2;
  display:flex;
  flex-flow:row nowrap;
  align-items: center;
}
#module > section > article > nav i {
  align-self: flex-end;
  position: relative;
  display:flex;
  align-items: center;
  height:100%;
  transition: all .3s ease;
}
#module > section > article > nav i svg {
}
#module > section > article > nav i:hover {
  transform: scale(1.1);
}
#module > section > article > nav i span {
  opacity:0;
  width:0;
  height: 0;
  position:absolute;
  transition:all .3s ease;
  font-size: 80%;
}
#module > section > article >h3, #module > section > article >p {
  margin:10px;
}
//div pour progress bar
#module article>.progress-bar {
  display: flex;
  justify-content: space-around;
  height: 3vh;
  align-items: center;
}
#module article>.progress-bar a{
  color: #bfbfbf;
}
// Afficher un programme sur les pages programmes
#module .programme {
  flex-flow: column nowrap;
  padding:30px;
}
#module .programme article{
  flex:none;
}
#module .programme article:hover{
  transform:scale(1);
}
.programme > article:nth-child(1){
  flex-flow: column nowrap;
  height: calc(100% - $breadcrumb);
}
.programme > article:nth-child(2){
  flex-flow: row nowrap;
  height:$breadcrumb;
}
.programme > article > *{
  width:100%;
}
#module .programme > article > figure{
  height: 75%;
}
#module .programme > article > figure h1{
  color: $clair;
  margin:0;
  text-shadow: 1px 1px 0 $sombre;
}
.programme > article > div{
  display:flex;
  flex-flow:row nowrap;
  height:25%;
}
.programme > article p{
  padding:10px 15px;
}
.programme > article > div > div > div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 25%;
}
.progress-bar .mat-mdc-progress-bar {
  align-self: center;
  height: 100%;
  width: 80%;
  border: 1px solid black;
  border-radius: 3px;
  --mdc-linear-progress-active-indicator-color: #f28705;
  --mdc-linear-progress-track-height: 200px;
}
// Modal exercices Kine et Opto

#modalExercices {
  background: url("/assets/imgAsidebar/BgVector2.svg") rgba(242, 183, 5, 0.1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  flex-direction: column;

  article:nth-child(1) {
    display: flex;
    justify-content: end;


    .mat-icon {
      cursor: pointer;
      font-size: 32px;
      height: auto;
      width: auto;
      margin: 5px 5px 0 0px;
    }
  }

  article:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98%;

    .photo-exo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35vh;
      width: 50vw;

      img {
        width: 50%;
      }
    }

    div:nth-child(2) {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: 1.1rem;
      }

      p {
        margin: 25px;
        text-align: justify;
        font-size: 1rem;

        @media screen and (max-width:480px) {
          font-size: 0.9rem;
        }
      }

      div {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          height: 30px;
        }

        p {
          font-size: 0.9rem;
        }
      }
    }

    button {
      width: 12vw;
      height: 4vh;
      font-size: 1rem;
      color: white;
      background-color: $aside-color2;
      margin-bottom: 50px;

      @media screen and (max-width:880px) {
        font-size: 0.9rem;
        width: 170px;
      }

      @media screen and (max-width:480px) {
        font-size: 0.9rem;
        width: 220px;
      }
    }
  }
}

// -----------------------------------------------------------------
// CSS des pages plats et menus
#platMenu {
  @media screen and (max-width: 480px) {
    width: calc(100% + 68px); // Pour l'aside Bar
    align-items: flex-start;
    overflow: auto;
  }
}

#sectionPrincipale {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 480px) {
    //display: none;
    flex-direction: column;
    padding: 10px;
    width: 100%;
  }
}

// La partie gauche avec la liste des plats/menus enregistrés
#sectionPrincipale>#listePlats {
  height: calc(100vh - $breadcrumb - $foot);
  width: 30%;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: auto;
  align-items: center;

  @media screen and (max-width: 480px) {
    width: 100%;
  }

  // Le bouton 1 - Ajouter un nouveau plat
  #ajoutButton {
    background-color: #33BB27;
    width: 75%;
    padding: 4vh 2vw;
    font-size: 1vw;
    color: black;

  }

  .mat-ripple mat-mdc-button-ripple {
    height: 10vh;
  }

  // La balise <h1>Reprendre un repas précédent</h1>
  h1 {
    color: $card-nutri;
    font-weight: 100;
    font-size: 1.4rem;
    margin: 5vh 0 2vh 0;

    @media screen and (max-width : 1200px) {
      font-size: 1.1rem;
    }
  }

  // Article qui contient les 3 boutons pour évaluer
  #evalBouton {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    //padding-left: 1vw;
    margin-bottom: 1vh;

    // Code s'appliquant aux 3 boutons
    button {
      width: 7vw;
      height: 4vh;
      font-size: 0.6vw;
      color: white;
    }

    // Le bouton plats non évalués
    button:nth-child(1) {
      background-color: #33BB27;
    }

    // Le bouton plats non évalués
    button:nth-child(2) {
      background-color: #F28705;
    }

    // Le bouton Plats évalués et problématiques
    button:nth-child(3) {
      background-color: #D9042B;
    }
  }

  // Article contenant la liste des plats enregistrés
  #listing {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 1vw;

    // Div avec le *ngFor
    div {
      display: flex;
      flex-direction: column;

      // Balise <h2>{{ plat.nom }}</h2>
      h2 {
        margin: 2vh 2vh 0 0;
        font-size: 1.4rem;
        font-weight: 500;

        @media screen and (max-width : 1200px) {
          font-size: 1.1rem;
        }
      }

      p {
        margin: 0.5vh 0 1vh 0;

        @media screen and (max-width : 1200px) {
          font-size: 0.8rem;
        }
      }

      // Contient un bouton, 2 images et 2 balise
      div {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        button {
          //background-color: #F28705;
          width: 5vw;
          height: 3vh;
          font-size: 0.6vw;
          color: white;
          margin-right: 2vw;
        }

        // Les 2 images ( horloge et casserole )
        img {
          height: 2vh;
          width: 2vw;
        }

        p {
          padding: 1vh;
          font-size: 0.8vw;
        }

        // Pour souligner la balise <p>Matériels</p>
        #dashed {
          border-bottom: dashed black 1px;
        }
      }
    }
  }
}

// La partie droite avec la fonction de création d'un plat
#sectionPrincipale article:nth-child(2) {
  height: calc(100vh - $breadcrumb - $foot);
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 4vw;
  padding-right: 4vw;
  overflow: auto;

  // La balise <h3>2 - Ajouter un plat</h3>
  h3 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #4A4A4A;

    @media screen and (max-width : 1200px) {
      font-size: 1.3rem;
    }
  }

  // La div qui contient les 3 balises select
  #selectBalise {
    border-bottom: dashed black 1px;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;

    // L'icône d'ajout
    img {
      height: 3vh;
      width: 3vh;
    }

    // La balise select "Les plats de la communautés"
    mat-form-field:nth-child(3) {
      width: 18vw;
    }
  }

  // Le label des balises select
  mat-label {
    font-size: 0.9rem;

    @media screen and (max-width : 1200px) {
      font-size: 0.8rem;
    }
  }

  // La balise <h4>Tourte aux champignons</h4>
  h4 {
    font-size: 1.6rem;
    font-weight: 700;
    color: #4A4A4A;
    margin: 2vh 0 0 0;

    @media screen and (max-width : 1200px) {
      font-size: 1.3rem;
    }
  }

  textarea {
    min-height: 10vh;
  }

  // La div sous le textarea
  div:nth-child(6) {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: dashed black 1px;
    border-bottom: dashed black 1px;
  }

  // La balise select AJOUTER
  #ajouter {
    width: 10vw;

    @media screen and (max-width : 1200px) {
      width: 12vw;
    }
  }

  // La div avec les 2 boutons annuler & valider
  div:nth-child(10) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1vw;
    border-bottom: dashed black 1px;
    padding: 2vh;

    button:nth-child(1) {
      background-color: #F28705;
    }

    button:nth-child(2) {
      background-color: #33BB27;
    }

  }
}

/* -----Ci-dessous CSS pour la barre de menu à gauche dans les pages Journal et Messagerie----- */
// Section permettant de voir les medecins et les réalisations - Visible en Desktop
#menuJournalMessage {
  background-color: $aside-color3;
  width: 13%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  align-items: center;
  gap: 1vw;

  @media screen and (max-width: 1280px) {
    display: none; // Invisible en Tablette & Mobile
  }

  article:nth-child(1) {
    a {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      text-decoration: none;
      width: 100%;
      color: #ffffff;
      font-size: 4rem;
      font-weight: 100;

      // Le gros logo Tiaki
      span {
        font-weight: 100;
        margin: 0;
        padding: 0;

        @media screen and (max-width: 1200px) {
          font-size: 3rem;
        }
      }
    }

    span:before {
      content: '........';
      font-size: 50%;
    }

    span:after {
      content: '........';
      font-size: 50%;
    }
  }

  article:nth-child(2) {
    border-bottom: 1px white dashed;
    margin-left: 1vw;
    width: 100%;
    display: flex;
    flex-direction: column;

    // La balise <h1>Journal</h1>
    h1:nth-child(1) {
      margin: 0 0 1vh 0;
      font-size: 2rem;
      font-weight: 700;
      width: 60%;
      @media only screen and (max-width: 1280px) {
        font-size: 1.7rem;
      }
    }
    // La balise <h1>de suivi</h1>
    h1:nth-child(2) {
      margin: 0 0 1vh 0;
      font-size: 1.5rem;
      font-weight: 700;
      width: 60%;
      @media only screen and (max-width: 1280px) {
        font-size: 1.2rem;
      }
    }
  }

  .medecin {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    height: 30%;
    width: 100%;
    margin-left: 1vw;

    div {
      display: flex;
      align-items: flex-end;
      gap: 9px;
      justify-content: flex-start;

      img {
        width: 3vw;
      }

      // La balise <h2>Médecins</h2>
      h2 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 600;

        @media only screen and (max-width: 1330px) {
          font-size: 0.8rem;
        }
      }
    }

    // Liste des medecins
    ul {
      li {
        margin-bottom: 15px;
        font-size: 0.9rem;
        text-align: start;

        @media only screen and (max-width: 1330px) {
          font-size: 0.6rem;
        }
      }
    }
  }

  // Realisations et organismes
  .realisation {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 30%;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 1vw;

    div {
      display: flex;
      align-items: flex-end;
      gap: 9px;
      justify-content: flex-start;

      img {
        width: 3vw;
      }

      // La balise <h2>Réalisations</h2>
      h2 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 600;

        @media only screen and (max-width: 1330px) {
          font-size: 0.8rem;
        }
      }
    }

    // Listes des réalisations ou organismes
    ul {
      li {
        margin-bottom: 15px;
        font-size: 0.9rem;

        @media only screen and (max-width: 1330px) {
          font-size: 0.6rem;
        }
      }
    }
  }
}

/* ---------------- CSS de la Page Plats -------------------- */
// La partie gauche avec la liste des plats/menus enregistrés
#sectionPrincipale>#listePlats {
  height: calc(100vh - $breadcrumb - $foot);
  width: 30%;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: auto;
  align-items: center;

  @media screen and (max-width: 834px) {
    height: calc(100vh - $breadcrumb - 100px);
    width: 35%;
  }

  @media screen and (max-width: 480px) {
    width: 100%;
    //height: 60%;
    align-items: flex-start;
    border-bottom: dashed #270140 1px;
    padding-top: 0;
  }

  // Le bouton 1 - Ajouter un nouveau plat
  #ajoutButton {
    background-color: #33BB27;
    width: 75%;
    padding: 4vh 2vw;
    font-size: 1vw;
    color: black;

    @media screen and (max-width: 834px) {
      padding: 2vh 1.5vw;
    }

    @media screen and (max-width: 480px) {
      display: none;
      width: 25vw;
      height: 3vh;
      font-size: 1.5vw;
      align-self: flex-end;
      margin-right: 2vw;
    }
  }

  .mat-ripple mat-mdc-button-ripple {
    height: 10vh;
  }

  // La balise <h1>Reprendre un repas précédent</h1>
  h1 {
    color: $card-nutri;
    font-weight: 100;
    font-size: 1.4rem;
    margin: 5vh 0 2vh 0;

    @media screen and (max-width : 1200px) {
      font-size: 1.1rem;
    }

    @media screen and (max-width: 834px) {
      font-size: 0.8rem;
      margin: 2vh 0 2vh 0;
    }

    @media screen and (max-width: 480px) {
      margin-top: 0;
    }
  }

  // Article qui contient les 3 boutons pour évaluer
  #evalBouton {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-bottom: 1vh;

    //padding-left: 1vw;
    //width: 80%;
    @media screen and (max-width: 834px) {
      gap: 1vw;
    }

    @media screen and (max-width: 480px) {
      gap: 2vw;
      justify-content: center;
      width: 100%;
    }

    // Code s'appliquant aux 3 boutons
    button {
      width: 7vw;
      height: 4vh;
      font-size: 0.6vw;
      color: white;

      @media screen and (max-width: 834px) {
        width: 4vw;
        height: 3vh;
      }

      @media screen and (max-width: 480px) {
        width: 20vw;
        height: 3vh;
        font-size: 1.4vw;
      }
    }

    // Le bouton plats non évalués
    button:nth-child(1) {
      background-color: #33BB27;
    }

    // Le bouton plats non évalués
    button:nth-child(2) {
      background-color: #F28705;
    }

    // Le bouton Plats évalués et problématiques
    button:nth-child(3) {
      background-color: #D9042B;
    }

    button:nth-child(4) {
      // Le bouton ajouter un menu - visible seulement en mobile
      display: none;

      @media screen and (max-width: 480px) {
        display: block;
        background-color: #805E96;
      }
    }
  }

  // Article qui contient le bouton Effacer les filtres - Dans un *ngIf visible suivant les cas
  #filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    button {
      background-color: #bdb087;
      width: 10vw;
      height: 4vh;
      font-size: 0.6vw;
      color: white;

      @media screen and (max-width: 834px) {
        width: 8vw;
        height: 3vh;
      }

      @media screen and (max-width: 480px) {
        width: 20vw;
        height: 3vh;
        font-size: 1.4vw;
      }
    }
  }

  // Article contenant la liste des plats enregistrés
  #listing {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 1vw;

    // Div avec le *ngFor
    div {
      display: flex;
      flex-direction: column;

      // Balise <h2>{{ plat.nom }}</h2>
      h2 {
        margin: 2vh 2vh 0 0;
        font-size: 1.4rem;
        font-weight: 500;

        @media screen and (max-width : 1200px) {
          font-size: 1.1rem;
        }

        @media screen and (max-width: 834px) {
          font-size: 0.8rem;
        }
      }

      h2:hover {
        //font-size: 1.6rem;
        font-weight: 700;
      }

      p {
        // Balise <p> {{ plat.description }}
        margin: 0.5vh 0 1vh 0;

        @media screen and (max-width : 1200px) {
          font-size: 0.8rem;
        }

        @media screen and (max-width: 834px) {
          font-size: 0.6rem;
        }
      }

      // Contient un bouton (ou une pastille), 2 images et 2 balise
      div {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        #pastilleEval {
          // Balise <span> servant de pastille coloré - Si j'utilise pas de bouton
          width: 30px;
          height: 30px;
          margin-right: 2vw;
          border-radius: 50%;

          @media screen and (max-width: 1024px) {
            width: 20px;
            height: 20px;
          }

          @media screen and (max-width: 834px) {
            width: 15px;
            height: 15px;
          }
        }

        button {
          // Les 3 boutons dans la liste à gauche - Si j'utilise un bouton
          width: 7vw;
          height: 4vh;
          font-size: 0.6vw;
          color: white;
          margin-right: 2vw;
        }

        .Eval {
          // Le bouton Evaluer ce menu
          background-color: #F28705;
        }

        .EvalYes {
          // Le bouton Menus évalués et validés
          background-color: #33BB27;
        }

        .EvalNo {
          // Le bouton Menus évalués et problématiques
          background-color: #D9042B;
        }

        // Les 2 images ( horloge et casserole )
        img {
          height: 2vh;
          width: 2vw;

          @media screen and (max-width: 480px) {
            height: 15px;
            width: 15px;
          }
        }

        p {
          padding: 1vh;
          font-size: 0.8vw;

          @media screen and (max-width: 480px) {
            font-size: 0.6rem;
          }
        }

        // Pour souligner la balise <p>Matériels</p>
        #dashed {
          border-bottom: dashed black 1px;
        }
      }
    }
  }
}

// La partie droite avec la fonction de création d'un plat
#sectionPrincipale article:nth-child(2) {
  height: calc(100vh - $breadcrumb - $foot);
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 4vw;
  padding-right: 4vw;
  overflow: auto;

  @media screen and (max-width: 834px) {
    height: calc(100vh - $breadcrumb - 100px);
    width: 65%;
  }

  @media screen and (max-width: 834px) {
    font-size: 1rem;
  }

  @media screen and (max-width: 480px) {
    width: auto;
    margin-top: 2vh;
  }

  // La balise <h3>2 - Ajouter un plat</h3>
  h3 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #4A4A4A;

    @media screen and (max-width : 1200px) {
      font-size: 1.3rem;
    }

    @media screen and (max-width : 834px) {
      font-size: 1.1rem;
    }

    @media screen and (max-width: 480px) {
      display: none;
    }
  }

  // La div qui contient les 3 balises select
  #selectBalise {
    border-bottom: dashed black 1px;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;

    @media screen and (max-width: 480px) {
      margin-top: 2vh;
    }

    // L'icône d'ajout
    img {
      height: 3vh;
      width: 3vh;

      @media screen and (max-width : 834px) {
        height: 2vh;
        width: 2vh;
      }
    }

    mat-form-field {
      @media screen and (max-width : 834px) {
        width: 15vw;
      }

      @media screen and (max-width: 480px) {
        width: 25vw;
      }
    }

    // La balise select "Les plats de la communautés"
    mat-form-field:nth-child(3) {
      width: 18vw;

      @media screen and (max-width: 480px) {
        width: 25vw;
      }
    }
  }

  // Le label des balises select
  mat-label {
    font-size: 0.9rem;

    @media screen and (max-width : 1200px) {
      font-size: 0.8rem;
    }

    @media screen and (max-width : 834px) {
      font-size: 0.6rem;
    }
  }

  // Le nom des menus dans le select
  mat-select {
    @media screen and (max-width : 834px) {
      font-size: 0.6rem;
    }
  }

  .mat-mdc-text-field-wrapper {

    // La taille du label et la fléche dans les balises select
    @media screen and (max-width : 480px) {
      height: 6vh;
      align-items: center;
    }
  }

  span:nth-child(3) {
    display: flex;
    flex-direction: column;

    @media screen and (max-width : 834px) {
      p {
        font-size: 0.8rem;
      }
    }

    @media screen and (max-width : 480px) {
      p {
        font-size: 0.6rem;
      }
    }
  }

  // La balise <h4>Tourte aux champignons</h4>
  h4 {
    font-size: 1.6rem;
    font-weight: 700;
    color: #4A4A4A;
    margin: 2vh 0 0 0;

    @media screen and (max-width : 1200px) {
      font-size: 1.3rem;
    }

    @media screen and (max-width : 834px) {
      font-size: 1rem;
    }

    @media screen and (max-width : 480px) {
      font-size: 0.8rem;
    }
  }

  textarea {
    min-height: 10vh;

    @media screen and (max-width : 834px) {
      font-size: 0.8rem;
    }

    @media screen and (max-width : 480px) {
      font-size: 0.6rem;
    }
  }

  // La div sous le textarea
  div:nth-child(4) {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: dashed black 1px;
    border-bottom: dashed black 1px;
    text-align: center;
    gap: 1vw;

    @media screen and (max-width : 480px) {
      gap: 1.5vw;
    }
  }

  span:nth-child(3)>span {
    display: flex;
    flex-direction: column // align-items: center;
  }

  span:nth-child(3)>span>p:nth-child(1) {
    //width: 18%;
    width: 75%;
    font-weight: 700;
  }

  /* span:nth-child(3)>span>p:nth-child(2) {
    width: 75%;
  } */

  // La balise select AJOUTER
  #ajouter {
    width: 10vw;
    margin-top: 2vh;

    @media screen and (max-width : 1200px) {
      width: 12vw;
    }

    @media screen and (max-width : 834px) {
      font-size: 0.8rem;
      width: 15vw;
    }

    @media screen and (max-width : 480px) {
      width: 25vw;
    }
  }

  // La div avec les 2 boutons annuler & valider
  span:nth-child(3)>div:nth-child(7) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1vw;
    border-bottom: dashed black 1px;
    padding: 2vh;

    button:nth-child(1) {
      // Le bouton supprimer
      background-color: #F28705;
      font-size: 0.8vw;

      @media screen and (max-width : 834px) {
        width: 4vw;
        height: 3vh;
      }
    }

    button:nth-child(2) {
      // Le bouton valider
      background-color: #33BB27;
      font-size: 0.8vw;

      @media screen and (max-width : 834px) {
        width: 4vw;
        height: 3vh;
      }
    }

  }

  // Code identique que ci-dessus mais pour la page menu avec un ID sur la Div contenant les 2 boutons
  #boutonPageMenus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: dashed black 1px;
    padding: 2vh 0 0 0;
    vertical-align: baseline;
    align-items: center;

    span:nth-child(1) {
      // La balise span avec le mat-form-field et le bouton évaluer
      display: flex;
      flex-direction: row;
      //justify-content: center;
      align-items: center;
      gap: 1vw;

      @media screen and (max-width: 480px) {
        margin-right: 1vw;
      }

      mat-label {
        font-size: 0.9rem;

        @media screen and (max-width : 1200px) {
          font-size: 0.8rem;
        }

        @media screen and (max-width : 834px) {
          font-size: 0.6rem;
        }
      }

      mat-form-field {
        width: 16vw;

        @media screen and (max-width : 1200px) {
          width: 22vw;
        }

        @media screen and (max-width : 834px) {
          font-size: 0.6rem;
          width: 22vw;
        }

        @media screen and (max-width : 480px) {
          width: 30vw;
        }
      }

      button {
        background-color: #f0c02e;

        @media screen and (max-width : 834px) {
          font-size: 1vw;
          width: 5vw;
          height: 3vh;
        }

        @media screen and (max-width : 480px) {
          font-size: 1.4vw;
          width: 15vw;
          height: 3vh;
        }
      }
    }

    span:nth-child(2) {
      // La balise span avec les boutons supprimer et valider
      display: flex;
      gap: 1vw;

      button:nth-child(1) {
        background-color: #F28705;

        @media screen and (max-width : 834px) {
          font-size: 1vw;
          width: 5vw;
          height: 3vh;
        }

        @media screen and (max-width : 480px) {
          font-size: 1.4vw;
          width: 15vw;
          height: 3vh;
        }
      }

      button:nth-child(2) {
        background-color: #33BB27;

        @media screen and (max-width : 834px) {
          font-size: 1vw;
          width: 5vw;
          height: 3vh;
        }

        @media screen and (max-width : 480px) {
          font-size: 1.4vw;
          width: 15vw;
          height: 3vh;
        }
      }
    }
  }

}

// AFFICHAGE TABLEAU DE BORD

#tableau {
  height: calc(100vh - 120px);
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  @media screen and (max-width:715px) {
    height: 100vh;
  }

  @media screen and (max-width:481px) {
    align-items: center;
    width: calc(100% + $l);
  }
}



// design input des pages programmes
#input-programmes {
  height: 3vh;
  width: 15vw;

  @media screen and (max-width:938px) {
    width: 20vh;
  }

  @media screen and (max-width:596px) {
    width: 15vh;
    display: none;
  }
}

#input-ckeckbox {
  height: 3vh;
  width: 4vw;
}

// PAGE RECETTES

#recettes {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  color: $sombre;
  height: calc(100vh - $foot);
  scrollbar-color: $card-nutri #d3354f;
  scrollbar-width: auto;
  overflow-y: auto;
}

#recettes>* {
  width: 100%;
}

#recettes>section {
  flex-flow: row wrap;
  justify-content: space-around;
  height: calc(100vh - $breadcrumb - $foot);
}

#recettes article {
  flex-flow: column nowrap;
  width: 20%;
  max-height: 100vh;
  background: $clair;
  padding: 10px;
  margin: 5px;
  gap: 0.5vw;
}

#recettes>article:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 100%;
  margin: 0px 50px 0px 50px;
  justify-content: center;
  align-items: center;
  background: none;
  border-bottom: dashed 1px black;
}

#recettes>article:nth-child(2)>form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

//div des photos de recettes
#recettes section>article>.photo-recettes {
  height: 50%;
  align-items: center;
}

// video ou photo
#recettes section>article>.photo-recettes>img {
  height: 100%;
  width: 100%;
}

#recettes article>div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-align: end;
  gap: 1vw;
}

// div comportant le titre la description et durée materiels
#recettes article>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

#recettes article>div:nth-child(2)>div {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

#recettes article>div:nth-child(2)>div>div {
  display: flex;
  text-align: justify;
  gap: 1vw;
}

// titre de l'exercice
#recettes article>div>h6 {
  margin: 0;
  font-size: 1rem;
}

// description de l'exercice
#recettes article>div>p {
  margin: 0;
}

// div de la durée et materiel
#recettes section article>div:nth-child(2)>div {
  display: flex;
  justify-content: flex-end;
  gap: 0.3vw;
}
