/** Variables SCSS */
$font-family: 'Raleway', sans-serif;
$card-nutri: #D9042B;
$card-kine: #F22F1D;
$card-opto: #F28705;
$aside-color1: #270140;
$aside-color2: #805E96;
$aside-color3: #F0C02E;
$vert: rgb(23, 173, 43);

$clair: white;
$sombre: black;

$head: 20vh; // Hauteur de l'entête des pages d'accueil
$breadcrumb: 60px; // Hauteur du fil d'ariane
$foot: 150px; // Hauteur des menus du bas
$l: 65px; // Largeur du menu de droite qui permet de calculer la largeur des éléments de la page
$icone: 36px;
$police:16px;

/** BALISES GENERIQUES HTML */
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background: url('./assets/images/bg/bg.svg') no-repeat center center fixed;
  background-size: cover;
  font-family: $font-family;
  font-size: $police;
}

* {
  box-sizing: border-box;

  font-family: $font-family;
}

main,
section,
article,
header,
form,
footer {
  display: flex;
}

main {
  width: 100vw;
  height: 100vh;
}

form {
  flex-flow: column nowrap;
}

input,
textarea {
  font-family: $font-family;
}
fieldset{
  border:none;
  width:100%;
  display: flex;
  flex-flow: row nowrap;
}
h1 {
  color: $card-nutri;
  font-weight: 100;
  font-size: 62px;
  margin: 20px 0 10px;
}

h1:before,
h1:after {
  content: '......'
}

h1 a,
h1 a:hover {
  color: $card-nutri;
}

h1,
h2,
h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 img,
h2 img,
h3 img,
h1 mat-icon,
h2 mat-icon,
h3 mat-icon,
button mat-icon {
  margin-right: 10px;
}

h2 {
  font-size: 36px;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: $aside-color1;
  transition: all .3s ease;
}

a:hover {
  font-weight: 600;
  color: $aside-color2;
}

figure {
  background: 50% 50% no-repeat;
  background-size: 100%;
  transition: all .3s ease;
  overflow: hidden;
  display: flex;
}

figure:hover {
  background-size: 120%;
}

button {
  position: relative;
  padding: 15px 20px;
  border: none;
  transition: all .3s ease;
  cursor: pointer;
  font-weight: 600;
  width: fit-content;
  background-color: $clair;
  color: $aside-color1;
  font-size: $police;
  display: flex;
  align-items: center;
  height: fit-content;
  transition: all .3s;
}

button:hover {
  background-color: $aside-color3;
  color: $aside-color1;
  transform: scale(1.1);
}

button.active:before {
  content: 'O';
  position: absolute;
  top: 5px;
  left: 5px;
}

ul {
  display: flex;
  flex-flow: column nowrap;
}

ul li {
  list-style: circle;
  padding: 5px 10px 5px 0;
}

i:hover span {
  opacity:1;
  margin-bottom:10px;
}
table{
  width:100%;
  border-collapse: collapse;
}
thead{
  border-left:none;
  border-right:none;
  border-top:1px dashed $aside-color1;
  border-bottom:1px dashed $aside-color1;
}
table mat-icon{
  margin:0 10px;
  vertical-align: text-bottom;
  transition: all .3s ease;
}
table mat-icon:hover{
  transform: scale(1.2);
}
tr{
}
th{
  padding:20px 0;
}
td{
  padding:10px 15px;
}
/** CLASSES GENERIQUES */
.logo {
  width: 150px;
}

.entete {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  text-align: center;
  justify-content: flex-end;
  height: $head;
  margin: 0;
}

.entete h1,
.entete h2 {
  margin: auto;
}

.ariane {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: $aside-color2;
  height: $breadcrumb;
}

.ariane h1,
.ariane h2 {
  font-weight: 100;
  font-size: 24px;
  margin: 0 0 0 20px;
}

.ariane h2:before {
  content: '...... '
}

.ariane h2:after {
  content: ' ......'
}

#menus-themes {
  display: flex;
  justify-content: space-around;
  height: 150px;
  width: 100%;
  padding: 15px;
}

#menus-themes>a {
  flex-flow: row nowrap;
  justify-content: center;
  padding: 15px;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

#menus-themes>a section {
  height: 100%;
  align-items: center;
}

#menus-themes>a section>img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  transition: all .3s ease;
}

#menus-themes>a section>article {
  color: #ffffff;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
}

#menus-themes>a section>article * {
  margin: 0;
}

#menus-themes>a:hover {
  transform: scale(1.05);
}

#menus-themes>a:hover img {
  width: 4vw;
  margin-right: 20px;
}

/** CLASSES POUR LES COULEURS DE LA CHARTE GRAPHIQUE */
.icone {
  width: 30px;
  cursor: pointer;
}
.pointilles {
  width: 100%;
  height: 0;
  border: none;
  border-bottom: 1px dashed $aside-color1;
}
.row{
  display: flex;
  flex-flow:row nowrap;
}
.row li{
  list-style: none;
  margin:0;
  padding:0;
}
.row li:hover{
  transform:scale(1.1);
}
.mat-mdc-tab-header{
  border-top:1px dashed $aside-color1;
  border-bottom: 1px dashed $aside-color1;
  margin-bottom: 15px;
}
.mat-icone {
  font-size: $icone;
  width: $icone !important;
  height: $icone !important;
}

.mat-icone:hover {
  transform: scale(1.1);
}
.over{
  transition:all .3s ease;
  cursor: pointer;
}
.over:hover{
  background-color: $aside-color3;
}
.align-right {
  display: flex;
  justify-content: flex-end;
}
.align-self-right{
  align-self:flex-end;
}
.align-self-center{
  align-self:center;
}
.align-self-left{
  align-self:flex-start;
}
.bg-nutrition {
  color: $clair;
  background-color: $card-nutri;
}

.bg-opto {
  color: $clair;
  background-color: $card-opto;
}

.bg-kine {
  color: $clair;
  background-color: $card-kine;
}

.bg-admin {
  color: $clair;
  background-color: $aside-color1;
}

.bg-valide {
  color: $clair;
  background-color: $vert;
}xxxxxxxxxxxx
.valide{
  color:$vert;
}
.bg-annule {
  color: $clair;
  background-color: $aside-color3;
}
.annule{
  color:$aside-color3;
}
.bg-neutre {
  color: $clair;
  background-color: $aside-color2;
}
.neutre {
  color:$aside-color2;
}
.bg-delete {
  color: $clair;
  background-color: $card-nutri;
}

.nutrition {
  color: $card-nutri;
}

.nutrition svg path {
  fill: $card-nutri;
}

.opto {
  color: $card-nutri;
}

.opto svg path {
  fill: $card-opto;
}

.kine {
  color: $card-kine;
}

.kine svg path {
  fill: $card-kine;
}

.admin {
  color: $aside-color1;
}

.admin svg path {
  fill: $aside-color1;
}

.actif{
  background-color: $aside-color3;
  color:$clair;
  padding-top:10px !important;
  padding-bottom:10px !important;
  border-color: $clair;
}
.avatar{
  max-width:70px;
}
/** COMPOSANTS */
.cal-event-title {
  // Le texte dans le calendrier
  color: $clair;
}

// L'affichage des events dans la vue calendrier mois (dans la barre grise après un clic sur le jour)
mwl-calendar-open-day-events {
  div {
    div {
      display: flex;
      flex-direction: row;
      //align-items: center;
      gap: 1vw;
    }
  }
}

mat-panel-title {
  padding: 5px;
  font-weight: bold;
}
mat-panel-title > mat-icon {
  margin-right: 15px;
}
mat-stepper, mat-tab-group{
  width:100%;
}
.mat-mdc-tab-body-content {
  width:100%;
  display: flex;
  flex-flow:row nowrap;
}
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-icon {
  background-color: $aside-color1;
}
.mat-accordion .mat-expansion-panel:last-of-type,
.mat-accordion .mat-expansion-panel:first-of-type {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
mat-accordion{
  width:100%;
  height:100%;
}
mat-expansion-panel-header {
  background-color: $aside-color2;
  width: 100%;
  color: white;
  font-weight: 300;
  min-height: 5vh;
  border-radius: 0;
}
.mat-expansion-panel-header-title, .mat-expansion-panel-header-description{
  color: white;
}
mat-expansion-panel-header:hover .mat-expansion-panel-header-title, mat-expansion-panel-header:hover .mat-expansion-panel-header-description{
  color:$aside-color2;
}
// Le label 'Éléments par page :' de mat-paginator
.mat-mdc-paginator-page-size {
  display: none !important;
}

// Le label 'x sur x' de mat-paginator
.mat-mdc-paginator-range-label {
  margin: 0 !important;
  font-family: $font-family;

  @media screen and (max-width: 1310px) {
    display: none;
  }
}

// La couleurs des fléches dans la pagination
.mat-mdc-paginator-icon {
  fill: red;
}

.mat-mdc-option {

  // Pour les options de choix dans tout les menus déroulants
  @media screen and (max-width: 834px) {
    font-size: 0.6rem;
  }
}

// Pour le label dans les 3 balises (Vos menus - les menus de la communauté - allergie d'émilie et toutes les balises mat-select suivantes)
.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  @media screen and (max-width: 480px) {
    top: 50%; // Pour positionner le label au milieu du select
  }
}

// Pour le label dans le textarea de la modal save-data dans la page plats (Lors d'un ajout de plat) - Aussi pour les textarea de Journal
#textarea {
  .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    @media screen and (max-width: 480px) {
      top: 28px; // Pour positionner le label à sa valeur initial (Pas 50% comme au dessus)
    }
  }
}

/** ------------------------------------------------------
// COMPOSANT ACCUEIL DE L'INTRANET
*/
app-accueil {
  height: 100vh;
  flex-direction: column;
}

// Les 3 Cartes
section.accueil {
  flex-direction: row;
  height: calc(100vh - $head);
}

article.cartel {
  margin: auto 2% 0;
  flex-direction: column;
  text-align: center;
  color: $clair;
  transition: all .3s ease;
  height: 85%;
  flex: 1 1 0px;
  overflow: hidden;
  justify-content: space-between;

  h2 {
    font-size: 2rem;
  }

  p {
    padding: 15px;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &:nth-child(1) {
    background-color: $card-opto ;

    button {
      color: $card-opto;
    }
  }

  &:nth-child(2) {
    background-color: $card-nutri ;

    button {
      color: $card-nutri;
    }
  }

  &:nth-child(3) {
    background-color: $card-kine ;

    button {
      color: $card-kine;
    }
  }

  &:nth-child(4) {
    background-color: $aside-color3 ;

    button {
      color: $aside-color3;
    }
  }

  &>div {
    height: 60%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 20px;
    transition: all .3s ease;
  }

  &>div>* {
    margin: 0 auto;
  }

  figure {
    margin: 0 -20px -20px;
    padding: 0;
    border-top-left-radius: 70%;
    border-top-right-radius: 50%;
    height: 40%;
  }

  figure>div {
    width: 100%;
    height: 100%;
    margin: 0 -20px -20px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    img {
      width: 100%;
    }

    button:hover {
      background-color: $clair;
    }

    &:nth-child(2) {
      color: $card-nutri;
    }
  }

  // Animation sur le hover
  &:hover {
    padding: 30px 50px 0;
    transform: scale(1.1);
  }

  &:hover>div {
    height: 50%;
    padding-bottom: 40px;
  }

  &:hover>figure {
    margin: 0 -70px 0;
    border-radius: 0;
    height: 50%;
  }

}

@media screen and (max-width: 960px) {
  section.accueil {
    flex-direction: column;
  }

  article.cartel {
    flex-direction: row;
    margin: 0;

    &:hover {
      padding: 0;
      transform: scale(1);
    }

    &:hover>div {
      height: 100%;
      padding-bottom: 0;
    }

    &:hover>figure {
      margin: 0 -70px 0;
      border-radius: 0;
      height: 100%;
    }
  }

  article.cartel div {
    width: 55%;
    height: 100%;
  }

  article.cartel figure {
    width: 45%;
    height: 100%;
    border-top-right-radius: 0;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
  }
}

// Navbar icone burger
#burger-icon {
  color: $card-kine;
}

// -------------------------------------------------
app-eval{
  display:flex;
}
app-eval ul {
  width:100%;
  display:flex;
  justify-content: flex-end;
}
app-eval li {
  padding:0 !important;
}
// Fil d'ariane
app-ariane article {
  display: flex;
  flex-flow: row nowrap !important;
  height: $breadcrumb;
  padding: 5px;
  margin: 0;
  align-items: center;
  font-size: 18px;
  font-weight: 100;
}

app-ariane article a {
  margin-right: 5px;
}

app-ariane article a:after {
  transition: padding .3s ease;
  padding-left: 5px;
  content: ' » '
}

app-ariane article a:hover:after {
  padding-left: 10px;
  padding-right: 10px;
}

app-ariane img {
  width: 30px;
}

// Loupe de recherche à gauche de la search  bar
header>form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 auto;
}

header>form>* {
  margin: 10px;
}

header>form div.mat-mdc-form-field-infix {
  min-width: 300px;
}

//section exercice
#module {
  width: calc(100vw - $breadcrumb);
  height: calc(100vh - $breadcrumb);
  flex-flow: column nowrap;
  overflow: hidden;
}

#module>header {
  height: $breadcrumb;
}

#module>section {
  height: calc(100% - $breadcrumb - $foot);
  flex-flow: row wrap;
  justify-content: space-evenly;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: flex-start;
  align-content: flex-start;
}

#module.progression>section {
  height: calc(100% - $foot);
}

#module>app-menu {
  height: $foot;
}

// articles générés avec le ngFor avec la photo ou video et le titre la description
#module>section>article {
  flex-flow: column nowrap;
  flex: 1;
  background: $clair;
  margin: 10px;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  transition: all .3s ease;
  border: 1px solid rgba(0, 0, 0, .1);
}

#module>section>article:hover {
  transform: scale(1.05);
  box-shadow: 0 0 4px $aside-color1;
}

#module>section>article:hover>figure {
  background-size: 120%;
  filter: grayscale(100%);
}

#module>section>article>ul {
  display: flex;
  flex-flow: row nowrap;
  align-self: flex-end;
  align-items: center;
  margin: 0 0 10px 0;
}

#module>section>article>ul li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  transition: all .3s ease;
}

#module>section>article>ul li:hover {
  transform: scale(1.05);
}

#module>section>article>ul li>* {
  margin-right: 10px;
}

#module>section>article>figure {
  width: 100%;
  height: 175px;
  margin: 0;
  position: relative;
  align-items: flex-end;
  background-position: 50% 0%;
}

#module>section>article>nav {
  background-color: $clair;
  width: 40%;
  height: 34px;
  margin-top: -34px;
  justify-content: space-around;
  align-self: flex-end;
  z-index: 2;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

#module>section>article>nav i {
  align-self: flex-end;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  transition: all .3s ease;
}

#module>section>article>nav i svg {}

#module>section>article>nav i:hover {
  transform: scale(1.1);
}

#module>section>article>nav i span {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  transition: all .3s ease;
  font-size: 80%;
}

#module>section>article>h3,
#module>section>article>p {
  margin: 10px;
}

//div pour progress bar
#module article>.progress-bar {
  display: flex;
  justify-content: space-around;
  height: 3vh;
  align-items: center;
}

#module article>.progress-bar a {
  color: #bfbfbf;
}

// Afficher un programme sur les pages programmes
#module .programme {
  flex-flow: column nowrap;
  padding: 10px;
}

#module .programme article {
  flex: none;
  width: 100%;
  margin: 0;
}

#module .programme article:hover {
  transform: scale(1);
}

#module .programme article:hover>figure {
  transform: scale(1);
  filter: grayscale(0);
}

.programme>article:nth-child(1) {
  flex-flow: column nowrap;
  height: calc(100% - $breadcrumb);
}

#module .programme mat-expansion-panel {
  width: 100%;
}

.programme>article>* {
  width: 100%;
}

#module .programme>article>figure {
  height: 75%;
}

#module .programme>article>figure h1 {
  color: $clair;
  margin: 0;
  text-shadow: 1px 1px 0 $sombre;
}

.programme div {
  display: flex;
}

.programme>article>div {
  flex-flow: row nowrap;
  padding: 10px;
  height: 25%;

  >p {
    flex: 4
  }

  >div {
    flex: 1;
  }

  >app-carrousel {
    flex: 4;
  }
}

.programme>article>div>p {
  padding: 10px 15px;
}

.programme>article>div>div {
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
}

.programme>article>div>div img {
  margin-right: 10px;
}

.programme>article>div>div>div {
  flex-flow: row nowrap;
  align-items: center;
  height: 25%;
  padding: 10px 15px;
}

.progress-bar .mat-mdc-progress-bar {
  align-self: center;
  height: 100%;
  width: 80%;
  border: 1px solid black;
  border-radius: 3px;
  --mdc-linear-progress-active-indicator-color: #f28705;
  --mdc-linear-progress-track-height: 200px;
}

/** PAGES NUTRITIONS */
#nutrition {
  height: calc(100vh - $foot);
  width: calc(100vw - $breadcrumb);
  flex-flow: row nowrap;
}

#nutrition header {
  width: 100%;
  flex-flow: column nowrap;
}
#nutrition h2 {
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  align-items: center;
  width:100%;
}
#nutrition header > form {
  width: 100%;
  flex-flow: row nowrap;
}

#nutrition>section,
#nutrition>section>section {
  height: 100%;
  width: calc(100vw - $breadcrumb);
  flex-flow: column nowrap;
}

#nutrition>section:nth-child(1) {
  flex: 1;
}

#nutrition>section:nth-child(1) header {
  flex: 1;
  height: auto;
}

#nutrition>section:nth-child(1) article {
  height: calc(100% - $foot);
  overflow-x: hidden;
  overflow-y: auto;
  margin: 20px 0;
}

#nutrition>section:nth-child(1) footer {
  height: $breadcrumb;
}

#nutrition>section:nth-child(1) h1,
#nutrition>section:nth-child(1) h2 {
  font-size: 24px;
}

#nutrition>section:nth-child(1) ul {
  padding: 0;
}

#nutrition>section:nth-child(1) ul li {
  cursor: pointer;
  transition: all 0.3s ease;
  list-style: none;
  position: relative;
  padding: 0 15px;
}
#nutrition>section:nth-child(1) ul li app-eval {
  pointer-events: none;
}
#nutrition>section:nth-child(1) ul h2{
  margin:0 0 5px;
}
#nutrition>section:nth-child(1) article > ul > li {
  margin:10px;
  border:1px solid rgba($aside-color1, .4);
  padding:10px;
}
#nutrition>section:nth-child(1) article > ul > li:after {
  // content: '.......................';
  position: absolute;
  right: 0;
  bottom: -5px;
}

#nutrition>section:nth-child(1) ul li:hover {
  transform: scale(1.05);
  font-weight: 600;
}
#nutrition>section:nth-child(1) article > ul > li > ul > li {
  position:relative;
  padding: 0;
}
#nutrition>section:nth-child(1) article > ul > li > div ul > li span {
  content: '.......................';
  position: absolute;
  bottom: 10px;
  display:none;
  opacity: 0;
  transition:all .3s ease;
  font-size: small;
}
#nutrition>section:nth-child(1) article > ul > li > div ul > li:hover span {
  display:block;
  opacity: 1;
  bottom:0;
}
#nutrition>section:nth-child(2) {
  flex: 4;
  padding: 0 30px;
  overflow-x: hidden;
  overflow-y: auto;
}

#nutrition>section:nth-child(2) article {
  flex-flow: column nowrap;
}
#nutrition ::-webkit-scrollbar {
  background-color: #e7adb7;
  width: 10px;
}

#nutrition ::-webkit-scrollbar-thumb {
  height: 200px;
  background-color: #d9042b;
}
/** PAGES OUTILS */
.outils {
  flex-flow: row nowrap;
  width: calc(100vw - $breadcrumb);
  height: 100vh;
}

.outils h1,
.outils h2 {
  font-size: 24px;
  width: 100%;
  clear: both;
  color: $clair;
}

.outils li {
  cursor: pointer;
  transition: all .3s ease;
}

.outils li:hover {
  transform: scale(1.05);
  font-weight: 600;
}

.outils>section {
  flex-flow: column nowrap;
  width: 15%;
  padding: 10px 15px;
}

.outils>section article {
  flex-flow: column nowrap;
}

.outils section:nth-child(1) {
  background-color: #F0C02E;
}

.outils section:nth-child(2) {
  background-color: #F8E6AF;
}

.outils section:nth-child(3) {
  flex: 3;
}

.outils section:nth-child(4) {
  background-color: #F8E6AF;
}

.outils section:nth-child(4) article {
  flex-flow: row wrap;
}

.outils section:nth-child(4) article button {
  font-size: 80%;
  padding: 10px 15px;
  margin: 5px;
}

/** PAGINATION **/
.pagination {
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.pagination mat-icon {
  cursor: pointer;
  transition: all .3s ease;
}

.pagination mat-icon:hover {
  transform: scale(1.1);
}

/** CARROUSEL PROGRAMMES **/
.carousel {
  position: relative;
  height: 100%;
  width: 100%;
  align-items: center;

  >div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .carousel-container {
    display: flex;
    flex-flow: row nowrap;
    transition: transform 0.3s ease-in-out;
    height: 100%;
    width: 100%;
  }

  .carousel-slide {
    position: relative;
    display: flex;
    width: 25% !important;
    height: 100%;

    img {
      height: auto;
      filter: grayscale(1);
      width: 100%;
      transition: filter .3s ease;
    }

    figure {
      height: 100%;
      width: 100%;
      filter: grayscale(1);
      margin: 0;
    }

    p {
      margin: 0;
      padding: 5px 15px;
      position: absolute;
      color: $clair;
      left: 0;
      bottom: 0;
      font-weight: bold;
      transition: all .3s ease;
      max-width: 100%;
      overflow: hidden;
    }
  }

  .carousel-slide:hover {
    transform: scale(1.05);

    img {
      filter: grayscale(0);
    }

    figure {
      filter: grayscale(0);
      background-size: 140%;
    }

    p {
      background-color: $clair;
      color: $sombre;
      padding: 10px;
    }
  }

  .carousel-slide.active {
    img {
      filter: grayscale(0);
    }

    figure {
      filter: grayscale(0);
    }
  }
}

// Modal exercices Kine et Opto
#modalExercices {
  background: url("/assets/images/bg/bg.svg") rgba(242, 183, 5, 0.1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  flex-direction: column;

  article:nth-child(1) {
    display: flex;
    justify-content: end;


    .mat-icon {
      cursor: pointer;
      font-size: 32px;
      height: auto;
      width: auto;
      margin: 5px 5px 0 0px;
    }
  }

  article:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98%;

    .photo-exo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35vh;
      width: 50vw;

      img {
        width: 50%;
      }
    }

    div:nth-child(2) {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: 1.1rem;
      }

      p {
        margin: 25px;
        text-align: justify;
        font-size: 1rem;

        @media screen and (max-width:480px) {
          font-size: 0.9rem;
        }
      }

      div {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          height: 30px;
        }

        p {
          font-size: 0.9rem;
        }
      }
    }

    button {
      width: 12vw;
      height: 4vh;
      font-size: 1rem;
      color: white;
      background-color: $aside-color2;
      margin-bottom: 50px;

      @media screen and (max-width:880px) {
        font-size: 0.9rem;
        width: 170px;
      }

      @media screen and (max-width:480px) {
        font-size: 0.9rem;
        width: 220px;
      }
    }
  }
}

// -----------------------------------------------------------------
// CSS des pages plats et menus
#platMenu {
  @media screen and (max-width: 480px) {
    width: calc(100% + 68px); // Pour l'aside Bar
    align-items: flex-start;
    overflow: auto;
  }
}

#sectionPrincipale {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 480px) {
    //display: none;
    flex-direction: column;
    padding: 10px;
    width: 100%;
  }
}
// AFFICHAGE TABLEAU DE BORD
#tableau {
  height: calc(100vh - 120px);
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  @media screen and (max-width:715px) {
    height: 100vh;
  }

  @media screen and (max-width:481px) {
    align-items: center;
    width: calc(100% + $l);
  }
}
::-webkit-scrollbar {
  background-color: #f0857b;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  // height: 200px;
  background-color: $card-kine;
}
