@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600;800&display=swap');

$font-family: 'Raleway', sans-serif;
$card-nutri: #D9042B;
$card-kine: #F22F1D;
$card-opto: #F28705;
$aside-color1: #270140;
$aside-color2: #805E96;
$aside-color3: #F0C02E;

$clair: white;
$sombre: black;

$head: 60px; // Hauteur de l'entête des pages
$foot: 150px; // Hauteur des menus du bas
$l: 65px; // Largeur du menu de droite qui permet de calculer la largeur des éléments de la page

html {
  height: 100%;
}

body {
  border-spacing: 0;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url('./assets/imgAsidebar/BgVector2.svg'), rgba(242, 183, 5, 0.1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: matrix(1, 0, 0, 1, 0, 0);
  height: 100vh;
  border-spacing: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: $font-family;
}

* {
  box-sizing: border-box;
}

main,
section,
article,
header,
footer {
  display: flex;

}

a {
  text-decoration: none;
  color: $aside-color1;
}

// AFFICHAGE PAGE DE CONNEXION
#actualites {
  height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;

}

#actualites>article:nth-child(1) {
  width: 100%;
  justify-content: space-around;

  img {
    width: 10vw;
  }

  h2 {
    font-size: 2rem;
    font-weight: 400;
    color: $aside-color1;
  }
}

#actualites>article:nth-child(n+2) {
  flex-direction: column;

  h3 {
    color: $aside-color2;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
  }

  img {
    width: 20vw;
  }
}

// Affichage page d'accueil
#accueil {
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

// Titre et description
#accueil>article {
  flex-direction: column;
  align-items: center;
  width: 70%;
  color: $aside-color2;
  margin: 50px;
}

#accueil>article>div {
  display: flex;
  align-items: flex-end;

  h1 {
    margin: 0;
    color: $card-nutri ;
    font-size: 3rem;
    font-weight: 100;
    font-style: normal;
  }
}

p {
  font-size: 1rem;
}

#accueil>article>div::before {
  content: ".........";
}

#accueil>article>div::after {
  content: ".........";
}

// Les 3 Cartes 
#accueil>section:nth-child(2) {
  flex-direction: row;
  justify-content: space-around;
  height: 90%;
}

#accueil>section:nth-child(2) {
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  height: 90%;
}

#accueil>section:nth-child(2)>article {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #ffffff;
  transition: transform 250ms;
  height: 90%;
  width: 22%;

  &:hover {
    transform: translateY(-3vw);
  }

  &:nth-child(1) {
    background-color: $card-opto ;

    button {
      color: $card-opto;
      border-color: $card-opto;
    }
  }

  &:nth-child(2) {
    background-color: $card-nutri ;

    button {
      color: $card-nutri;
      border-color: $card-nutri;
    }
  }

  &:nth-child(3) {
    background-color: $card-kine ;

    button {
      color: $card-kine;
      border-color: $card-kine ;
    }
  }

  &:nth-child(4) {
    background-color: $aside-color3 ;

    button {
      color: $aside-color3;
      border-color: $aside-color3 ;
    }
  }

  h2 {
    font-size: 1.8rem;
    font-weight: 500;
  }

  p {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 15px;
  }

  a {
    button {
      background-color: #ffffff;
      width: 10vw;
      height: 8vh;
      margin-bottom: 1vw;
      font-weight: bolder;
      font-size: 1vw;
      cursor: pointer;
    }

    &:nth-child(2) {
      color: $card-nutri;
    }
  }

  img {
    width: 100%;
  }
}

//HEADER
#head {
  flex-flow: row nowrap;
  height: $head;
  padding: 10px;
  margin: 0;
  align-items: center;
}

#head>a:nth-child(1) {
  font-size: 32px;
  font-weight: 100;
}

#head>a:nth-child(1):after {
  content: '   ......';
  font-size: 50%;
}

#head img {
  width: 30px;
}

#head p {
  font-size: 1.5rem;
  font-weight: 500;
}

#head>* {
  margin: 5px;
  padding: 0;
}

// AFFICHAGE PAGES PROGRAMMES
#programmes {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: $sombre;
  height: calc(100vh - $foot);
}

#programmes>section {
  width: 100%;
  flex-direction: column;
  height: calc(100vh - $head - $foot);
  overflow-x: hidden;
  overflow-y: auto;

}

// search bar
#programmes>article:nth-child(2) {
  width: 100%;
  gap: 1.5vw;
  justify-content: center;

}

#programmes>article:nth-child(3) {
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
}

#programmes>article:nth-child(4) {
  width: 100%;
  height: calc(100vh - $foot );
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  justify-self: center;

}

#programmes article:nth-child(4)>img {
  width: 45vw;
  height: 45vh;

}

// Article de description
#programmes article:nth-child(4)>article>div:nth-child(1) {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#programmes article:nth-child(4)>article>div:nth-child(1) h1 {
  font-size: 1.2rem;
  margin: 0;
}

#programmes article:nth-child(4)>article {
  margin: 10px;
}

#programmes article:nth-child(4)>article>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 20%;
}

// block horloge et materiels
#programmes article:nth-child(4)>article>div:nth-child(2) div {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  height: 50%;
  width: 100%;
}

#programmes article:nth-child(4)>article>div:nth-child(2) div img {
  height: 2vh;
  width: 3vw;
  color: #F22F1D;
}

#programmes article:nth-child(4)>article>div:nth-child(2) div img {
  height: 2vh;
  width: 3vw;
  color: #F22F1D;
}

// AFFICHAGE POUR LES PAGES D'EXERCIES (OPTO ET KINE)
#exercices {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  color: $sombre;
  height: calc(100vh - $foot);
  overflow-y: auto;
  scrollbar-color: $card-nutri #e7adb7;
  scrollbar-width: auto;

}

#exercices>* {
  width: 100%;
}

#exercices>section {
  width: 100%;
  flex-flow: row wrap;
  overflow-x: hidden;
  overflow-y: auto;
  justify-content: space-around;
  height: calc(100vh - $head - $foot);
  overflow-y: auto;
  scrollbar-color: $card-nutri #d3354f;
  scrollbar-width: auto;
}

#exercices>footer {
  height: $foot;
  width: calc(100vw - $l)
}

#exercices article {
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 20%;
  background: $clair;
  padding: 10px;
  margin: 5px;
}

#exercice article>img {
  max-height: 60%;
}

#exercices article>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  height: 40%;

}

#exercices article>div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

#exercices article>div:nth-child(3) {
  gap: 1vw;
}

#exercices article>figure {
  width: 100%;
  margin: -10px -10px 0;
  background-size: contain;
  background-position: 50%;
}

// CSS des pages plats et menus


#sectionPrincipale {
  display: flex;
  flex-direction: row;
}

// La partie gauche avec la liste des plats/menus enregistrés
#sectionPrincipale>#listePlats {
  height: calc(100vh - $head - $foot);
  width: 30%;
  padding-top: 5vh;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: auto;
  align-items: center;

  #ajoutButton {
    // Le bouton 1 - Ajouter un nouveau plat
    background-color: #33BB27;
    width: 75%;
    padding: 4vh 2vw;
    font-size: 1vw;
    color: black;
  }

  .mat-ripple mat-mdc-button-ripple {
    height: 10vh;
  }

  h1 {
    // La balise <h1>Reprendre un repas précédent</h1>
    color: $card-nutri;
    font-weight: 100;
    font-size: 1.4rem;
    margin: 5vh 0 2vh 0;

    @media screen and (max-width : 1200px) {
      font-size: 1.1rem;
    }
  }

  #evalBouton {
    // Article qui contient les 3 boutons pour évaluer 
    display: flex;
    flex-direction: row;
    gap: 2vw;
    //padding-left: 1vw;
    margin-bottom: 1vh;

    //width: 80%;
    button {
      // Code s'appliquant aux 3 boutons
      width: 7vw;
      height: 4vh;
      font-size: 0.6vw;
      color: white;
    }

    button:nth-child(1) {
      // Le bouton plats non évalués
      background-color: #33BB27;
    }

    button:nth-child(2) {
      // Le bouton plats non évalués
      background-color: #F28705;
    }

    button:nth-child(3) {
      background-color: #D9042B; // Le bouton Plats évalués et problématiques
    }
  }

  #listing {
    // Article contenant la liste des plats enregistrés
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 1vw;

    div {
      // Div avec le *ngFor
      display: flex;
      flex-direction: column;

      h2 {
        // Balise <h2>{{ plat.nom }}</h2>
        margin: 2vh 2vh 0 0;
        font-size: 1.4rem;
        font-weight: 500;

        @media screen and (max-width : 1200px) {
          font-size: 1.1rem;
        }
      }

      p {
        margin: 0.5vh 0 1vh 0;

        @media screen and (max-width : 1200px) {
          font-size: 0.8rem;
        }
      }

      div {
        // Contient un bouton, 2 images et 2 balise
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        button {
          background-color: #F28705;
          width: 5vw;
          height: 3vh;
          font-size: 0.6vw;
          color: white;
          margin-right: 2vw;
        }

        img {
          // Les 2 images ( horloge et casserole )
          height: 2vh;
          width: 2vw;
        }

        p {
          padding: 1vh;
          font-size: 0.8vw;
        }

        #dashed {
          // Pour souligner la balise <p>Matériels</p>
          border-bottom: dashed black 1px;
        }
      }
    }
  }
}

// La partie droite avec la fonction de création d'un plat
#sectionPrincipale article:nth-child(2) {
  height: calc(100vh - $head - $foot);
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 4vw;
  padding-right: 4vw;
  overflow: auto;

  h3 {
    // La balise <h3>2 - Ajouter un plat</h3>
    font-size: 1.6rem;
    font-weight: 500;
    color: #4A4A4A;

    @media screen and (max-width : 1200px) {
      font-size: 1.3rem;
    }
  }

  #selectBalise {
    // La div qui contient les 3 balises select
    border-bottom: dashed black 1px;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;

    img {
      // L'icône d'ajout 
      height: 3vh;
      width: 3vh;
    }

    mat-form-field:nth-child(3) {
      // La balise select "Les plats de la communautés"
      width: 18vw;
    }
  }

  mat-label {
    // Le labell des balises select
    font-size: 0.9rem;

    @media screen and (max-width : 1200px) {
      font-size: 0.8rem;
    }
  }

  h4 {
    // La balise <h4>Tourte aux champignons</h4>
    font-size: 1.6rem;
    font-weight: 700;
    color: #4A4A4A;
    margin: 2vh 0 0 0;

    @media screen and (max-width : 1200px) {
      font-size: 1.3rem;
    }
  }

  textarea {
    min-height: 10vh;
  }

  div:nth-child(6) {
    // La div sous le textarea
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: dashed black 1px;
    border-bottom: dashed black 1px;
  }

  #ajouter {
    // La balise select AJOUTER
    width: 10vw;

    @media screen and (max-width : 1200px) {
      width: 12vw;
    }
  }

  div:nth-child(10) {
    // La div avec les 2 boutons annuler & valider
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1vw;
    border-bottom: dashed black 1px;
    padding: 2vh;

    button:nth-child(1) {
      background-color: #F28705;
      //font-size: 0.9vw;
    }

    button:nth-child(2) {
      background-color: #33BB27;
    }

  }
}

/* -----Ci-dessous CSS pour la barre de menu à gauche dans les pages Journal et Messagerie----- */
// Section permettant de voir les medecins et les réalisations
#menuJournalMessage {
  background-color: $aside-color3;
  width: 13%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  align-items: center;
  gap: 1vw;

  article:nth-child(1) {
    a {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      text-decoration: none;
      width: 100%;
      color: #ffffff;
      font-size: 4rem;
      font-weight: 100;

      span {
        // Le gros logo Tiaki
        font-weight: 100;
        margin: 0;
        padding: 0;

        @media screen and (max-width: 1200px) {
          font-size: 3rem;
        }
      }
    }

    span:before {
      content: '........';
      font-size: 50%;
    }

    span:after {
      content: '........';
      font-size: 50%;
    }
  }

  article:nth-child(2) {
    border-bottom: 1px white dashed;
    margin-left: 0.5vw;

    h1 {
      // La balise <h1>Journaux de suivi</h1>
      margin: 0;
      font-size: 1.5rem;
      font-weight: 700;
      width: 60%;

      @media only screen and (max-width: 1280px) {
        font-size: 1.2rem;
      }
    }
  }

  .medecin {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    height: 30%;
    width: 100%;
    margin-left: 1vw;

    div {
      display: flex;
      align-items: flex-end;
      gap: 9px;
      justify-content: flex-start;

      img {
        width: 3vw;
      }

      h2 {
        // La balise <h2>Médecins</h2>
        margin: 0;
        font-size: 1.2rem;
        font-weight: 600;

        @media only screen and (max-width: 1330px) {
          font-size: 0.8rem;
        }
      }
    }

    ul {
      li {
        margin-bottom: 15px;
        font-size: 0.9rem;

        @media only screen and (max-width: 1330px) {
          font-size: 0.6rem;
        }
      }
    }
  }

  .realisation {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 30%;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 1vw;

    div {
      display: flex;
      align-items: flex-end;
      gap: 9px;
      justify-content: flex-start;

      img {
        width: 3vw;
      }

      h2 {
        // La balise <h2>Réalisations</h2>
        margin: 0;
        font-size: 1.2rem;
        font-weight: 600;

        @media only screen and (max-width: 1330px) {
          font-size: 0.8rem;
        }
      }
    }

    ul {
      li {
        margin-bottom: 15px;
        font-size: 0.9rem;

        @media only screen and (max-width: 1330px) {
          font-size: 0.6rem;
        }
      }
    }
  }
}


#sectionPrincipale {
  display: flex;
  flex-direction: row;
}

// La partie gauche avec la liste des plats/menus enregistrés
#sectionPrincipale>#listePlats {
  height: calc(100vh - $head - $foot);
  width: 30%;
  padding-top: 5vh;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: auto;
  align-items: center;

  #ajoutButton {
    // Le bouton 1 - Ajouter un nouveau plat
    background-color: #33BB27;
    width: 75%;
    padding: 4vh 2vw;
    font-size: 1vw;
    color: black;
  }

  .mat-ripple mat-mdc-button-ripple {
    height: 10vh;
  }

  h1 {
    // La balise <h1>Reprendre un repas précédent</h1>
    color: $card-nutri;
    font-weight: 100;
    font-size: 1.4rem;
    margin: 5vh 0 2vh 0;

    @media screen and (max-width : 1200px) {
      font-size: 1.1rem;
    }
  }

  #evalBouton {
    // Article qui contient les 3 boutons pour évaluer 
    display: flex;
    flex-direction: row;
    gap: 2vw;
    //padding-left: 1vw;
    margin-bottom: 1vh;

    //width: 80%;
    button {
      // Code s'appliquant aux 3 boutons
      width: 7vw;
      height: 4vh;
      font-size: 0.6vw;
      color: white;
    }

    button:nth-child(1) {
      // Le bouton plats non évalués
      background-color: #33BB27;
    }

    button:nth-child(2) {
      // Le bouton plats non évalués
      background-color: #F28705;
    }

    button:nth-child(3) {
      background-color: #D9042B; // Le bouton Plats évalués et problématiques
    }
  }

  #listing {
    // Article contenant la liste des plats enregistrés
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 1vw;

    div {
      // Div avec le *ngFor
      display: flex;
      flex-direction: column;

      h2 {
        // Balise <h2>{{ plat.nom }}</h2>
        margin: 2vh 2vh 0 0;
        font-size: 1.4rem;
        font-weight: 500;

        @media screen and (max-width : 1200px) {
          font-size: 1.1rem;
        }
      }

      p {
        margin: 0.5vh 0 1vh 0;

        @media screen and (max-width : 1200px) {
          font-size: 0.8rem;
        }
      }

      div {
        // Contient un bouton, 2 images et 2 balise
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        button {
          background-color: #F28705;
          width: 5vw;
          height: 3vh;
          font-size: 0.6vw;
          color: white;
          margin-right: 2vw;
        }

        img {
          // Les 2 images ( horloge et casserole )
          height: 2vh;
          width: 2vw;
        }

        p {
          padding: 1vh;
          font-size: 0.8vw;
        }

        #dashed {
          // Pour souligner la balise <p>Matériels</p>
          border-bottom: dashed black 1px;
        }
      }
    }
  }
}

// La partie droite avec la fonction de création d'un plat
#sectionPrincipale article:nth-child(2) {
  height: calc(100vh - $head - $foot);
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 4vw;
  padding-right: 4vw;
  overflow: auto;

  h3 {
    // La balise <h3>2 - Ajouter un plat</h3>
    font-size: 1.6rem;
    font-weight: 500;
    color: #4A4A4A;

    @media screen and (max-width : 1200px) {
      font-size: 1.3rem;
    }
  }

  #selectBalise {
    // La div qui contient les 3 balises select
    border-bottom: dashed black 1px;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;

    img {
      // L'icône d'ajout 
      height: 3vh;
      width: 3vh;
    }

    mat-form-field:nth-child(3) {
      // La balise select "Les plats de la communautés"
      width: 18vw;
    }
  }

  mat-label {
    // Le labell des balises select
    font-size: 0.9rem;

    @media screen and (max-width : 1200px) {
      font-size: 0.8rem;
    }
  }

  h4 {
    // La balise <h4>Tourte aux champignons</h4>
    font-size: 1.6rem;
    font-weight: 700;
    color: #4A4A4A;
    margin: 2vh 0 0 0;

    @media screen and (max-width : 1200px) {
      font-size: 1.3rem;
    }
  }

  textarea {
    min-height: 10vh;
  }

  div:nth-child(6) {
    // La div sous le textarea
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: dashed black 1px;
    border-bottom: dashed black 1px;
  }

  #ajouter {
    // La balise select AJOUTER
    width: 10vw;

    @media screen and (max-width : 1200px) {
      width: 12vw;
    }
  }

  div:nth-child(10) {
    // La div avec les 2 boutons annuler & valider
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1vw;
    border-bottom: dashed black 1px;
    padding: 2vh;

    button:nth-child(1) {
      background-color: #F28705;
      //font-size: 0.9vw;
    }

    button:nth-child(2) {
      background-color: #33BB27;
    }

  }
}

/* -----Ci-dessous CSS pour la barre de menu à gauche dans les pages Journal et Messagerie----- */
// Section permettant de voir les medecins et les réalisations
#menuJournalMessage {
  background-color: $aside-color3;
  width: 13%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  align-items: center;
  gap: 1vw;

  article:nth-child(1) {
    a {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      text-decoration: none;
      width: 100%;
      color: #ffffff;
      font-size: 4rem;
      font-weight: 100;

      span {
        // Le gros logo Tiaki
        font-weight: 100;
        margin: 0;
        padding: 0;

        @media screen and (max-width: 1200px) {
          font-size: 3rem;
        }
      }
    }

    span:before {
      content: '........';
      font-size: 50%;
    }

    span:after {
      content: '........';
      font-size: 50%;
    }
  }

  article:nth-child(2) {
    border-bottom: 1px white dashed;
    margin-left: 0.5vw;
    width: 90%;

    h1 {
      // La balise <h1>Journaux de suivi</h1>
      margin: 0;
      font-size: 1.5rem;
      font-weight: 700;
      width: 60%;

      @media only screen and (max-width: 1280px) {
        font-size: 1.2rem;
      }
    }
  }

  .medecin {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    height: 30%;
    width: 100%;
    margin-left: 1vw;

    div {
      display: flex;
      align-items: flex-end;
      gap: 9px;
      justify-content: flex-start;

      img {
        width: 3vw;
      }

      h2 {
        // La balise <h2>Médecins</h2>
        margin: 0;
        font-size: 1.2rem;
        font-weight: 600;

        @media only screen and (max-width: 1330px) {
          font-size: 0.8rem;
        }
      }
    }

    ul {
      li {
        margin-bottom: 15px;
        font-size: 0.9rem;

        @media only screen and (max-width: 1330px) {
          font-size: 0.6rem;
        }
      }
    }
  }

  .realisation {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 30%;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 1vw;

    div {
      display: flex;
      align-items: flex-end;
      gap: 9px;
      justify-content: flex-start;

      img {
        width: 3vw;
      }

      h2 {
        // La balise <h2>Réalisations</h2>
        margin: 0;
        font-size: 1.2rem;
        font-weight: 600;

        @media only screen and (max-width: 1330px) {
          font-size: 0.8rem;
        }
      }
    }

    ul {
      li {
        margin-bottom: 15px;
        font-size: 0.9rem;

        @media only screen and (max-width: 1330px) {
          font-size: 0.6rem;
        }
      }
    }
  }
}

// AFFICHAGE TABLEAU DE BORD

#tableau {
  height: calc(100vh - 120px);
  width: 100%;
  display: flex;
  flex-direction: column;
}