$font-family: 'Raleway', sans-serif;
$card-nutri:#D9042B;
$card-kine: #F22F1D;
$card-opto: #F28705;
$aside-color1:#270140;
$aside-color2:#805E96;
$aside-color3:#F0C02E;

aside{
    height: 100vh;
    width:4vw;
    float: right;

    section:nth-child(n+3){
        background-color: $aside-color2;
    }
    section:nth-child(n+6){
        background-color: $aside-color3;
    }
    section{
    display: flex;
    flex-direction: column;
    height: 10%;
    justify-content: space-evenly;
    background-color:  $aside-color1;

    article{
        
        a{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #ffffff;
        }
    }

    }
}