<section id="exercices">
  <header id="head">
    <a routerLink="/intranet"><span>Tiaki</span></a>
    <p>Kinésithérapie ></p>
    <img [src]="avatar" />
    <p>Le parcours de Cheer Émilie</p>
  </header>
  <section class="exercice">
    <article *ngFor="let exercice of exercicesFiltres">
      <div class="photo-exo">
        <img [src]="sanity.urlFor(exercice.photo).url()" alt="photo-exercice" />
      </div>
      <div>
        <div>
          <h6>{{ exercice.title }}</h6>
          <div>
            <img src="assets/iconeKineOpto/horloge.svg" alt="horloge" />
            <p>Durée</p>
            <img src="assets/iconeKineOpto/materiel.svg" alt="materiel" />
            <p>Matériels</p>
          </div>
          <p>{{ exercice.description }}</p>
        </div>
      </div>
    </article>
  </section>
</section>
<!-- <app-footer></app-footer> -->
<app-bottom-bar-kine></app-bottom-bar-kine>
