#exercices>header,
#exercices>header a {
  color: #af6ee4;
}

#exercices {
  ::-webkit-scrollbar {
    background-color: #af6ee4;
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    height: 200px;
    background-color: #af6ee4;
  }
}