  <section id="exercices">
    <header id="head">
      <a routerLink="/"><span>Tiaki</span></a>
        <p>Kinésithérapie ></p>
        <img [src]="avatar" />
        <p>Le parcours de Cheer Émilie</p>
    </header>
    <section>
      <article *ngFor="let exercice of exercices">
        <img [src]="exercice.photo" alt="photo-exercice" />
        <h1>{{ exercice.titre }}</h1>
        <p>{{ exercice.description }}</p>
        <div>
          <img [src]="exercice.horloge" alt="horloge" />
          <p>Durée</p>
          <img [src]="exercice.materiel" alt="materiel" />
          <p>Matériels</p>
        </div>
        <!-- bar de progression -->
      </article>
    </section>
  </section>
