#exercices > header, #exercices > header a {
  color:#F22F1D;
}
#exercices{
  ::-webkit-scrollbar {
    background-color: #f09c94;
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    height: 200px;
    background-color: #f22f1d;
  }
}