<!-- <section>
  <article>
    <img src="assets/imgConnexion/twinkle.svg" alt="logoTwinkle">
    <div>
      <h2> Bienvenue sur l'application TIAKI</h2>
      <p>Application actuellement en cours de développement</p>
    </div>
    <img src="assets/imgConnexion/tiaki.svg" alt="logoTiaki">
  </article>
  <button routerLink="/intranet" >Accéder à l'application</button> -->
  <!-- <article *ngFor="let actu of actus.actualites" >
      <h3>{{actu.titre}}</h3>
      <p>{{actu.description}}</p>
      <img [src]="actu.image.url" [alt]="actu.image.alt">
  </article> -->
<!-- </section>   -->